FORMAT: 1A
HOST: https://api.civil.services/v1

# API

![Civil Services Logo](https://cdn.civil.services/common/github-logo.png "Civil Services Logo")

Civil Services is a collection of tools that make it possible for citizens to be a part of what is happening in their Local, State & Federal Governments.

* _Maintained By:_ __[Peter Schmalfeldt](mailto:me@peterschmalfeldt.com)__
* _Last Modified:_ __March 15th, 2017__
* _Current API Version:_ __v1.0.0__

__IMPORTANT:__ Currently, our API is only open for select non-commercial use.  If you are interested in obtaining an API Key ( required for access ), please contact [hello@civil.services](mailto:hello@civil.services) or [Join us on Slack](https://slack.civil.services/bkx7n2).

[![API Documentation](https://raw.githubusercontent.com/CivilServiceUSA/api/master/docs/img/apiary.jpg)](http://docs.civilservices.apiary.io)

## Join us on Slack

__[Join us on Slack](https://slack.civil.services/bkx7n2)__ if you need help using our API, or you are interested in contributing.

[![Slack Team Invite](https://cdn.civil.services/common/slack-invite.png)](https://slack.civil.services/bkx7n2)


# Group API Basics

## API Overview

Our API has a default Rate Limit by IP Address to `2500` calls per day. We add the following headers so you can monitor your API Rate:

* __X-Rate-Limit-Limit__: The rate limit ceiling for that given request
* __X-Rate-Limit-Remaining__: The number of requests left for the 24 hour window
* __X-Rate-Limit-Reset__: The remaining window before the rate limit resets in UTC [epoch seconds](http://en.wikipedia.org/wiki/Unix_time)

If a specific IP Address exceeds this limit, the API will return a 429 HTTP JSON Response Error.  A sample of this is provided in the Artwork API endpoint.

## API Authentication

Our API requires an API Key to use.  We are not providing API Keys to the general public at this time.  You likely received an API Key before accessing this documentation, if not, please contact the individual who sent you here.

## You can set the API Key one of two ways

#### Request Header:

* __API-Key__ `243CEA2E-7E63-D2C4-3D2D-1A114288274B` _( this is not an actual API Key )_

#### GET Parameter:

* __?apikey=__ `243CEA2E-7E63-D2C4-3D2D-1A114288274B`

### HTTP Request Method Limits

### Common API Responses

The following parameters are available on every API endpoint and used for pagination
for if there are a lot of results.

+ `notices` (array, optional) - An array of API Notices.  These notices are for the API to let the Developer know something that might be helpful, but will not impact the API results. 
+ `warnings` (array, optional) - An array of API Warnings.  These warnings explain why the API might have had issues returning results.
+ `errors` (array, optional) - An array of API Errors.  These errors explain why the API prevented returning results.
+ `field_errors` (object, optional) - If the error was in regards to data entry, any errors specific to an input field will return here with the input name and error message.
+ `meta` (object) - The META data object that contains the basic information about the API response.
+ `meta.total` (number) - Total number of all results.  Not just the number returned in the API call.
+ `meta.showing` (number) - Number of results returned in the current API call ( may be less than total results ).
+ `meta.pages` (number) - Number of pages of results.  This is based on the `total` results divided by the `pageSize`.
+ `meta.page` (number) - Current Page
+ `data` (object or array) - This is the the actual data returned for the API call.  For API calls that are expected to return a single result, the `data` will be an Object.  For API calls that are expecting multiple items returned, `data` will be returned as an array ( even if there is only one item returned, such as search results, etc ).

__Response 200:__ (application/json)

        {
            "notices": [],
            "warnings": [],
            "errors": [],
            "field_errors": {},
            "meta": {
                "total": 97,
                "showing": 30,
                "pages": 4,
                "page": 1
            },
            "data": [
                ...
            ]
        }

__Response 403:__ (application/json)

        {
            "notices": [],
            "warnings": [],
            "errors": ["Missing API Key"],
            "field_errors": {},
            "meta": {
                "total": 0,
                "showing": 0,
                "pages": 1,
                "page": 1
            },
            "data": []
        }

### Optional API Params

The following parameters are available on most API endpoint and used for pagination
for if there are a lot of results.

+ `pageSize` (number, optional) - How many results to return in a single API call. Defaults to 30
+ `page` (number, optional) - If there is more than one page of results, you can set which page to load here
+ `pretty` (optional) - If you want to format the JSON response to be human readable, just add a `pretty` param in the API call ( it does not need a value )

### Request Authorization Header

* __Authorization:__ Bearer `token`

An example API Header would look like this:

```
curl --data '' https://api.civil.services/v1/user/refresh/ -H "Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VySWQiOiIyIiwiaWF0IjoxNDUxNzEyNzg0LCJleHAiOjE0NTIzMTc1ODQsImlzcyI6IkRvaW5nIEFQSSJ9.x3eJutiulLnJCJkl_jP9ETj43ihePVeMtaWgWF0I60w"
```

# Group Geolocation Endpoints

The following endpoints are for specific data related to Zip Codes and Geolocation data.

## Zipcode [/geolocation/zipcode/{zipcode}]

Fetch details for Specific Zipcode

+ Parameters
    + zipcode (string) -  Unique Zip Code

### Get Zipcode [GET]

+ Response 200 (application/json)

        {
          "notices": [],
          "warnings": [],
          "errors": [],
          "field_errors": {},
          "meta": {
            "total": 1,
            "showing": 1,
            "pages": 1,
            "page": 1
          },
          "data": [
            {
              "alternate_city_names": [
                "St Petersburg"
              ],
              "area_codes": [
                "727"
              ],
              "city": "Saint Petersburg",
              "country": "US",
              "county": "Pinellas County",
              "estimated_population": 12000,
              "location": {
                "lat": 27.75,
                "lon": -82.64
              },
              "state": "FL",
              "timezone": "America/New_York",
              "type": "standard",
              "zipcode": "33701"
            }
          ],
          "attribution": {
            "text": "Data Provided by Civil Services",
            "website": "https://civil.services",
            "link": "<a href=\"https://civil.services\">Data Provided by Civil Services</a>",
            "license": "https://raw.githubusercontent.com/CivilServiceUSA/api/master/LICENSE",
            "logo": "https://cdn.civil.services/common/logo.png",
            "icon": "https://cdn.civil.services/common/icon.png"
          }
        }

## IP Address [/geolocation/ip/{ipaddress}]

Fetch details for Specific IP Address

+ Parameters
    + ipaddress (optional, string) -  IP Address to Lookup.
        + Default: Requester's IP Address

### Get IP Address [GET]

+ Response 200 (application/json)


        {
          "notices": [],
          "warnings": [],
          "errors": [],
          "field_errors": {},
          "meta": {
            "total": 1,
            "showing": 1,
            "pages": 1,
            "page": 1
          },
          "data": {
            "city": {
              "geoname_id": 4171563,
              "names": {
                "en": "St. Petersburg"
              }
            },
            "continent": {
              "code": "NA",
              "geoname_id": 6255149,
              "names": {
                "de": "Nordamerika",
                "en": "North America",
                "es": "Norteamérica",
                "fr": "Amérique du Nord",
                "ja": "北アメリカ",
                "pt-BR": "América do Norte",
                "ru": "Северная Америка",
                "zh-CN": "北美洲"
              }
            },
            "country": {
              "geoname_id": 6252001,
              "iso_code": "US",
              "names": {
                "de": "USA",
                "en": "United States",
                "es": "Estados Unidos",
                "fr": "États-Unis",
                "ja": "アメリカ合衆国",
                "pt-BR": "Estados Unidos",
                "ru": "США",
                "zh-CN": "美国"
              }
            },
            "location": {
              "accuracy_radius": 1,
              "latitude": 27.7723,
              "longitude": -82.6341,
              "metro_code": 539,
              "time_zone": "America/New_York"
            },
            "postal": {
              "code": "33701"
            },
            "registered_country": {
              "geoname_id": 6252001,
              "iso_code": "US",
              "names": {
                "de": "USA",
                "en": "United States",
                "es": "Estados Unidos",
                "fr": "États-Unis",
                "ja": "アメリカ合衆国",
                "pt-BR": "Estados Unidos",
                "ru": "США",
                "zh-CN": "美国"
              }
            },
            "subdivisions": [
              {
                "geoname_id": 4155751,
                "iso_code": "FL",
                "names": {
                  "en": "Florida",
                  "es": "Florida",
                  "fr": "Floride",
                  "ja": "フロリダ州",
                  "pt-BR": "Flórida",
                  "ru": "Флорида",
                  "zh-CN": "佛罗里达州"
                }
              }
            ]
          },
          "attribution": {
            "text": "Data Provided by Civil Services",
            "website": "https://civil.services",
            "link": "<a href=\"https://civil.services\">Data Provided by Civil Services</a>",
            "license": "https://raw.githubusercontent.com/CivilServiceUSA/api/master/LICENSE",
            "logo": "https://cdn.civil.services/common/logo.png",
            "icon": "https://cdn.civil.services/common/icon.png"
          }
        }

## Geolocation [/geolocation/?zipcode={zipcode}&city={city}&county={county}&state={state}&type={type}&areaCode={areaCode}&timezone={timezone}&minPopulation={minPopulation}&maxPopulation={maxPopulation}&latitude={latitude}&longitude={longitude}&distance={distance}]

Get Location Specific Data using any combination of filters.

+ Parameters
    + zipcode (optional, string) - Unique Zip Code
    + city (optional, string) - City to use as Filter
    + county (optional, string) - County to use as Filter
    + state (optional, string) - State to use as Filter
    + areaCode (optional, number) - Area Code of Phone Number to use as Filter
    + timezone (optional, string) - Time Zone of Location ( e.g. America/New_York )
    + minPopulation (optional, number) - Minimum Population of Location
    + maxPopulation (optional, number) - Maximum Population of Location
    + latitude (optional, number) - Latitude to base Location on
    + longitude (optional, number) - Longitude to base Location on
    + distance (optional, string) - Distance from Latitude & Longitude ( e.g. 5mi, 10km )

### Get Location [GET]

+ Response 200 (application/json)

        {
          "notices": [],
          "warnings": [],
          "errors": [],
          "field_errors": {},
          "meta": {
            "total": 73,
            "showing": 30,
            "pages": 3,
            "page": 1
          },
          "data": [
            {
              "alternate_city_names": [
                "St Petersburg"
              ],
              "area_codes": [
                "727"
              ],
              "city": "Saint Petersburg",
              "country": "US",
              "county": "Pinellas County",
              "estimated_population": 12000,
              "location": {
                "lat": 27.75,
                "lon": -82.64
              },
              "state": "FL",
              "timezone": "America/New_York",
              "type": "standard",
              "zipcode": "33701"
            },
            {
              "alternate_city_names": [
                "St Petersburg"
              ],
              "area_codes": [
                "727"
              ],
              "city": "Saint Petersburg",
              "country": "US",
              "county": "Pinellas County",
              "estimated_population": 25220,
              "location": {
                "lat": 27.75,
                "lon": -82.64
              },
              "state": "FL",
              "timezone": "America/New_York",
              "type": "standard",
              "zipcode": "33702"
            },
            {
              "alternate_city_names": [
                "St Petersburg"
              ],
              "area_codes": [
                "727"
              ],
              "city": "Saint Petersburg",
              "country": "US",
              "county": "Pinellas County",
              "estimated_population": 20650,
              "location": {
                "lat": 27.75,
                "lon": -82.64
              },
              "state": "FL",
              "timezone": "America/New_York",
              "type": "standard",
              "zipcode": "33703"
            },
            {
              "alternate_city_names": [
                "St Petersburg"
              ],
              "area_codes": [
                "727"
              ],
              "city": "Saint Petersburg",
              "country": "US",
              "county": "Pinellas County",
              "estimated_population": 14520,
              "location": {
                "lat": 27.75,
                "lon": -82.64
              },
              "state": "FL",
              "timezone": "America/New_York",
              "type": "standard",
              "zipcode": "33704"
            },
            {
              "alternate_city_names": [
                "St Petersburg"
              ],
              "area_codes": [
                "727"
              ],
              "city": "Saint Petersburg",
              "country": "US",
              "county": "Pinellas County",
              "estimated_population": 21220,
              "location": {
                "lat": 27.75,
                "lon": -82.64
              },
              "state": "FL",
              "timezone": "America/New_York",
              "type": "standard",
              "zipcode": "33705"
            },
            {
              "alternate_city_names": [
                "Pass A Grille",
                "Pass A Grille Beach",
                "Saint Pete Beach",
                "St Pete Bch",
                "St Pete Beach",
                "St Petersburg",
                "St Petersburg Beach",
                "Treasure Is",
                "Treasure Island"
              ],
              "area_codes": [
                "727"
              ],
              "city": "Saint Petersburg",
              "country": "US",
              "county": "Pinellas County",
              "estimated_population": 12770,
              "location": {
                "lat": 27.75,
                "lon": -82.64
              },
              "state": "FL",
              "timezone": "America/New_York",
              "type": "standard",
              "zipcode": "33706"
            },
            {
              "alternate_city_names": [
                "Gulfport",
                "S Pasadena",
                "South Pasadena",
                "St Pete Beach",
                "St Petersburg"
              ],
              "area_codes": [
                "727"
              ],
              "city": "Saint Petersburg",
              "country": "US",
              "county": "Pinellas County",
              "estimated_population": 19010,
              "location": {
                "lat": 27.75,
                "lon": -82.64
              },
              "state": "FL",
              "timezone": "America/New_York",
              "type": "standard",
              "zipcode": "33707"
            },
            {
              "alternate_city_names": [
                "Madeira Beach",
                "N Redngtn Bch",
                "North Redington Beach",
                "Redingtn Shor",
                "Redington Bch",
                "Redington Beach",
                "Redington Shores",
                "St Petersburg"
              ],
              "area_codes": [
                "727"
              ],
              "city": "Saint Petersburg",
              "country": "US",
              "county": "Pinellas County",
              "estimated_population": 12810,
              "location": {
                "lat": 27.75,
                "lon": -82.64
              },
              "state": "FL",
              "timezone": "America/New_York",
              "type": "standard",
              "zipcode": "33708"
            },
            {
              "alternate_city_names": [
                "Kenneth City",
                "St Petersburg"
              ],
              "area_codes": [
                "727"
              ],
              "city": "Saint Petersburg",
              "country": "US",
              "county": "Pinellas County",
              "estimated_population": 19720,
              "location": {
                "lat": 27.75,
                "lon": -82.64
              },
              "state": "FL",
              "timezone": "America/New_York",
              "type": "standard",
              "zipcode": "33709"
            },
            {
              "alternate_city_names": [
                "St Petersburg"
              ],
              "area_codes": [
                "727"
              ],
              "city": "Saint Petersburg",
              "country": "US",
              "county": "Pinellas County",
              "estimated_population": 29140,
              "location": {
                "lat": 27.75,
                "lon": -82.64
              },
              "state": "FL",
              "timezone": "America/New_York",
              "type": "standard",
              "zipcode": "33710"
            },
            {
              "alternate_city_names": [
                "Gulfport",
                "St Petersburg"
              ],
              "area_codes": [
                "727"
              ],
              "city": "Saint Petersburg",
              "country": "US",
              "county": "Pinellas County",
              "estimated_population": 14720,
              "location": {
                "lat": 27.75,
                "lon": -82.64
              },
              "state": "FL",
              "timezone": "America/New_York",
              "type": "standard",
              "zipcode": "33711"
            },
            {
              "alternate_city_names": [
                "St Petersburg"
              ],
              "area_codes": [
                "727"
              ],
              "city": "Saint Petersburg",
              "country": "US",
              "county": "Pinellas County",
              "estimated_population": 21690,
              "location": {
                "lat": 27.75,
                "lon": -82.64
              },
              "state": "FL",
              "timezone": "America/New_York",
              "type": "standard",
              "zipcode": "33712"
            },
            {
              "alternate_city_names": [
                "St Petersburg"
              ],
              "area_codes": [
                "727"
              ],
              "city": "Saint Petersburg",
              "country": "US",
              "county": "Pinellas County",
              "estimated_population": 25810,
              "location": {
                "lat": 27.75,
                "lon": -82.64
              },
              "state": "FL",
              "timezone": "America/New_York",
              "type": "standard",
              "zipcode": "33713"
            },
            {
              "alternate_city_names": [
                "St Petersburg"
              ],
              "area_codes": [
                "727"
              ],
              "city": "Saint Petersburg",
              "country": "US",
              "county": "Pinellas County",
              "estimated_population": 14240,
              "location": {
                "lat": 27.75,
                "lon": -82.64
              },
              "state": "FL",
              "timezone": "America/New_York",
              "type": "standard",
              "zipcode": "33714"
            },
            {
              "alternate_city_names": [
                "St Petersburg",
                "Tierra Verde"
              ],
              "area_codes": [
                "727"
              ],
              "city": "Saint Petersburg",
              "country": "US",
              "county": "Pinellas County",
              "estimated_population": 6370,
              "location": {
                "lat": 27.75,
                "lon": -82.64
              },
              "state": "FL",
              "timezone": "America/New_York",
              "type": "standard",
              "zipcode": "33715"
            },
            {
              "alternate_city_names": [
                "St Petersburg"
              ],
              "area_codes": [
                "727"
              ],
              "city": "Saint Petersburg",
              "country": "US",
              "county": "Pinellas County",
              "estimated_population": 13940,
              "location": {
                "lat": 27.75,
                "lon": -82.64
              },
              "state": "FL",
              "timezone": "America/New_York",
              "type": "standard",
              "zipcode": "33716"
            },
            {
              "alternate_city_names": [
                "Home Shopping",
                "St Petersburg"
              ],
              "area_codes": [
                "727"
              ],
              "city": "Saint Petersburg",
              "country": "US",
              "county": "Pinellas County",
              "estimated_population": 0,
              "location": {
                "lat": 27.75,
                "lon": -82.64
              },
              "state": "FL",
              "timezone": "America/New_York",
              "type": "unique",
              "zipcode": "33729"
            },
            {
              "alternate_city_names": [
                "St Petersburg"
              ],
              "area_codes": [
                "727"
              ],
              "city": "Saint Petersburg",
              "country": "US",
              "county": "Pinellas County",
              "estimated_population": 0,
              "location": {
                "lat": 27.75,
                "lon": -82.64
              },
              "state": "FL",
              "timezone": "America/New_York",
              "type": "standard",
              "zipcode": "33730"
            },
            {
              "alternate_city_names": [
                "St Petersburg"
              ],
              "area_codes": [
                "727"
              ],
              "city": "Saint Petersburg",
              "country": "US",
              "county": "Pinellas County",
              "estimated_population": 821,
              "location": {
                "lat": 27.75,
                "lon": -82.64
              },
              "state": "FL",
              "timezone": "America/New_York",
              "type": "po box",
              "zipcode": "33731"
            },
            {
              "alternate_city_names": [
                "St Petersburg"
              ],
              "area_codes": [
                "727"
              ],
              "city": "Saint Petersburg",
              "country": "US",
              "county": "Pinellas County",
              "estimated_population": 445,
              "location": {
                "lat": 27.75,
                "lon": -82.64
              },
              "state": "FL",
              "timezone": "America/New_York",
              "type": "po box",
              "zipcode": "33732"
            },
            {
              "alternate_city_names": [
                "St Pete",
                "St Petersburg"
              ],
              "area_codes": [
                "727"
              ],
              "city": "Saint Petersburg",
              "country": "US",
              "county": "Pinellas County",
              "estimated_population": 2058,
              "location": {
                "lat": 27.75,
                "lon": -82.64
              },
              "state": "FL",
              "timezone": "America/New_York",
              "type": "po box",
              "zipcode": "33733"
            },
            {
              "alternate_city_names": [
                "St Petersburg"
              ],
              "area_codes": [
                "727"
              ],
              "city": "Saint Petersburg",
              "country": "US",
              "county": "Pinellas County",
              "estimated_population": 512,
              "location": {
                "lat": 27.75,
                "lon": -82.64
              },
              "state": "FL",
              "timezone": "America/New_York",
              "type": "po box",
              "zipcode": "33734"
            },
            {
              "alternate_city_names": [
                "St Pete Beach",
                "St Petersburg"
              ],
              "area_codes": [
                "727"
              ],
              "city": "Saint Petersburg",
              "country": "US",
              "county": "Pinellas County",
              "estimated_population": 437,
              "location": {
                "lat": 27.75,
                "lon": -82.64
              },
              "state": "FL",
              "timezone": "America/New_York",
              "type": "po box",
              "zipcode": "33736"
            },
            {
              "alternate_city_names": [
                "St Petersburg"
              ],
              "area_codes": [
                "727"
              ],
              "city": "Saint Petersburg",
              "country": "US",
              "county": "Pinellas County",
              "estimated_population": 47,
              "location": {
                "lat": 27.75,
                "lon": -82.64
              },
              "state": "FL",
              "timezone": "America/New_York",
              "type": "po box",
              "zipcode": "33737"
            },
            {
              "alternate_city_names": [
                "Madeira Beach",
                "St Petersburg"
              ],
              "area_codes": [
                "727"
              ],
              "city": "Saint Petersburg",
              "country": "US",
              "county": "Pinellas County",
              "estimated_population": 338,
              "location": {
                "lat": 27.75,
                "lon": -82.64
              },
              "state": "FL",
              "timezone": "America/New_York",
              "type": "po box",
              "zipcode": "33738"
            },
            {
              "alternate_city_names": [
                "St Petersburg",
                "Treasure Is",
                "Treasure Island"
              ],
              "area_codes": [
                "727"
              ],
              "city": "Saint Petersburg",
              "country": "US",
              "county": "Pinellas County",
              "estimated_population": 69,
              "location": {
                "lat": 27.75,
                "lon": -82.64
              },
              "state": "FL",
              "timezone": "America/New_York",
              "type": "po box",
              "zipcode": "33740"
            },
            {
              "alternate_city_names": [
                "Pass A Grille",
                "Pass A Grille Beach",
                "St Petersburg"
              ],
              "area_codes": [
                "727"
              ],
              "city": "Saint Petersburg",
              "country": "US",
              "county": "Pinellas County",
              "estimated_population": 94,
              "location": {
                "lat": 27.75,
                "lon": -82.64
              },
              "state": "FL",
              "timezone": "America/New_York",
              "type": "po box",
              "zipcode": "33741"
            },
            {
              "alternate_city_names": [
                "St Petersburg"
              ],
              "area_codes": [
                "727"
              ],
              "city": "Saint Petersburg",
              "country": "US",
              "county": "Pinellas County",
              "estimated_population": 666,
              "location": {
                "lat": 27.75,
                "lon": -82.64
              },
              "state": "FL",
              "timezone": "America/New_York",
              "type": "po box",
              "zipcode": "33742"
            },
            {
              "alternate_city_names": [
                "St Petersburg"
              ],
              "area_codes": [
                "727"
              ],
              "city": "Saint Petersburg",
              "country": "US",
              "county": "Pinellas County",
              "estimated_population": 891,
              "location": {
                "lat": 27.75,
                "lon": -82.64
              },
              "state": "FL",
              "timezone": "America/New_York",
              "type": "po box",
              "zipcode": "33743"
            },
            {
              "alternate_city_names": [
                ""
              ],
              "area_codes": [
                "727"
              ],
              "city": "Bay Pines",
              "country": "US",
              "county": "Pinellas County",
              "estimated_population": 268,
              "location": {
                "lat": 27.81,
                "lon": -82.77
              },
              "state": "FL",
              "timezone": "America/New_York",
              "type": "po box",
              "zipcode": "33744"
            }
          ],
          "attribution": {
            "text": "Data Provided by Civil Services",
            "website": "https://civil.services",
            "link": "<a href=\"https://civil.services\">Data Provided by Civil Services</a>",
            "license": "https://raw.githubusercontent.com/CivilServiceUSA/api/master/LICENSE",
            "logo": "https://cdn.civil.services/common/logo.png",
            "icon": "https://cdn.civil.services/common/icon.png"
          }
        }

# Group Legislator Endpoints

The following endpoints convert location data into parameters that can fetch Legislators from Open States.

## Legislators [/legislators/?zipcode={zipcode}&latitude={latitude}&longitude={longitude}]

Search for Legislators for a Given Location

+ Parameters
    + zipcode (optional, string) - Zip Code ( must be a valid US Zip Code )
    + latitude (optional, string) - GPS Latitude ( required if also passing over `longitude` )
    + longitude (optional, string) - GPS Longitude ( required if also passing over `latitude` )

### Get Legislators [GET]

+ Response 200 (application/json)

        {
          "notices": [],
          "warnings": [],
          "errors": [],
          "field_errors": {},
          "meta": {
            "total": 1,
            "showing": 1,
            "pages": 1,
            "page": 1
          },
          "data": {
            "request": {
              "city": "Saint Petersburg",
              "state": "FL",
              "latitude": 27.75,
              "longitude": -82.64,
              "zipcode": "33701"
            },
            "results": [
              {
                "last_name": "Newton",
                "updated_at": "2017-03-14 06:47:57",
                "sources": [
                  {
                    "url": "http://www.flhouse.gov/Sections/Representatives/details.aspx?MemberId=4659&LegislativeTermId=87"
                  },
                  {
                    "url": "http://www.flhouse.gov/Sections/Representatives/representatives.aspx"
                  }
                ],
                "full_name": "Newton, Sr., Wengay M. \"Newt\"",
                "id": "FLL000443",
                "first_name": "Wengay M. \"Newt\"",
                "middle_name": "",
                "district": "70",
                "state": "fl",
                "boundary_id": "ocd-division/country:us/state:fl/sldl:70",
                "email": "",
                "all_ids": [
                  "FLL000443"
                ],
                "leg_id": "FLL000443",
                "party": "Democratic",
                "active": true,
                "photo_url": "http://www.flhouse.gov/FileStores/Web/Imaging/Member/4659.jpg",
                "roles": [
                  {
                    "term": "2017-2018",
                    "end_date": null,
                    "district": "70",
                    "chamber": "lower",
                    "state": "fl",
                    "party": "Democratic",
                    "type": "member",
                    "start_date": null
                  },
                  {
                    "term": "2017-2018",
                    "committee_id": "FLC000167",
                    "chamber": "lower",
                    "state": "fl",
                    "subcommittee": "Transportation & Infrastructure Subcommittee",
                    "committee": "Government Accountability Committee",
                    "position": "member",
                    "type": "committee member"
                  },
                  {
                    "term": "2017-2018",
                    "committee_id": "FLC000173",
                    "chamber": "lower",
                    "state": "fl",
                    "subcommittee": "PreK-12 Appropriations Subcommittee",
                    "committee": "Appropriations Committee",
                    "position": "member",
                    "type": "committee member"
                  },
                  {
                    "term": "2017-2018",
                    "committee_id": "FLC000189",
                    "chamber": "lower",
                    "state": "fl",
                    "subcommittee": "Health Quality Subcommittee",
                    "committee": "Health & Human Services Committee",
                    "position": "member",
                    "type": "committee member"
                  },
                  {
                    "term": "2017-2018",
                    "committee_id": "FLC000198",
                    "chamber": "lower",
                    "state": "fl",
                    "subcommittee": null,
                    "committee": "Government Accountability Committee",
                    "position": "member",
                    "type": "committee member"
                  }
                ],
                "url": "http://www.flhouse.gov/Sections/Representatives/details.aspx?MemberId=4659&LegislativeTermId=87",
                "created_at": "2017-02-24 03:13:55",
                "chamber": "lower",
                "offices": [
                  {
                    "fax": null,
                    "name": "District Office",
                    "phone": "727-892-2468",
                    "address": "Suite 108\n695 Central Avenue\nSt. Petersburg, FL 33701-3662",
                    "type": "district",
                    "email": null
                  },
                  {
                    "fax": null,
                    "name": "Capitol Office",
                    "phone": "850-717-5070",
                    "address": "1302 The Capitol\n402 South Monroe Street\nTallahassee, FL 32399-1300",
                    "type": "capitol",
                    "email": null
                  }
                ],
                "suffixes": ""
              },
              {
                "last_name": "Rouson",
                "updated_at": "2017-03-14 06:47:24",
                "sources": [
                  {
                    "url": "http://www.flsenate.gov/Senators/"
                  },
                  {
                    "url": "http://www.flsenate.gov/Senators/s19"
                  }
                ],
                "full_name": "Rouson, Darryl Ervin",
                "id": "FLL000440",
                "first_name": "Darryl Ervin",
                "middle_name": "",
                "district": "19",
                "state": "fl",
                "boundary_id": "ocd-division/country:us/state:fl/sldu:19",
                "email": "rouson.darryl.web@flsenate.gov",
                "all_ids": [
                  "FLL000440"
                ],
                "leg_id": "FLL000440",
                "party": "Democratic",
                "active": true,
                "photo_url": "http://www.flsenate.gov/PublishedContent/Senators/2016-2018/Photos/s19_5203.jpg",
                "roles": [
                  {
                    "term": "2017-2018",
                    "end_date": null,
                    "district": "19",
                    "chamber": "upper",
                    "state": "fl",
                    "party": "Democratic",
                    "type": "member",
                    "start_date": null
                  }
                ],
                "url": "http://www.flsenate.gov/Senators/s19",
                "created_at": "2017-02-24 03:13:55",
                "chamber": "upper",
                "offices": [
                  {
                    "fax": null,
                    "name": "District Office",
                    "phone": "727-822-6828",
                    "address": "535 Central Avenue\nSuite 302\nSt. Petersburg, FL 33701",
                    "type": "district",
                    "email": null
                  },
                  {
                    "fax": null,
                    "name": "Capitol Office",
                    "phone": "850-487-5019",
                    "address": "212 Senate Office Building\n404 South Monroe Street\nTallahassee, FL 32399-1100",
                    "type": "capitol",
                    "email": null
                  }
                ],
                "suffixes": ""
              }
            ]
          },
          "attribution": {
            "text": "Data Provided by Civil Services",
            "website": "https://civil.services",
            "link": "<a href=\"https://civil.services\">Data Provided by Civil Services</a>",
            "license": "https://raw.githubusercontent.com/CivilServiceUSA/api/master/LICENSE",
            "logo": "https://cdn.civil.services/common/logo.png",
            "icon": "https://cdn.civil.services/common/icon.png"
          }
        }


# Group Senate Endpoints

View Contact Information for United States Senators, including: Phone Number, Mailing Address, Official Website, Twitter & Facebook Accounts.

## Senate [/senate/?state={state}&class={class}&bioguide={bioguide}&thomas={thomas}&govtrack={govtrack}&opensecrets={opensecrets}&votesmart={votesmart}&fec={fec}&maplight={maplight}&googleEntityId={googleEntityId}&title={title}&party={party}&name={name}&gender={gender}&ethnicity={ethnicity}&religion={religion}&openlyLGBTQ={openlyLGBTQ}&age={age}&minAge={minAge}&maxAge={maxAge}]

Search for Senator using any combination of search parameters.

+ Parameters
    + state (optional, string) - State ( Full State Name or Two Letter Abbreviation )
    + class (optional, enum)

        Senate to be divided into three classes for purposes of elections. Using a comma to filter with multiple options, e.g. `?title=I,III`

        + Values
            + `I`
            + `II`
            + `III`
    + bioguide (optional, string) - The alphanumeric ID for this Senator on bioguide.congress.gov
    + thomas (optional, string) - The numeric ID for this Senator ( not really used anymore )
    + govtrack (optional, string) - The numeric ID for this Senator on GovTrack.us
    + opensecrets (optional, string) - The alphanumeric ID for this Senator on OpenSecrets.org
    + votesmart (optional, string) - The numeric ID for this Senator on VoteSmart.org
    + fec (optional, string) - Federal Election Commission ID
    + maplight (optional, string) - The numeric ID for this Senator on MapLight.org
    + wikidata (optional, string) - The numeric ID for this Senator on wikidata.org
    + googleEntityId (optional, string) - Google Integration
    + title (optional, enum)

        Title of Senator. Using a comma to filter with multiple options, e.g. `?title=senate-majority-leader,senate-minority-leader`

        + Values
            + `senator`
            + `senate-majority-leader`
            + `senate_majority-whip`
            + `senate-minority-leader`
            + `senate-minority-whip`
    + party (optional, enum) -

        Political Party of Senator. Using a comma to filter with multiple options, e.g. `?title=democrat,republican`

        + Values
            + `constitution`
            + `democrat`
            + `green`
            + `independent`
            + `libertarian`
            + `nonpartisan`
            + `republican`
    + name (optional, string) - Full Name of Senator
    + gender (optional, enum)

        Gender of Senator. Using a comma to filter with multiple options, e.g. `?title=african-american,asian-american`

        + Values
            + `female`
            + `male`
            + `unspecified`
    + ethnicity (optional, enum)

        Ethnicity of Senator

        + Values
            + `african-american`
            + `asian-american`
            + `hispanic-american`
            + `middle-eastern-american`
            + `multi-racial-american`
            + `native-american`
            + `pacific-islander`
            + `white-american`
            + `unspecified`
    + religion (optional, enum)

        Religion of Senator. Using a comma to filter with multiple options, e.g. `?title=muslim,jewish`

        + Values
            + `african-methodist`
            + `anglican`
            + `baptist`
            + `buddhism`
            + `christian`
            + `christian-reformed`
            + `christian-scientist`
            + `church-of-christ`
            + `church-of-god`
            + `congregationalist`
            + `deist`
            + `eastern-orthodox`
            + `episcopalian`
            + `evangelical`
            + `evangelical-lutheran`
            + `hindu`
            + `jewish`
            + `jodo-shinshu-buddhist`
            + `lutheran`
            + `methodist`
            + `mormon`
            + `muslim`
            + `nazarene-christian`
            + `pentecostal`
            + `presbyterian`
            + `protestant`
            + `roman-catholic`
            + `seventh-day-adventist-church`
            + `soka-gakkai-buddhist`
            + `southern-baptist`
            + `united-church-of-christ`
            + `united-methodist`
            + `unitarian-universalist`
            + `unspecified`
    + openlyLGBTQ (optional, enum)

        Senator is Openly LGBTQ. Using a comma to filter with multiple options, e.g. `?title=lesbian,gay`

        + Values
            + `no`
            + `lesbian`
            + `gay`
            + `bisexual`
            + `transgender`
            + `queer`
    + age (optional, number) - Age of Senator
    + minAge (optional, number) - Minimum Age of Senator
    + maxAge (optional, number) - Maximum Age of Senator

### Get Senators [GET]

+ Response 200 (application/json)

        {
          "notices": [],
          "warnings": [],
          "errors": [],
          "field_errors": {},
          "meta": {
            "total": 2,
            "showing": 2,
            "pages": 1,
            "page": 1
          },
          "data": [
            {
              "address_city": "Washington",
              "address_complete": "284 Russell, Washington, DC 20510",
              "address_number": null,
              "address_prefix": null,
              "address_sec_unit_num": null,
              "address_sec_unit_type": null,
              "address_state": "DC",
              "address_street": "284 Russell",
              "address_type": "Building",
              "address_zipcode": "20510",
              "age": 45,
              "biography": "Marco Rubio, a Senator from Florida; born in Miami, Fla., May 28, 1971; graduated University of Florida, B.S., 1993; graduated University of Miami, J.D., 1996; lawyer; West Miami City Commission 1998-2000; member of the Florida house of representatives 2000-2008; majority leader 2003-2006; speaker 2006-2008; elected as a Republican to the United States Senate for the term ending January 3, 2017.",
              "bioguide": "R000595",
              "bioguide_url": "http://bioguide.congress.gov/scripts/biodisplay.pl?index=R000595",
              "contact_page": "https://www.rubio.senate.gov/public/index.cfm/contact",
              "date_of_birth": "1971-05-28T00:00:00.000Z",
              "entered_office": "2011-01-03T00:00:00.000Z",
              "ethnicity": "hispanic-american",
              "facebook_url": "https://www.facebook.com/SenatorMarcoRubio",
              "fax": null,
              "fec": null,
              "fec_url": null,
              "first_name": "Marco",
              "gender": "male",
              "goes_by": null,
              "google_entity_id": null,
              "govtrack": "412491",
              "govtrack_url": "https://www.govtrack.us/congress/members/412491",
              "last_name": "Rubio",
              "latitude": 38.8925,
              "longitude": -77.0074,
              "maplight": null,
              "maplight_url": null,
              "middle_name": null,
              "name": "Marco Rubio",
              "name_slug": "marco-rubio",
              "name_suffix": null,
              "openly_lgbtq": "no",
              "opensecrets": "N00030612",
              "opensecrets_url": "https://www.opensecrets.org/politicians/summary.php?cid=N00030612",
              "opensecrets_url_tabs": {
                "summary": "https://www.opensecrets.org/politicians/summary.php?cid=N00030612",
                "elections": "https://www.opensecrets.org/politicians/elections.php?cid=N00030612",
                "industries": "https://www.opensecrets.org/politicians/industries.php?cid=N00030612",
                "pacs": "https://www.opensecrets.org/politicians/pacs.php?cid=N00030612",
                "donors": "https://www.opensecrets.org/politicians/contrib.php?cid=N00030612",
                "geography": "https://www.opensecrets.org/politicians/geog.php?cid=N00030612",
                "expenditures": "https://www.opensecrets.org/politicians/expend.php?cid=N00030612",
                "legislation": "https://www.opensecrets.org/politicians/bills.php?cid=N00030612",
                "news": "https://www.opensecrets.org/politicians/inthenews.php?cid=N00030612",
                "other": "https://www.opensecrets.org/politicians/otherdata.php?cid=N00030612"
              },
              "party": "republican",
              "phone": "202-224-3041",
              "photo_url": "https://cdn.civil.services/us-senate/headshots/512x512/marco-rubio.jpg",
              "photo_url_sizes": {
                "64x64": "https://cdn.civil.services/us-senate/headshots/64x64/marco-rubio.jpg",
                "128x128": "https://cdn.civil.services/us-senate/headshots/128x128/marco-rubio.jpg",
                "256x256": "https://cdn.civil.services/us-senate/headshots/256x256/marco-rubio.jpg",
                "512x512": "https://cdn.civil.services/us-senate/headshots/512x512/marco-rubio.jpg",
                "1024x1024": "https://cdn.civil.services/us-senate/headshots/1024x1024/marco-rubio.jpg"
              },
              "pronunciation": "MAR-koh ROO-bee-oh",
              "religion": "roman-catholic",
              "state_code": "FL",
              "state_code_slug": "fl",
              "state_name": "Florida",
              "state_name_slug": "florida",
              "term_end": "2023-01-03T00:00:00.000Z",
              "thomas": "2084",
              "title": "senator",
              "twitter_handle": "marcorubio",
              "twitter_url": "https://twitter.com/marcorubio",
              "votesmart": "1601",
              "votesmart_url": "http://votesmart.org/candidate/1601",
              "votesmart_url_tabs": {
                "summary": "http://votesmart.org/candidate/1601",
                "bio": "http://votesmart.org/candidate/biography/1601",
                "votes": "http://votesmart.org/candidate/key-votes/1601",
                "positions": "http://votesmart.org/candidate/political-courage-test/1601",
                "ratings": "http://votesmart.org/candidate/evaluations/1601",
                "speeches": "http://votesmart.org/candidate/public-statements/1601",
                "funding": "http://votesmart.org/candidate/campaign-finance/1601"
              },
              "website": "http://www.rubio.senate.gov",
              "wikidata": null,
              "wikidata_url": null
            },
            {
              "address_city": "Washington",
              "address_complete": "716 Hart, Washington, DC 20510",
              "address_number": null,
              "address_prefix": null,
              "address_sec_unit_num": null,
              "address_sec_unit_type": null,
              "address_state": "DC",
              "address_street": "716 Hart",
              "address_type": "Building",
              "address_zipcode": "20510",
              "age": 74,
              "biography": "Bill Nelson, a Senator and a Representative from Florida; born in Miami, Dade County, Fla., September 29, 1942; attended the Brevard County public schools; graduated from Melbourne High School 1960; B.A., Yale University 1965; J.D., University of Virginia School of Law 1968; admitted to the Florida bar in 1968 and commenced practice in Melbourne in 1970; served in United States Army Reserve 1965-1971; United States Army, active duty, 1968-1970, achieving rank of captain; legislative assistant to Governor Reubin Askew 1971; elected to Florida State house of representatives in 1972 and reelected in 1974 and 1976; elected as a Democrat to the Ninety-sixth and to the five succeeding Congresses (January 3, 1979-January 3, 1991); was not a candidate for reelection in 1990 to the House of Representatives, but was a candidate for nomination for governor of Florida; crewmember on the twenty-fourth flight of the Space Shuttle Columbia, January 12-18, 1986; Florida treasurer and insurance commissioner 1995-2000; elected to the United States Senate in 2000 for the term commencing January 3, 2001; reelected in 2006 and again in 2012 for the term ending January 3, 2019; Chair, Special Committee on Aging (One Hundred Thirteenth Congress).",
              "bioguide": "N000032",
              "bioguide_url": "http://bioguide.congress.gov/scripts/biodisplay.pl?index=N000032",
              "contact_page": "https://www.billnelson.senate.gov/contact-bill",
              "date_of_birth": "1942-09-29T00:00:00.000Z",
              "entered_office": "2001-01-03T00:00:00.000Z",
              "ethnicity": "white-american",
              "facebook_url": "https://www.facebook.com/billnelson/",
              "fax": "202-228-2183",
              "fec": null,
              "fec_url": null,
              "first_name": "Bill",
              "gender": "male",
              "goes_by": null,
              "google_entity_id": null,
              "govtrack": "300078",
              "govtrack_url": "https://www.govtrack.us/congress/members/300078",
              "last_name": "Nelson",
              "latitude": 38.8928,
              "longitude": -77.0044,
              "maplight": null,
              "maplight_url": null,
              "middle_name": null,
              "name": "Bill Nelson",
              "name_slug": "bill-nelson",
              "name_suffix": null,
              "openly_lgbtq": "no",
              "opensecrets": "N00009926",
              "opensecrets_url": "https://www.opensecrets.org/politicians/summary.php?cid=N00009926",
              "opensecrets_url_tabs": {
                "summary": "https://www.opensecrets.org/politicians/summary.php?cid=N00009926",
                "elections": "https://www.opensecrets.org/politicians/elections.php?cid=N00009926",
                "industries": "https://www.opensecrets.org/politicians/industries.php?cid=N00009926",
                "pacs": "https://www.opensecrets.org/politicians/pacs.php?cid=N00009926",
                "donors": "https://www.opensecrets.org/politicians/contrib.php?cid=N00009926",
                "geography": "https://www.opensecrets.org/politicians/geog.php?cid=N00009926",
                "expenditures": "https://www.opensecrets.org/politicians/expend.php?cid=N00009926",
                "legislation": "https://www.opensecrets.org/politicians/bills.php?cid=N00009926",
                "news": "https://www.opensecrets.org/politicians/inthenews.php?cid=N00009926",
                "other": "https://www.opensecrets.org/politicians/otherdata.php?cid=N00009926"
              },
              "party": "democrat",
              "phone": "202-224-5274",
              "photo_url": "https://cdn.civil.services/us-senate/headshots/512x512/bill-nelson.jpg",
              "photo_url_sizes": {
                "64x64": "https://cdn.civil.services/us-senate/headshots/64x64/bill-nelson.jpg",
                "128x128": "https://cdn.civil.services/us-senate/headshots/128x128/bill-nelson.jpg",
                "256x256": "https://cdn.civil.services/us-senate/headshots/256x256/bill-nelson.jpg",
                "512x512": "https://cdn.civil.services/us-senate/headshots/512x512/bill-nelson.jpg",
                "1024x1024": "https://cdn.civil.services/us-senate/headshots/1024x1024/bill-nelson.jpg"
              },
              "pronunciation": "BILL NELL-suhn",
              "religion": "christian",
              "state_code": "FL",
              "state_code_slug": "fl",
              "state_name": "Florida",
              "state_name_slug": "florida",
              "term_end": "2019-01-03T00:00:00.000Z",
              "thomas": "859",
              "title": "senator",
              "twitter_handle": "SenBillNelson",
              "twitter_url": "https://twitter.com/SenBillNelson",
              "votesmart": "1606",
              "votesmart_url": "http://votesmart.org/candidate/1606",
              "votesmart_url_tabs": {
                "summary": "http://votesmart.org/candidate/1606",
                "bio": "http://votesmart.org/candidate/biography/1606",
                "votes": "http://votesmart.org/candidate/key-votes/1606",
                "positions": "http://votesmart.org/candidate/political-courage-test/1606",
                "ratings": "http://votesmart.org/candidate/evaluations/1606",
                "speeches": "http://votesmart.org/candidate/public-statements/1606",
                "funding": "http://votesmart.org/candidate/campaign-finance/1606"
              },
              "website": "http://www.billnelson.senate.gov",
              "wikidata": null,
              "wikidata_url": null
            }
          ],
          "attribution": {
            "text": "Data Provided by Civil Services",
            "website": "https://civil.services",
            "link": "<a href=\"https://civil.services\">Data Provided by Civil Services</a>",
            "license": "https://raw.githubusercontent.com/CivilServiceUSA/api/master/LICENSE",
            "logo": "https://cdn.civil.services/common/logo.png",
            "icon": "https://cdn.civil.services/common/icon.png"
          }
        }

# Group House Endpoints

View Contact Information for United States House Representatives, including: Phone Number, Mailing Address, Official Website, Twitter & Facebook Accounts.

## House [/house/?state={state}&district={district}&atLarge={atLarge}&vacant={vacant}&bioguide={bioguide}&thomas={thomas}&govtrack={govtrack}&opensecrets={opensecrets}&votesmart={votesmart}&fec={fec}&maplight={maplight}&googleEntityId={googleEntityId}&title={title}&party={party}&name={name}&gender={gender}&ethnicity={ethnicity}&religion={religion}&openlyLGBTQ={openlyLGBTQ}&age={age}&minAge={minAge}&maxAge={maxAge}]

Search for House Representative using any combination of search parameters.

+ Parameters
    + state (optional, string) - State ( Full State Name or Two Letter Abbreviation )
    + district (optional, number) - District of Representative ( not always available )
    + atLarge (optional, boolean) - Representative is considered At-Large
    + vacant (optional, boolean) - Representative Seat is Vacant
    + bioguide (optional, string) - The alphanumeric ID for this Senator on bioguide.congress.gov
    + thomas (optional, string) - The numeric ID for this Senator ( not really used anymore )
    + govtrack (optional, string) - The numeric ID for this Senator on GovTrack.us
    + opensecrets (optional, string) - The alphanumeric ID for this Senator on OpenSecrets.org
    + votesmart (optional, string) - The numeric ID for this Senator on VoteSmart.org
    + fec (optional, string) - Federal Election Commission ID
    + maplight (optional, string) - The numeric ID for this Senator on MapLight.org
    + wikidata (optional, string) - The numeric ID for this Senator on wikidata.org
    + googleEntityId (optional, string) - Google Integration
    + title (optional, enum)

        Title of Senator. Using a comma to filter with multiple options, e.g. `?title=house-majority-leader,house-minority-leader`

        + Values
            + `representative`
            + `house-speaker`
            + `house-majority-leader`
            + `house-majority-whip`
            + `house-minority-leader`
            + `house-minority-whip`
            + `republican-conference-chairman`
            + `republican-policy-committee-chairman`
            + `assistant-democratic-leader`
            + `democratic-caucus-chairman`
    + party (optional, enum) -

        Political Party of Senator. Using a comma to filter with multiple options, e.g. `?title=democrat,republican`

        + Values
            + `constitution`
            + `democrat`
            + `green`
            + `independent`
            + `libertarian`
            + `nonpartisan`
            + `republican`
    + name (optional, string) - Full Name of Senator
    + gender (optional, enum)

        Gender of Senator. Using a comma to filter with multiple options, e.g. `?title=african-american,asian-american`

        + Values
            + `female`
            + `male`
            + `unspecified`
    + ethnicity (optional, enum)

        Ethnicity of Senator

        + Values
            + `african-american`
            + `asian-american`
            + `hispanic-american`
            + `middle-eastern-american`
            + `multi-racial-american`
            + `native-american`
            + `pacific-islander`
            + `white-american`
            + `unspecified`
    + religion (optional, enum)

        Religion of Senator. Using a comma to filter with multiple options, e.g. `?title=muslim,jewish`

        + Values
            + `african-methodist`
            + `anglican`
            + `baptist`
            + `buddhism`
            + `christian`
            + `christian-reformed`
            + `christian-scientist`
            + `church-of-christ`
            + `church-of-god`
            + `congregationalist`
            + `deist`
            + `eastern-orthodox`
            + `episcopalian`
            + `evangelical`
            + `evangelical-lutheran`
            + `hindu`
            + `jewish`
            + `jodo-shinshu-buddhist`
            + `lutheran`
            + `methodist`
            + `mormon`
            + `muslim`
            + `nazarene-christian`
            + `pentecostal`
            + `presbyterian`
            + `protestant`
            + `roman-catholic`
            + `seventh-day-adventist-church`
            + `soka-gakkai-buddhist`
            + `southern-baptist`
            + `united-church-of-christ`
            + `united-methodist`
            + `unitarian-universalist`
            + `unspecified`
    + openlyLGBTQ (optional, enum)

        Senator is Openly LGBTQ. Using a comma to filter with multiple options, e.g. `?title=lesbian,gay`

        + Values
            + `no`
            + `lesbian`
            + `gay`
            + `bisexual`
            + `transgender`
            + `queer`
    + age (optional, number) - Age of Senator
    + minAge (optional, number) - Minimum Age of Senator
    + maxAge (optional, number) - Maximum Age of Senator

### Get House Representatives [GET]

+ Response 200 (application/json)

        {
          "notices": [],
          "warnings": [],
          "errors": [],
          "field_errors": {},
          "meta": {
            "total": 2,
            "showing": 2,
            "pages": 1,
            "page": 1
          },
          "data": [
            {
              "address_city": "Washington",
              "address_complete": "2436 Rayburn Hob, Washington, DC 20515",
              "address_number": "2436",
              "address_prefix": null,
              "address_sec_unit_num": null,
              "address_sec_unit_type": null,
              "address_state": "DC",
              "address_street": "Rayburn Hob",
              "address_type": null,
              "address_zipcode": "20515",
              "age": 55,
              "at_large": false,
              "biography": "David Cicilline, a Representative from Rhode Island; born in Providence, Providence County, R.I., July 15, 1961; graduated from Narragansett High School, Providence, R.I., 1979; B.A., Brown University, Providence, R.I., 1983; J.D., Georgetown University, Washington, D.C., 1986; public defender, Washington, D.C., 1986-1987; lawyer, private practice; lawyer, public advocate; faculty, Roger Williams Law School, Bristol, R.I.; unsuccessful nominee to the Rhode Island state senate in 1992; member of the Rhode Island state house of representatives, 1995-2003; Delegate, Democratic National Convention, 2008; Mayor of Providence R.I., 2003-2011; elected as a Democrat to the One Hundred Twelfth and to the three succeeding Congresses (January 3, 2011-present).",
              "bioguide": "C001084",
              "bioguide_url": "http://bioguide.congress.gov/scripts/biodisplay.pl?index=C001084",
              "contact_page": "https://cicilline.house.gov/contact-me/email-me",
              "date_of_birth": "1961-07-15T00:00:00.000Z",
              "district": 1,
              "entered_office": "2011-01-05T00:00:00.000Z",
              "ethnicity": "white-american",
              "facebook_url": "https://www.facebook.com/CongressmanDavidCicilline/",
              "fax": "202-225-3290",
              "fec": "H0RI01073",
              "fec_url": "http://www.fec.gov/fecviewer/CandidateCommitteeDetail.do?candidateCommitteeId=H0RI01073",
              "first_name": "David",
              "gender": "male",
              "goes_by": null,
              "google_entity_id": "kg:/m/04t97v",
              "govtrack": "412470",
              "govtrack_url": "https://www.govtrack.us/congress/members/412470",
              "last_name": null,
              "latitude": 38.8863,
              "longitude": -77.0114,
              "maplight": "1475",
              "maplight_url": "http://maplight.org/us-congress/legislator/1475",
              "middle_name": null,
              "name": "David Cicilline",
              "name_slug": "david-cicilline",
              "name_suffix": "David",
              "openly_lgbtq": "gay",
              "opensecrets": "N00032019",
              "opensecrets_url": "https://www.opensecrets.org/politicians/summary.php?cid=N00032019",
              "opensecrets_url_tabs": {
                "summary": "https://www.opensecrets.org/politicians/summary.php?cid=N00032019",
                "elections": "https://www.opensecrets.org/politicians/elections.php?cid=N00032019",
                "industries": "https://www.opensecrets.org/politicians/industries.php?cid=N00032019",
                "pacs": "https://www.opensecrets.org/politicians/pacs.php?cid=N00032019",
                "donors": "https://www.opensecrets.org/politicians/contrib.php?cid=N00032019",
                "geography": "https://www.opensecrets.org/politicians/geog.php?cid=N00032019",
                "expenditures": "https://www.opensecrets.org/politicians/expend.php?cid=N00032019",
                "legislation": "https://www.opensecrets.org/politicians/bills.php?cid=N00032019",
                "news": "https://www.opensecrets.org/politicians/inthenews.php?cid=N00032019",
                "other": "https://www.opensecrets.org/politicians/otherdata.php?cid=N00032019"
              },
              "party": "democrat",
              "phone": "202-225-4911",
              "photo_url": "https://cdn.civil.services/us-house/headshots/512x512/david-cicilline.jpg",
              "photo_url_sizes": {
                "64x64": "https://cdn.civil.services/us-house/headshots/64x64/david-cicilline.jpg",
                "128x128": "https://cdn.civil.services/us-house/headshots/128x128/david-cicilline.jpg",
                "256x256": "https://cdn.civil.services/us-house/headshots/256x256/david-cicilline.jpg",
                "512x512": "https://cdn.civil.services/us-house/headshots/512x512/david-cicilline.jpg",
                "1024x1024": "https://cdn.civil.services/us-house/headshots/1024x1024/david-cicilline.jpg"
              },
              "pronunciation": "DAY-vid sih-sih-LEE-nee",
              "religion": "jewish",
              "state_code": "RI",
              "state_code_slug": "ri",
              "state_name": "Rhode Island",
              "state_name_slug": "rhode-island",
              "term_end": "2019-01-03T00:00:00.000Z",
              "thomas": "2055",
              "title": "representative",
              "twitter_handle": "RepCicilline",
              "twitter_url": "https://twitter.com/RepCicilline",
              "vacant": false,
              "votesmart": "7349",
              "votesmart_url": "http://votesmart.org/candidate/7349",
              "votesmart_url_tabs": {
                "summary": "http://votesmart.org/candidate/7349",
                "bio": "http://votesmart.org/candidate/biography/7349",
                "votes": "http://votesmart.org/candidate/key-votes/7349",
                "positions": "http://votesmart.org/candidate/political-courage-test/7349",
                "ratings": "http://votesmart.org/candidate/evaluations/7349",
                "speeches": "http://votesmart.org/candidate/public-statements/7349",
                "funding": "http://votesmart.org/candidate/campaign-finance/7349"
              },
              "website": "https://cicilline.house.gov",
              "wikidata": "Q938498",
              "wikidata_url": "https://www.wikidata.org/wiki/Q938498"
            },
            {
              "address_city": "Washington",
              "address_complete": "2436 Rayburn Hob, Washington, DC 20515",
              "address_number": "2436",
              "address_prefix": null,
              "address_sec_unit_num": null,
              "address_sec_unit_type": null,
              "address_state": "DC",
              "address_street": "Rayburn Hob",
              "address_type": null,
              "address_zipcode": "20515",
              "age": 52,
              "at_large": false,
              "biography": "Jim Langevin, a Representative from Rhode Island; born in Providence, Providence County, R.I., April 22, 1964; B.A., Rhode Island College, Providence, R.I., 1990; M.A., Harvard University, Cambridge, Mass., 1994; member of the Rhode Island state house of representatives, 1988-1994; Rhode Island secretary of state, 1994-2001; elected as a Democrat to the One Hundred Seventh and to the eight succeeding Congresses (January 3, 2001-present).",
              "bioguide": "L000559",
              "bioguide_url": "http://bioguide.congress.gov/scripts/biodisplay.pl?index=L000559",
              "contact_page": "https://langevin.house.gov/contact-me/email-me",
              "date_of_birth": "1964-04-22T00:00:00.000Z",
              "district": 2,
              "entered_office": "2001-01-03T00:00:00.000Z",
              "ethnicity": "white-american",
              "facebook_url": "https://www.facebook.com/CongressmanJimLangevin/",
              "fax": "202-225-5976",
              "fec": "H0RI02139",
              "fec_url": "http://www.fec.gov/fecviewer/CandidateCommitteeDetail.do?candidateCommitteeId=H0RI02139",
              "first_name": "Jim",
              "gender": "male",
              "goes_by": null,
              "google_entity_id": "kg:/m/02tvqy",
              "govtrack": "400230",
              "govtrack_url": "https://www.govtrack.us/congress/members/400230",
              "last_name": null,
              "latitude": 38.8863,
              "longitude": -77.0114,
              "maplight": "331",
              "maplight_url": "http://maplight.org/us-congress/legislator/331",
              "middle_name": null,
              "name": "Jim Langevin",
              "name_slug": "jim-langevin",
              "name_suffix": "Jim",
              "openly_lgbtq": "no",
              "opensecrets": "N00009724",
              "opensecrets_url": "https://www.opensecrets.org/politicians/summary.php?cid=N00009724",
              "opensecrets_url_tabs": {
                "summary": "https://www.opensecrets.org/politicians/summary.php?cid=N00009724",
                "elections": "https://www.opensecrets.org/politicians/elections.php?cid=N00009724",
                "industries": "https://www.opensecrets.org/politicians/industries.php?cid=N00009724",
                "pacs": "https://www.opensecrets.org/politicians/pacs.php?cid=N00009724",
                "donors": "https://www.opensecrets.org/politicians/contrib.php?cid=N00009724",
                "geography": "https://www.opensecrets.org/politicians/geog.php?cid=N00009724",
                "expenditures": "https://www.opensecrets.org/politicians/expend.php?cid=N00009724",
                "legislation": "https://www.opensecrets.org/politicians/bills.php?cid=N00009724",
                "news": "https://www.opensecrets.org/politicians/inthenews.php?cid=N00009724",
                "other": "https://www.opensecrets.org/politicians/otherdata.php?cid=N00009724"
              },
              "party": "democrat",
              "phone": "202-225-2735",
              "photo_url": "https://cdn.civil.services/us-house/headshots/512x512/jim-langevin.jpg",
              "photo_url_sizes": {
                "64x64": "https://cdn.civil.services/us-house/headshots/64x64/jim-langevin.jpg",
                "128x128": "https://cdn.civil.services/us-house/headshots/128x128/jim-langevin.jpg",
                "256x256": "https://cdn.civil.services/us-house/headshots/256x256/jim-langevin.jpg",
                "512x512": "https://cdn.civil.services/us-house/headshots/512x512/jim-langevin.jpg",
                "1024x1024": "https://cdn.civil.services/us-house/headshots/1024x1024/jim-langevin.jpg"
              },
              "pronunciation": "JIM LAN-juh-vin",
              "religion": "roman-catholic",
              "state_code": "RI",
              "state_code_slug": "ri",
              "state_name": "Rhode Island",
              "state_name_slug": "rhode-island",
              "term_end": "2019-01-03T00:00:00.000Z",
              "thomas": "1668",
              "title": "representative",
              "twitter_handle": "jimlangevin",
              "twitter_url": "https://twitter.com/jimlangevin",
              "vacant": false,
              "votesmart": "55787",
              "votesmart_url": "http://votesmart.org/candidate/55787",
              "votesmart_url_tabs": {
                "summary": "http://votesmart.org/candidate/55787",
                "bio": "http://votesmart.org/candidate/biography/55787",
                "votes": "http://votesmart.org/candidate/key-votes/55787",
                "positions": "http://votesmart.org/candidate/political-courage-test/55787",
                "ratings": "http://votesmart.org/candidate/evaluations/55787",
                "speeches": "http://votesmart.org/candidate/public-statements/55787",
                "funding": "http://votesmart.org/candidate/campaign-finance/55787"
              },
              "website": "https://langevin.house.gov",
              "wikidata": "Q1397290",
              "wikidata_url": "https://www.wikidata.org/wiki/Q1397290"
            }
          ],
          "attribution": {
            "text": "Data Provided by Civil Services",
            "website": "https://civil.services",
            "link": "<a href=\"https://civil.services\">Data Provided by Civil Services</a>",
            "license": "https://raw.githubusercontent.com/CivilServiceUSA/api/master/LICENSE",
            "logo": "https://cdn.civil.services/common/logo.png",
            "icon": "https://cdn.civil.services/common/icon.png"
          }
        }
