FORMAT: 1A
HOST: https://api.civil.services/v1

# API

![Civil Services Logo](https://cdn.civil.services/common/github-logo.png "Civil Services Logo")

Civil Services is a collection of tools that make it possible for citizens to be a part of what is happening in their Local, State & Federal Governments.

* _Maintained By:_ __[Peter Schmalfeldt](https://twitter.com/mrmidi)__
* _Last Modified:_ __March 17th, 2017__
* _Current API Version:_ __v1.0.1__

__IMPORTANT:__ Currently, our API is only open for select non-commercial use. You can __[Register for an API Key](https://api.civil.services)__ if you would like access to our API. We typically review applications within a business day.

[![API Documentation](https://raw.githubusercontent.com/CivilServiceUSA/api/master/docs/img/apiary.jpg)](http://docs.civilservices.apiary.io)

## Join us on Slack

__[Join us on Slack](https://slack.civil.services/bkx7n2)__ if you need help using our API, or you are interested in contributing.

[![Slack Team Invite](https://cdn.civil.services/common/slack-invite.png)](https://slack.civil.services/bkx7n2)


# Group API Basics

## API Overview

Our API has a default Rate Limit by IP Address to `2500` calls per day. We add the following headers so you can monitor your API Rate:

* __X-Rate-Limit-Limit__: The rate limit ceiling for that given request
* __X-Rate-Limit-Remaining__: The number of requests left for the 24 hour window
* __X-Rate-Limit-Reset__: The remaining window before the rate limit resets in UTC [epoch seconds](http://en.wikipedia.org/wiki/Unix_time)

If a specific IP Address exceeds this limit, the API will return a 429 HTTP JSON Response Error.  A sample of this is provided in the Artwork API endpoint.

## API Authentication

Our API requires an API Key to use.  We are not providing API Keys to the general public at this time.  You likely received an API Key before accessing this documentation, if not, please contact the individual who sent you here.

## You can set the API Key one of two ways

#### Request Header:

* __API-Key__ `243CEA2E-7E63-D2C4-3D2D-1A114288274B` _( this is not an actual API Key )_

__NOTE:__  If you are testing our API in Apiary, you will need to add an `API-Key` Header to your Request ( using the `apikey` GET param does not always work within Apiary, so its best to test using this custom header ):

[![Apiary Add Custom Header](https://raw.githubusercontent.com/CivilServiceUSA/api/master/docs/img/headers.png)](http://docs.civilservices.apiary.io/#reference/government-endpoints/government/get-house-representatives?console=1)

1. Select Endpoint
2. Click `Switch to Console`
3. Click the `Headers` Tab
4. Click `+ Add new header`
5. Replace `New item` with the label `API-Key`
6. Replace `null` with your API Key
7. Click the Green `Call Resource` button once you are ready to make an API call


#### GET Parameter:

* __?apikey=__ `243CEA2E-7E63-D2C4-3D2D-1A114288274B`

### HTTP Request Method Limits

### Common API Responses

The following parameters are available on every API endpoint and used for pagination
for if there are a lot of results.

+ `notices` (array, optional) - An array of API Notices.  These notices are for the API to let the Developer know something that might be helpful, but will not impact the API results.
+ `warnings` (array, optional) - An array of API Warnings.  These warnings explain why the API might have had issues returning results.
+ `errors` (array, optional) - An array of API Errors.  These errors explain why the API prevented returning results.
+ `field_errors` (object, optional) - If the error was in regards to data entry, any errors specific to an input field will return here with the input name and error message.
+ `meta` (object) - The META data object that contains the basic information about the API response.
+ `meta.total` (number) - Total number of all results.  Not just the number returned in the API call.
+ `meta.showing` (number) - Number of results returned in the current API call ( may be less than total results ).
+ `meta.pages` (number) - Number of pages of results.  This is based on the `total` results divided by the `pageSize`.
+ `meta.page` (number) - Current Page
+ `data` (object or array) - This is the the actual data returned for the API call.  For API calls that are expected to return a single result, the `data` will be an Object.  For API calls that are expecting multiple items returned, `data` will be returned as an array ( even if there is only one item returned, such as search results, etc ).

__Response 200:__ (application/json)

```
{
    "notices": [],
    "warnings": [],
    "errors": [],
    "field_errors": {},
    "meta": {
        "total": 97,
        "showing": 30,
        "pages": 4,
        "page": 1
    },
    "data": [
        ...
    ]
}
```

__Response 403:__ (application/json)

```
{
    "notices": [],
    "warnings": [],
    "errors": ["Missing API Key"],
    "field_errors": {},
    "meta": {
        "total": 0,
        "showing": 0,
        "pages": 1,
        "page": 1
    },
    "data": []
}
```

### Optional API Params

The following parameters are available on most API endpoint and used for pagination
for if there are a lot of results.

+ `fields` (string) - Comma Separated List of fields you want in the response.  By default all public fields will be returned, but if you only need specific fields you can greatly simplify your API response by specifying them.
+ `pageSize` (number, optional) - How many results to return in a single API call. Defaults to 30
+ `page` (number, optional) - If there is more than one page of results, you can set which page to load here
+ `pretty` (optional) - If you want to format the JSON response to be human readable, just add a `pretty` param in the API call ( it does not need a value )


# Group Geolocation Endpoints

The following endpoints are for specific data related to Zip Codes and Geolocation data.

## Zipcode [/geolocation/zipcode/{zipcode}{?page,pageSize,fields}]

Fetch details for Specific Zipcode

+ Parameters
    + page (number, optional, `1`) - Which page to load here
    + pageSize (number, optional, `50`) - Maximum Number of Results to Show
    + fields (optional, string, `city,state,location`) - Comma Separated List of fields you want in the response
    + zipcode (string, `97232`) - Unique Zip Code

### Zipcode [GET]

+ Request
    + Parameters
        + zipcode: 97232

+ Response 200 (application/json; charset=utf-8)
    + Attributes
        + zipcode: 97232
        
    + Body
    
            {
              "notices": [],
              "warnings": [],
              "errors": [],
              "field_errors": {},
              "meta": {
                "total": 1,
                "showing": 1,
                "pages": 1,
                "page": 1
              },
              "data": [
                {
                  "alternate_city_names": [],
                  "area_codes": [
                    "971",
                    "503"
                  ],
                  "city": "Portland",
                  "county": "Multnomah County",
                  "estimated_population": 10780,
                  "location": {
                    "lat": 45.52,
                    "lon": -122.64
                  },
                  "state": "OR",
                  "timezone": "America/Los_Angeles",
                  "zipcode": "97232"
                }
              ],
              "attribution": {
                "text": "Data Provided by Civil Services",
                "website": "https://civil.services",
                "link": "<a href=\"https://civil.services\">Data Provided by Civil Services</a>",
                "license": "https://raw.githubusercontent.com/CivilServiceUSA/api/master/LICENSE",
                "report_bug": "https://github.com/CivilServiceUSA/api/issues/new",
                "logo": "https://cdn.civil.services/common/logo.png",
                "icon": "https://cdn.civil.services/common/icon.png"
              }
            }

## IP Address [/geolocation/ip/{ipaddress}{?page,pageSize,fields}]

Fetch details for Specific IP Address

+ Parameters
    + page (number, optional, `1`) - Which page to load here
    + pageSize (number, optional, `50`) - Maximum Number of Results to Show
    + fields (optional, string, `city,location`) - Comma Separated List of fields you want in the response
    + ipaddress (required, string, `97.96.74.114`) - IP Address to Lookup ( Defaults to Requester's IP Address )

### IP Address [GET]

+ Request
    + Parameters
        + ipaddress: 97.96.74.114

+ Response 200 (application/json; charset=utf-8)
    + Attributes
        + ipaddress: 97.96.74.114
        
    + Body
    
            {
              "notices": [],
              "warnings": [],
              "errors": [],
              "field_errors": {},
              "meta": {
                "total": 1,
                "showing": 1,
                "pages": 1,
                "page": 1
              },
              "data": {
                "city": {
                  "geoname_id": 4171563,
                  "names": {
                    "en": "St. Petersburg"
                  }
                },
                "continent": {
                  "code": "NA",
                  "geoname_id": 6255149,
                  "names": {
                    "de": "Nordamerika",
                    "en": "North America",
                    "es": "Norteamérica",
                    "fr": "Amérique du Nord",
                    "ja": "北アメリカ",
                    "pt-BR": "América do Norte",
                    "ru": "Северная Америка",
                    "zh-CN": "北美洲"
                  }
                },
                "country": {
                  "geoname_id": 6252001,
                  "iso_code": "US",
                  "names": {
                    "de": "USA",
                    "en": "United States",
                    "es": "Estados Unidos",
                    "fr": "États-Unis",
                    "ja": "アメリカ合衆国",
                    "pt-BR": "Estados Unidos",
                    "ru": "США",
                    "zh-CN": "美国"
                  }
                },
                "location": {
                  "accuracy_radius": 1,
                  "latitude": 27.7723,
                  "longitude": -82.6341,
                  "metro_code": 539,
                  "time_zone": "America/New_York"
                },
                "postal": {
                  "code": "33701"
                },
                "registered_country": {
                  "geoname_id": 6252001,
                  "iso_code": "US",
                  "names": {
                    "de": "USA",
                    "en": "United States",
                    "es": "Estados Unidos",
                    "fr": "États-Unis",
                    "ja": "アメリカ合衆国",
                    "pt-BR": "Estados Unidos",
                    "ru": "США",
                    "zh-CN": "美国"
                  }
                },
                "subdivisions": [
                  {
                    "geoname_id": 4155751,
                    "iso_code": "FL",
                    "names": {
                      "en": "Florida",
                      "es": "Florida",
                      "fr": "Floride",
                      "ja": "フロリダ州",
                      "pt-BR": "Flórida",
                      "ru": "Флорида",
                      "zh-CN": "佛罗里达州"
                    }
                  }
                ]
              },
              "attribution": {
                "text": "Data Provided by Civil Services",
                "website": "https://civil.services",
                "link": "<a href=\"https://civil.services\">Data Provided by Civil Services</a>",
                "license": "https://raw.githubusercontent.com/CivilServiceUSA/api/master/LICENSE",
                "logo": "https://cdn.civil.services/common/logo.png",
                "icon": "https://cdn.civil.services/common/icon.png"
              }
            }

## Geolocation [/geolocation/{?page,pageSize,fields,zipcode,city,county,state,areaCode,timezone,minPopulation,maxPopulation,latitude,longitude,distance}]

Get Location Specific Data using any combination of filters.

+ Parameters
    + page (number, optional, `1`) - Which page to load here
    + pageSize (number, optional, `50`) - Maximum Number of Results to Show
    + fields (optional, string, `city,location`) - Comma Separated List of fields you want in the response
    + zipcode (optional, string, `97232`) - Unique Zip Code
    + city (optional, string, `Portland`) - City to use as Filter
    + county (optional, string, `Multnomah`) - County to use as Filter
    + state (optional, string, `OR`) - State to use as Filter
    + areaCode (optional, number, `573`) - Area Code of Phone Number to use as Filter
    + timezone (optional, string, `America/New_York`) - Time Zone of Location ( e.g. America/New_York )
    + minPopulation (optional, number, `10000`) - Minimum Population of Location
    + maxPopulation (optional, number, `1000000`) - Maximum Population of Location
    + latitude (optional, number, `45.542094`) - Latitude to base Location on
    + longitude (optional, number, `-122.9346037`) - Longitude to base Location on
    + distance (optional, string, `25mi`) - Distance from Latitude & Longitude ( e.g. 5mi, 10km )

### Location [GET]

+ Request
    + Parameters
        + zipcode: 97232

+ Response 200 (application/json; charset=utf-8)
    + Attributes
        + zipcode: 97232
        
    + Body
    
            {
              "notices": [],
              "warnings": [],
              "errors": [],
              "field_errors": {},
              "meta": {
                "total": 1,
                "showing": 1,
                "pages": 1,
                "page": 1
              },
              "data": [
                {
                  "alternate_city_names": [],
                  "area_codes": [
                    "971",
                    "503"
                  ],
                  "city": "Portland",
                  "county": "Multnomah County",
                  "estimated_population": 10780,
                  "location": {
                    "lat": 45.52,
                    "lon": -122.64
                  },
                  "state": "OR",
                  "timezone": "America/Los_Angeles",
                  "zipcode": "97232"
                }
              ],
              "attribution": {
                "text": "Data Provided by Civil Services",
                "website": "https://civil.services",
                "link": "<a href=\"https://civil.services\">Data Provided by Civil Services</a>",
                "license": "https://raw.githubusercontent.com/CivilServiceUSA/api/master/LICENSE",
                "report_bug": "https://github.com/CivilServiceUSA/api/issues/new",
                "logo": "https://cdn.civil.services/common/logo.png",
                "icon": "https://cdn.civil.services/common/icon.png"
              }
            }

# Group Legislator Endpoints

The following endpoints convert location data into parameters that can fetch Legislators from Open States.

## Legislators [/legislators/{?page,pageSize,fields,zipcode,latitude,longitude}]

Search for Legislators for a Given Location

+ Parameters
    + page (number, optional, `1`) - Which page to load here
    + pageSize (number, optional, `50`) - Maximum Number of Results to Show
    + fields (optional, string, `city,location`) - Comma Separated List of fields you want in the response
    + zipcode (optional, string, `97232`) - Zip Code ( must be a valid US Zip Code )
    + latitude (optional, string, `45.542094`) - GPS Latitude ( required if also passing over `longitude` )
    + longitude (optional, string, `-122.9346037`) - GPS Longitude ( required if also passing over `latitude` )

### Legislators [GET]

+ Request
    + Parameters
        + zipcode: 97232

+ Response 200 (application/json; charset=utf-8)
    + Attributes
        + zipcode: 97232
        
    + Body
    
            {
              "notices": [],
              "warnings": [],
              "errors": [],
              "field_errors": {},
              "meta": {
                "total": 1,
                "showing": 1,
                "pages": 1,
                "page": 1
              },
              "data": {
                "request": {
                  "city": "Portland",
                  "state": "OR",
                  "latitude": 45.52,
                  "longitude": -122.64,
                  "zipcode": "97232"
                },
                "results": [
                  {
                    "last_name": "Nosse",
                    "updated_at": "2017-03-20 10:49:54",
                    "sources": [
                      {
                        "url": "http://www.oregonlegislature.gov/house/Pages/RepresentativesAll.aspx"
                      }
                    ],
                    "full_name": "Rob Nosse",
                    "old_roles": {
                      "2013-2014": [
                        {
                          "term": "2013-2014",
                          "end_date": null,
                          "district": "42",
                          "chamber": "lower",
                          "state": "or",
                          "party": "Democrat",
                          "type": "member",
                          "start_date": null
                        }
                      ],
                      "2015-2016": [
                        {
                          "term": "2015-2016",
                          "end_date": null,
                          "district": "42",
                          "chamber": "lower",
                          "state": "or",
                          "party": "Democrat",
                          "type": "member",
                          "start_date": null
                        },
                        {
                          "term": "2015-2016",
                          "committee_id": "ORC000013",
                          "chamber": "lower",
                          "state": "or",
                          "subcommittee": null,
                          "committee": "Business and Labor",
                          "position": "Member",
                          "type": "committee member"
                        },
                        {
                          "term": "2015-2016",
                          "committee_id": "ORC000017",
                          "chamber": "lower",
                          "state": "or",
                          "subcommittee": null,
                          "committee": "Revenue",
                          "position": "Member",
                          "type": "committee member"
                        },
                        {
                          "term": "2015-2016",
                          "committee_id": "ORC000007",
                          "chamber": "lower",
                          "state": "or",
                          "subcommittee": null,
                          "committee": "Health Care",
                          "position": "Vice-Chair",
                          "type": "committee member"
                        }
                      ]
                    },
                    "id": "ORL000259",
                    "first_name": "Rob",
                    "middle_name": "",
                    "district": "42",
                    "state": "or",
                    "boundary_id": "ocd-division/country:us/state:or/sldl:42",
                    "email": "Rep.RobNosse@state.or.us",
                    "all_ids": [
                      "ORL000259",
                      "ORL000340"
                    ],
                    "leg_id": "ORL000259",
                    "party": "Democrat",
                    "active": true,
                    "transparencydata_id": "",
                    "nickname": "",
                    "photo_url": "http://www.oregonlegislature.gov/house/MemberPhotos/nosse.jpg",
                    "roles": [
                      {
                        "term": "2017-2018",
                        "end_date": null,
                        "district": "42",
                        "chamber": "lower",
                        "state": "or",
                        "party": "Democrat",
                        "type": "member",
                        "start_date": null
                      },
                      {
                        "term": "2017-2018",
                        "committee_id": "ORC000178",
                        "chamber": "joint",
                        "state": "or",
                        "subcommittee": null,
                        "committee": "Tax Credits",
                        "position": "Member",
                        "type": "committee member"
                      },
                      {
                        "term": "2017-2018",
                        "committee_id": "ORC000027",
                        "chamber": "lower",
                        "state": "or",
                        "subcommittee": null,
                        "committee": "Rules",
                        "position": "Member",
                        "type": "committee member"
                      },
                      {
                        "term": "2017-2018",
                        "committee_id": "ORC000017",
                        "chamber": "lower",
                        "state": "or",
                        "subcommittee": null,
                        "committee": "Revenue",
                        "position": "Member",
                        "type": "committee member"
                      },
                      {
                        "term": "2017-2018",
                        "committee_id": "ORC000007",
                        "chamber": "lower",
                        "state": "or",
                        "subcommittee": null,
                        "committee": "Health Care",
                        "position": "Vice-Chair",
                        "type": "committee member"
                      }
                    ],
                    "url": "http://www.oregonlegislature.gov/nosse",
                    "created_at": "2014-07-07 23:28:46",
                    "chamber": "lower",
                    "offices": [
                      {
                        "fax": null,
                        "name": "Capitol Office",
                        "phone": "503-986-1442",
                        "address": "900 Court St NE, H-472, Salem, OR 97301",
                        "type": "capitol",
                        "email": "Rep.RobNosse@oregonlegislature.gov"
                      }
                    ],
                    "suffixes": ""
                  },
                  {
                    "last_name": "Taylor",
                    "updated_at": "2017-03-20 10:49:54",
                    "sources": [
                      {
                        "url": "http://www.oregonlegislature.gov/senate/Pages/SenatorsAll.aspx"
                      }
                    ],
                    "full_name": "Kathleen Taylor",
                    "id": "ORL000384",
                    "first_name": "Kathleen",
                    "middle_name": "",
                    "district": "21",
                    "state": "or",
                    "boundary_id": "ocd-division/country:us/state:or/sldu:21",
                    "all_ids": [
                      "ORL000384"
                    ],
                    "leg_id": "ORL000384",
                    "party": "Democrat",
                    "active": true,
                    "photo_url": "http://www.oregonlegislature.gov/senate/MemberPhotos/taylor.jpg",
                    "roles": [
                      {
                        "term": "2017-2018",
                        "end_date": null,
                        "district": "21",
                        "chamber": "upper",
                        "state": "or",
                        "party": "Democrat",
                        "type": "member",
                        "start_date": null
                      },
                      {
                        "term": "2017-2018",
                        "committee_id": "ORC000207",
                        "chamber": "joint",
                        "state": "or",
                        "subcommittee": null,
                        "committee": "Transportation Preservation and Modernization",
                        "position": "Member",
                        "type": "committee member"
                      },
                      {
                        "term": "2017-2018",
                        "committee_id": "ORC000178",
                        "chamber": "joint",
                        "state": "or",
                        "subcommittee": null,
                        "committee": "Tax Credits",
                        "position": "Member",
                        "type": "committee member"
                      },
                      {
                        "term": "2017-2018",
                        "committee_id": "ORC000131",
                        "chamber": "joint",
                        "state": "or",
                        "subcommittee": null,
                        "committee": "Natural Resources",
                        "position": "Member",
                        "type": "committee member"
                      },
                      {
                        "term": "2017-2018",
                        "committee_id": "ORC000057",
                        "chamber": "upper",
                        "state": "or",
                        "subcommittee": null,
                        "committee": "Finance and Revenue",
                        "position": "Member",
                        "type": "committee member"
                      },
                      {
                        "term": "2017-2018",
                        "committee_id": "ORC000177",
                        "chamber": "upper",
                        "state": "or",
                        "subcommittee": null,
                        "committee": "Workforce",
                        "position": "Chair",
                        "type": "committee member"
                      }
                    ],
                    "url": "http://www.oregonlegislature.gov/taylor",
                    "created_at": "2017-01-10 09:26:27",
                    "chamber": "upper",
                    "offices": [
                      {
                        "fax": null,
                        "name": "Capitol Office",
                        "phone": "503-986-1721",
                        "address": "900 Court St NE, S-423, Salem, OR 97301",
                        "type": "capitol",
                        "email": "Sen.KathleenTaylor@oregonlegislature.gov"
                      }
                    ],
                    "suffixes": ""
                  }
                ]
              },
              "attribution": {
                "text": "Data Provided by Civil Services",
                "website": "https://civil.services",
                "link": "<a href=\"https://civil.services\">Data Provided by Civil Services</a>",
                "license": "https://raw.githubusercontent.com/CivilServiceUSA/api/master/LICENSE",
                "report_bug": "https://github.com/CivilServiceUSA/api/issues/new",
                "logo": "https://cdn.civil.services/common/logo.png",
                "icon": "https://cdn.civil.services/common/icon.png"
              }
            }


# Group Senate Endpoints

View Contact Information for United States Senators, including: Phone Number, Mailing Address, Official Website, Twitter & Facebook Accounts.

## Senate [/senate/{?page,pageSize,fields,zipcode,latitude,longitude,state,class,bioguide,thomas,govtrack,opensecrets,votesmart,fec,maplight,wikidata,googleEntityId,title,party,name,gender,ethnicity,religion,openlyLGBTQ,age,minAge,maxAge,termEnds,termEndsBefore,termEndsAfter,enteredOffice,enteredOfficeBefore,enteredOfficeAfter}]

Search for Senator using any combination of search parameters.

+ Parameters
    + page (number, optional, `1`) - Which page to load here
    + pageSize (number, optional, `50`) - Maximum Number of Results to Show
    + fields (optional, string, `name,party,photo_url`) - Comma Separated List of fields you want in the response
    + zipcode (optional, string, `97232`) - United Steps Zip Code
    + latitude (optional, float, `45.542094`) - GPS Latitude ( `longitude` required if used )
    + longitude (optional, float, `-122.9346037`) - GPS Longitude ( `latitude` required if used )
    + state (optional, string, `OR`) - State ( Full State Name or Two Letter Abbreviation )
    + class (optional, enum, `III`)

        Senate to be divided into three classes for purposes of elections. Using a comma to filter with multiple options, e.g. `?title=I,III`

        + Values
            + `I`
            + `II`
            + `III`
    + bioguide (optional, string, `S001198`) - The alphanumeric ID for this Senator on bioguide.congress.gov
    + thomas (optional, string, `2290`) - The numeric ID for this Senator ( not really used anymore )
    + govtrack (optional, string, `412665`) - The numeric ID for this Senator on GovTrack.us
    + opensecrets (optional, string, `N00035774`) - The alphanumeric ID for this Senator on OpenSecrets.org
    + votesmart (optional, string, `114964`) - The numeric ID for this Senator on VoteSmart.org
    + fec (optional, string, `H6AK00045`) - Federal Election Commission ID
    + maplight (optional, string, `525`) - The numeric ID for this Senator on MapLight.org
    + wikidata (optional, string, `Q1239590`) - The numeric ID for this Senator on wikidata.org
    + googleEntityId (optional, string, `kg:/m/024p1k`) - Google Integration
    + title (optional, enum, `senate-majority-leader`)

        Title of Senator. Using a comma to filter with multiple options, e.g. `?title=senate-majority-leader,senate-minority-leader`

        + Values
            + `senator`
            + `senate-majority-leader`
            + `senate_majority-whip`
            + `senate-minority-leader`
            + `senate-minority-whip`
    + party (optional, enum, `democrat`) -

        Political Party of Senator. Using a comma to filter with multiple options, e.g. `?party=democrat,republican`

        + Values
            + `constitution`
            + `democrat`
            + `green`
            + `independent`
            + `libertarian`
            + `nonpartisan`
            + `republican`
    + name (optional, string, `Elizabeth Warren`) - Full Name of Senator
    + gender (optional, enum, `female`)

        Gender of Senator. Using a comma to filter with multiple options, e.g. `?gender=female,male`

        + Values
            + `female`
            + `male`
            + `unspecified`
    + ethnicity (optional, enum, `african-american`)

        Ethnicity of Senator. Using a comma to filter with multiple options, e.g. `?ethnicity=african-american,asian-american`

        + Values
            + `african-american`
            + `asian-american`
            + `hispanic-american`
            + `middle-eastern-american`
            + `multi-racial-american`
            + `native-american`
            + `pacific-islander`
            + `white-american`
            + `unspecified`
    + religion (optional, enum, `protestant`)

        Religion of Senator. Using a comma to filter with multiple options, e.g. `?religion=muslim,jewish`

        + Values
            + `african-methodist`
            + `anglican`
            + `baptist`
            + `buddhism`
            + `christian`
            + `christian-reformed`
            + `christian-scientist`
            + `church-of-christ`
            + `church-of-god`
            + `congregationalist`
            + `deist`
            + `eastern-orthodox`
            + `episcopalian`
            + `evangelical`
            + `evangelical-lutheran`
            + `hindu`
            + `jewish`
            + `jodo-shinshu-buddhist`
            + `lutheran`
            + `methodist`
            + `mormon`
            + `muslim`
            + `nazarene-christian`
            + `pentecostal`
            + `presbyterian`
            + `protestant`
            + `roman-catholic`
            + `seventh-day-adventist-church`
            + `soka-gakkai-buddhist`
            + `southern-baptist`
            + `united-church-of-christ`
            + `united-methodist`
            + `unitarian-universalist`
            + `unspecified`
    + openlyLGBTQ (optional, enum, `gay`)

        Senator is Openly LGBTQ. Using a comma to filter with multiple options, e.g. `?openlyLGBTQ=lesbian,gay`

        + Values
            + `no`
            + `lesbian`
            + `gay`
            + `bisexual`
            + `transgender`
            + `queer`
    + age (optional, number, `65`) - Age of Senator
    + minAge (optional, number, `40`) - Minimum Age of Senator
    + maxAge (optional, number, `80`) - Maximum Age of Senator
    + termEnds (optional, number, `2019`) - Year Term Ends ( formatted `YYYY` )
    + termEndsBefore (optional, number, `2023`) - Term Ends Before this Year ( formatted `YYYY` )
    + termEndsAfter (optional, number, `2016`) - Term Ends After this Year ( formatted `YYYY` )
    + enteredOffice (optional, number, `2017`) - Year Entered Office ( formatted `YYYY` )
    + enteredOfficeBefore (optional, number, `2008`) - Entered Office Before this Year ( formatted `YYYY` )
    + enteredOfficeAfter (optional, number, `2017`) - Entered Office After this Year ( formatted `YYYY` )

### Senators [GET]

+ Request
    + Parameters
        + zipcode: 97232

+ Response 200 (application/json; charset=utf-8)
    + Attributes
        + zipcode: 97232
        
    + Body
    
            {
              "notices": [],
              "warnings": [],
              "errors": [],
              "field_errors": {},
              "meta": {
                "total": 2,
                "showing": 2,
                "pages": 1,
                "page": 1
              },
              "data": [
                {
                  "address_city": "Washington",
                  "address_complete": "313 Hart, Washington, DC 20510",
                  "address_number": null,
                  "address_prefix": null,
                  "address_sec_unit_num": null,
                  "address_sec_unit_type": null,
                  "address_state": "DC",
                  "address_street": "313 Hart",
                  "address_type": "Building",
                  "address_zipcode": "20510",
                  "age": 60,
                  "biography": "Jeff Merkley, a Senator from Oregon; born in Myrtle Creek, Ore., October 24, 1956; B.A., Stanford University, 1979; M.P.A., Princeton University, 1982; government analyst; nonprofit executive; Oregon State Representative, 1999-2008; speaker of the Oregon State House of Representative, 2007-2008; elected as a Democrat to the United States Senate in 2008; reelected in 2014 for the term ending January 3, 2021.",
                  "bioguide": "M001176",
                  "bioguide_url": "http://bioguide.congress.gov/scripts/biodisplay.pl?index=M001176",
                  "contact_page": "https://www.merkley.senate.gov/contact/",
                  "date_of_birth": "1956-10-24T00:00:00.000Z",
                  "entered_office": "2009-01-03T00:00:00.000Z",
                  "ethnicity": "white-american",
                  "facebook_url": "https://www.facebook.com/jeffmerkley",
                  "fax": "202-228-3997",
                  "fec": null,
                  "fec_url": null,
                  "first_name": "Jeff",
                  "gender": "male",
                  "goes_by": null,
                  "google_entity_id": null,
                  "govtrack": "412325",
                  "govtrack_url": "https://www.govtrack.us/congress/members/412325",
                  "last_name": "Merkley",
                  "latitude": 38.8928,
                  "longitude": -77.0044,
                  "maplight": null,
                  "maplight_url": null,
                  "middle_name": null,
                  "name": "Jeff Merkley",
                  "name_slug": "jeff-merkley",
                  "name_suffix": null,
                  "openly_lgbtq": "no",
                  "opensecrets": "N00029303",
                  "opensecrets_url": "https://www.opensecrets.org/politicians/summary.php?cid=N00029303",
                  "opensecrets_url_tabs": {
                    "summary": "https://www.opensecrets.org/politicians/summary.php?cid=N00029303",
                    "elections": "https://www.opensecrets.org/politicians/elections.php?cid=N00029303",
                    "industries": "https://www.opensecrets.org/politicians/industries.php?cid=N00029303",
                    "pacs": "https://www.opensecrets.org/politicians/pacs.php?cid=N00029303",
                    "donors": "https://www.opensecrets.org/politicians/contrib.php?cid=N00029303",
                    "geography": "https://www.opensecrets.org/politicians/geog.php?cid=N00029303",
                    "expenditures": "https://www.opensecrets.org/politicians/expend.php?cid=N00029303",
                    "legislation": "https://www.opensecrets.org/politicians/bills.php?cid=N00029303",
                    "news": "https://www.opensecrets.org/politicians/inthenews.php?cid=N00029303",
                    "other": "https://www.opensecrets.org/politicians/otherdata.php?cid=N00029303"
                  },
                  "party": "democrat",
                  "phone": "202-224-3753",
                  "photo_url": "https://cdn.civil.services/us-senate/headshots/512x512/jeff-merkley.jpg",
                  "photo_url_sizes": {
                    "64x64": "https://cdn.civil.services/us-senate/headshots/64x64/jeff-merkley.jpg",
                    "128x128": "https://cdn.civil.services/us-senate/headshots/128x128/jeff-merkley.jpg",
                    "256x256": "https://cdn.civil.services/us-senate/headshots/256x256/jeff-merkley.jpg",
                    "512x512": "https://cdn.civil.services/us-senate/headshots/512x512/jeff-merkley.jpg",
                    "1024x1024": "https://cdn.civil.services/us-senate/headshots/1024x1024/jeff-merkley.jpg"
                  },
                  "pronunciation": "JEFF MER-klee",
                  "religion": "lutheran",
                  "state_code": "OR",
                  "state_code_slug": "or",
                  "state_name": "Oregon",
                  "state_name_slug": "oregon",
                  "term_end": "2021-01-03T00:00:00.000Z",
                  "thomas": "1900",
                  "title": "senator",
                  "twitter_handle": "SenJeffMerkley",
                  "twitter_url": "https://twitter.com/SenJeffMerkley",
                  "votesmart": "23644",
                  "votesmart_url": "http://votesmart.org/candidate/23644",
                  "votesmart_url_tabs": {
                    "summary": "http://votesmart.org/candidate/23644",
                    "bio": "http://votesmart.org/candidate/biography/23644",
                    "votes": "http://votesmart.org/candidate/key-votes/23644",
                    "positions": "http://votesmart.org/candidate/political-courage-test/23644",
                    "ratings": "http://votesmart.org/candidate/evaluations/23644",
                    "speeches": "http://votesmart.org/candidate/public-statements/23644",
                    "funding": "http://votesmart.org/candidate/campaign-finance/23644"
                  },
                  "website": "http://www.merkley.senate.gov",
                  "wikidata": null,
                  "wikidata_url": null
                },
                {
                  "address_city": "Washington",
                  "address_complete": "221 Dirksen, Washington, DC 20510",
                  "address_number": null,
                  "address_prefix": null,
                  "address_sec_unit_num": null,
                  "address_sec_unit_type": null,
                  "address_state": "DC",
                  "address_street": "221 Dirksen",
                  "address_type": "Building",
                  "address_zipcode": "20510",
                  "age": 67,
                  "biography": "Ron Wyden, a Senator and a Representative from Oregon; born in Wichita, Sedgwick County, Kans., May 3, 1949; attended the public schools of Palo Alto, Calif.; A.B., Stanford University 1971; J.D., University of Oregon Law School in Eugene 1974; director, Oregon Legal Services for the Elderly 1977-1979; public member, Oregon State Board of Examiners of Nursing Home Administrators 1977-1979; elected as a Democrat to the Ninety-seventh and to the seven succeeding Congresses, and served from January 3, 1981, to February 5, 1996, when he resigned, having been elected to the Senate; elected to the Senate in a special election on January 30, 1996, to fill the unexpired portion of the term ending January 3, 1999, left vacant by the resignation of Robert W. Packwood, and began service on February 5, 1996; reelected in 1998, 2004 and again in 2010 for the term ending January 3, 2017; chair, Committee on Energy and Natural Resources (One Hundred Thirteenth Congress [January 3, 2013-February 12, 2014]), Committee on Finance (One Hundred Thirteenth Congress [February 12, 2014-January 3, 2015]).",
                  "bioguide": "W000779",
                  "bioguide_url": "http://bioguide.congress.gov/scripts/biodisplay.pl?index=W000779",
                  "contact_page": "https://www.wyden.senate.gov/contact/",
                  "date_of_birth": "1949-05-03T00:00:00.000Z",
                  "entered_office": "1996-02-06T00:00:00.000Z",
                  "ethnicity": "white-american",
                  "facebook_url": "https://www.facebook.com/wyden/",
                  "fax": "202-228-2717",
                  "fec": null,
                  "fec_url": null,
                  "first_name": "Ron",
                  "gender": "male",
                  "goes_by": null,
                  "google_entity_id": null,
                  "govtrack": "300100",
                  "govtrack_url": "https://www.govtrack.us/congress/members/300100",
                  "last_name": "Wyden",
                  "latitude": 38.8929,
                  "longitude": -77.0757,
                  "maplight": null,
                  "maplight_url": null,
                  "middle_name": null,
                  "name": "Ron Wyden",
                  "name_slug": "ron-wyden",
                  "name_suffix": null,
                  "openly_lgbtq": "no",
                  "opensecrets": "N00007724",
                  "opensecrets_url": "https://www.opensecrets.org/politicians/summary.php?cid=N00007724",
                  "opensecrets_url_tabs": {
                    "summary": "https://www.opensecrets.org/politicians/summary.php?cid=N00007724",
                    "elections": "https://www.opensecrets.org/politicians/elections.php?cid=N00007724",
                    "industries": "https://www.opensecrets.org/politicians/industries.php?cid=N00007724",
                    "pacs": "https://www.opensecrets.org/politicians/pacs.php?cid=N00007724",
                    "donors": "https://www.opensecrets.org/politicians/contrib.php?cid=N00007724",
                    "geography": "https://www.opensecrets.org/politicians/geog.php?cid=N00007724",
                    "expenditures": "https://www.opensecrets.org/politicians/expend.php?cid=N00007724",
                    "legislation": "https://www.opensecrets.org/politicians/bills.php?cid=N00007724",
                    "news": "https://www.opensecrets.org/politicians/inthenews.php?cid=N00007724",
                    "other": "https://www.opensecrets.org/politicians/otherdata.php?cid=N00007724"
                  },
                  "party": "democrat",
                  "phone": "202-224-5244",
                  "photo_url": "https://cdn.civil.services/us-senate/headshots/512x512/ron-wyden.jpg",
                  "photo_url_sizes": {
                    "64x64": "https://cdn.civil.services/us-senate/headshots/64x64/ron-wyden.jpg",
                    "128x128": "https://cdn.civil.services/us-senate/headshots/128x128/ron-wyden.jpg",
                    "256x256": "https://cdn.civil.services/us-senate/headshots/256x256/ron-wyden.jpg",
                    "512x512": "https://cdn.civil.services/us-senate/headshots/512x512/ron-wyden.jpg",
                    "1024x1024": "https://cdn.civil.services/us-senate/headshots/1024x1024/ron-wyden.jpg"
                  },
                  "pronunciation": "RAHN WAHY-dn",
                  "religion": "jewish",
                  "state_code": "OR",
                  "state_code_slug": "or",
                  "state_name": "Oregon",
                  "state_name_slug": "oregon",
                  "term_end": "2023-01-03T00:00:00.000Z",
                  "thomas": "1247",
                  "title": "senator",
                  "twitter_handle": "RonWyden",
                  "twitter_url": "https://twitter.com/RonWyden",
                  "votesmart": "27036",
                  "votesmart_url": "http://votesmart.org/candidate/27036",
                  "votesmart_url_tabs": {
                    "summary": "http://votesmart.org/candidate/27036",
                    "bio": "http://votesmart.org/candidate/biography/27036",
                    "votes": "http://votesmart.org/candidate/key-votes/27036",
                    "positions": "http://votesmart.org/candidate/political-courage-test/27036",
                    "ratings": "http://votesmart.org/candidate/evaluations/27036",
                    "speeches": "http://votesmart.org/candidate/public-statements/27036",
                    "funding": "http://votesmart.org/candidate/campaign-finance/27036"
                  },
                  "website": "http://www.wyden.senate.gov",
                  "wikidata": null,
                  "wikidata_url": null
                }
              ],
              "attribution": {
                "text": "Data Provided by Civil Services",
                "website": "https://civil.services",
                "link": "<a href=\"https://civil.services\">Data Provided by Civil Services</a>",
                "license": "https://raw.githubusercontent.com/CivilServiceUSA/api/master/LICENSE",
                "report_bug": "https://github.com/CivilServiceUSA/api/issues/new",
                "logo": "https://cdn.civil.services/common/logo.png",
                "icon": "https://cdn.civil.services/common/icon.png"
              }
            }

# Group House Endpoints

View Contact Information for United States House Representatives, including: Phone Number, Mailing Address, Official Website, Twitter & Facebook Accounts.

## House [/house/{?page,pageSize,fields,zipcode,latitude,longitude,state,district,atLarge,vacant,bioguide,thomas,govtrack,opensecrets,votesmart,fec,maplight,wikidata,googleEntityId,title,party,name,gender,ethnicity,religion,openlyLGBTQ,age,minAge,maxAge,termEnds,termEndsBefore,termEndsAfter,enteredOffice,enteredOfficeBefore,enteredOfficeAfter}]

Search for House Representative using any combination of search parameters.

+ Parameters
    + page (number, optional, `1`) - Which page to load here
    + pageSize (number, optional, `50`) - Maximum Number of Results to Show
    + fields (optional, string, `name,party,photo_url`) - Comma Separated List of fields you want in the response
    + zipcode (optional, string, `97232`) - United Steps Zip Code
    + latitude (optional, float, `45.542094`) - GPS Latitude ( `longitude` required if used )
    + longitude (optional, float, `-122.9346037`) - GPS Longitude ( `latitude` required if used )
    + state (optional, string, `OR`) - State ( Full State Name or Two Letter Abbreviation )
    + district (optional, number, `3`) - District of Representative ( not always available )
    + atLarge (optional, boolean, `true`) - Representative is considered At-Large
    + vacant (optional, boolean, `true`) - Representative Seat is Vacant
    + bioguide (optional, string, `Y000033`) - The alphanumeric ID for this Senator on bioguide.congress.gov
    + thomas (optional, string, `1256`) - The numeric ID for this Senator ( not really used anymore )
    + govtrack (optional, string, `400440`) - The numeric ID for this Senator on GovTrack.us
    + opensecrets (optional, string, `N00007999`) - The alphanumeric ID for this Senator on OpenSecrets.org
    + votesmart (optional, string, `26717`) - The numeric ID for this Senator on VoteSmart.org
    + fec (optional, string, `H6AK00045`) - Federal Election Commission ID
    + maplight (optional, string, `525`) - The numeric ID for this Senator on MapLight.org
    + wikidata (optional, string, `Q1239590`) - The numeric ID for this Senator on wikidata.org
    + googleEntityId (optional, string, `kg:/m/024p1k`) - Google Integration
    + title (optional, enum, `house-majority-leader`)

        Title of Senator. Using a comma to filter with multiple options, e.g. `?title=house-majority-leader,house-minority-leader`

        + Values
            + `representative`
            + `house-speaker`
            + `house-majority-leader`
            + `house-majority-whip`
            + `house-minority-leader`
            + `house-minority-whip`
            + `republican-conference-chairman`
            + `republican-policy-committee-chairman`
            + `assistant-democratic-leader`
            + `democratic-caucus-chairman`
    + party (optional, enum, `independent`) -

        Political Party of Senator. Using a comma to filter with multiple options, e.g. `?title=democrat,republican`

        + Values
            + `constitution`
            + `democrat`
            + `green`
            + `independent`
            + `libertarian`
            + `nonpartisan`
            + `republican`
    + name (optional, string, `Nancy Pelosi`) - Full Name of Senator
    + gender (optional, enum, `female`)

        Gender of Senator. Using a comma to filter with multiple options, e.g. `?gender=female,male`

        + Values
            + `female`
            + `male`
            + `unspecified`
    + ethnicity (optional, enum, `asian-american`)

        Ethnicity of Senator. Using a comma to filter with multiple options, e.g. `?ethnicity=african-american,asian-american`

        + Values
            + `african-american`
            + `asian-american`
            + `hispanic-american`
            + `middle-eastern-american`
            + `multi-racial-american`
            + `native-american`
            + `pacific-islander`
            + `white-american`
            + `unspecified`
    + religion (optional, enum, `hindu`)

        Religion of Senator. Using a comma to filter with multiple options, e.g. `?religion=muslim,jewish`

        + Values
            + `african-methodist`
            + `anglican`
            + `baptist`
            + `buddhism`
            + `christian`
            + `christian-reformed`
            + `christian-scientist`
            + `church-of-christ`
            + `church-of-god`
            + `congregationalist`
            + `deist`
            + `eastern-orthodox`
            + `episcopalian`
            + `evangelical`
            + `evangelical-lutheran`
            + `hindu`
            + `jewish`
            + `jodo-shinshu-buddhist`
            + `lutheran`
            + `methodist`
            + `mormon`
            + `muslim`
            + `nazarene-christian`
            + `pentecostal`
            + `presbyterian`
            + `protestant`
            + `roman-catholic`
            + `seventh-day-adventist-church`
            + `soka-gakkai-buddhist`
            + `southern-baptist`
            + `united-church-of-christ`
            + `united-methodist`
            + `unitarian-universalist`
            + `unspecified`
    + openlyLGBTQ (optional, enum, `transgender`)

        Senator is Openly LGBTQ. Using a comma to filter with multiple options, e.g. `?openlyLGBTQ=lesbian,gay`

        + Values
            + `no`
            + `lesbian`
            + `gay`
            + `bisexual`
            + `transgender`
            + `queer`
    + age (optional, number, `65`) - Age of Senator
    + minAge (optional, number, `40`) - Minimum Age of Senator
    + maxAge (optional, number, `80`) - Maximum Age of Senator
    + termEnds (optional, number, `2019`) - Year Term Ends ( formatted `YYYY` )
    + termEndsBefore (optional, number, `2023`) - Term Ends Before this Year ( formatted `YYYY` )
    + termEndsAfter (optional, number, `2016`) - Term Ends After this Year ( formatted `YYYY` )
    + enteredOffice (optional, number, `2017`) - Year Entered Office ( formatted `YYYY` )
    + enteredOfficeBefore (optional, number, `2008`) - Entered Office Before this Year ( formatted `YYYY` )
    + enteredOfficeAfter (optional, number, `2017`) - Entered Office After this Year ( formatted `YYYY` )

### House Representatives [GET]

In this example we will get all House Representatives in the State of Oregon and only request the `name`, `party` & `photo_url` fields.

+ Request
    + Parameters
        + fields: name,party,photo_url
        + state: OR

+ Response 200 (application/json; charset=utf-8)
    + Attributes
        + fields: name,party,photo_url
        + state: OR
        
    + Body
    
            {
              "notices": [],
              "warnings": [],
              "errors": [],
              "field_errors": {},
              "meta": {
                "total": 5,
                "showing": 5,
                "pages": 1,
                "page": 1
              },
              "data": [
                {
                  "name": "Kurt Schrader",
                  "party": "democrat",
                  "photo_url": "https://cdn.civil.services/us-house/headshots/512x512/kurt-schrader.jpg"
                },
                {
                  "name": "Greg Walden",
                  "party": "republican",
                  "photo_url": "https://cdn.civil.services/us-house/headshots/512x512/greg-walden.jpg"
                },
                {
                  "name": "Peter DeFazio",
                  "party": "democrat",
                  "photo_url": "https://cdn.civil.services/us-house/headshots/512x512/peter-defazio.jpg"
                },
                {
                  "name": "Suzanne Bonamici",
                  "party": "democrat",
                  "photo_url": "https://cdn.civil.services/us-house/headshots/512x512/suzanne-bonamici.jpg"
                },
                {
                  "name": "Earl Blumenauer",
                  "party": "democrat",
                  "photo_url": "https://cdn.civil.services/us-house/headshots/512x512/earl-blumenauer.jpg"
                }
              ],
              "attribution": {
                "text": "Data Provided by Civil Services",
                "website": "https://civil.services",
                "link": "<a href=\"https://civil.services\">Data Provided by Civil Services</a>",
                "license": "https://raw.githubusercontent.com/CivilServiceUSA/api/master/LICENSE",
                "report_bug": "https://github.com/CivilServiceUSA/api/issues/new",
                "logo": "https://cdn.civil.services/common/logo.png",
                "icon": "https://cdn.civil.services/common/icon.png"
              }
            }

# Group Government Endpoints

This returns data for both the `/senate` & `/house` endpoints with one call.

## Government [/government/{?page,pageSize,fields,zipcode,latitude,longitude,state}]

Search for House Representative using any combination of search parameters.  You can also add any of the search parameters from either of the `/senate` & `/house` endpoints. 

+ Parameters
    + page (number, optional, `1`) - Which page to load here
    + pageSize (number, optional, `50`) - Maximum Number of Results to Show
    + fields (optional, string, `house,senate`) - Comma Separated List of fields you want in the response
    + zipcode (optional, string, `97232`) - United Steps Zip Code
    + latitude (optional, float, `45.542094`) - GPS Latitude ( `longitude` required if used )
    + longitude (optional, float, `-122.9346037`) - GPS Longitude ( `latitude` required if used )
    + state (optional, string, `OR`) - State ( Full State Name or Two Letter Abbreviation )

### House Representatives [GET]

+ Request
    + Parameters
        + zipcode: 97232

+ Response 200 (application/json; charset=utf-8)
    + Attributes
        + zipcode: 97232
        
    + Body
    
            {
              "notices": [],
              "warnings": [],
              "errors": [],
              "field_errors": {},
              "meta": {
                "total": 1,
                "showing": 1,
                "pages": 1,
                "page": 1
              },
              "data": {
                "house": [
                  {
                    "address_city": "Washington",
                    "address_complete": "2436 Rayburn Hob, Washington, DC 20515",
                    "address_number": "2436",
                    "address_prefix": null,
                    "address_sec_unit_num": null,
                    "address_sec_unit_type": null,
                    "address_state": "DC",
                    "address_street": "Rayburn Hob",
                    "address_type": null,
                    "address_zipcode": "20515",
                    "age": 68,
                    "at_large": null,
                    "biography": "Earl Blumenauer, a Representative from Oregon; born in Portland, Multnomah County, Oreg., August 16, 1948; graduated from Centennial High School, Portland, Oreg., 1966; B.A., Lewis and Clark College, Portland, Oreg., 1970; J.D., Lewis and Clark Law School, Portland, Oreg., 1976; assistant to the president of Portland State University, Portland, Oreg., 1970-1977; member of the Oregon state house of representatives, 1973-1978; member of the board of directors, Portland Community College, 1975-1981; Multnomah County, Oreg., commissioner, 1978-1985; Portland, Oreg., city commissioner, 1986-1996; served on the Governorâ€™s commission on higher education, 1990-1991; elected as a Democrat, by special election, to the One Hundred Fourth Congress to fill the vacancy caused by the resignation of United States Representative Ronald Lee Wyden, and reelected to the eleven succeeding Congresses (May 21, 1996-present).",
                    "bioguide": "B000574",
                    "bioguide_url": "http://bioguide.congress.gov/scripts/biodisplay.pl?index=B000574",
                    "contact_page": "https://blumenauerforms.house.gov/forms/writeyourrep/",
                    "date_of_birth": "1948-08-16T00:00:00.000Z",
                    "district": 3,
                    "entered_office": "1996-05-21T00:00:00.000Z",
                    "ethnicity": "white-american",
                    "facebook_url": "https://www.facebook.com/blumenauer",
                    "fax": "202-225-8941",
                    "fec": "H6OR03064",
                    "fec_url": "http://www.fec.gov/fecviewer/CandidateCommitteeDetail.do?candidateCommitteeId=H6OR03064",
                    "first_name": "Earl",
                    "gender": "male",
                    "goes_by": null,
                    "google_entity_id": "kg:/m/033tw8",
                    "govtrack": "400033",
                    "govtrack_url": "https://www.govtrack.us/congress/members/400033",
                    "last_name": "Blumenauer",
                    "latitude": 38.8863,
                    "longitude": -77.0114,
                    "maplight": "152",
                    "maplight_url": "http://maplight.org/us-congress/legislator/152",
                    "middle_name": null,
                    "name": "Earl Blumenauer",
                    "name_slug": "earl-blumenauer",
                    "name_suffix": null,
                    "openly_lgbtq": "no",
                    "opensecrets": "N00007727",
                    "opensecrets_url": "https://www.opensecrets.org/politicians/summary.php?cid=N00007727",
                    "opensecrets_url_tabs": {
                      "summary": "https://www.opensecrets.org/politicians/summary.php?cid=N00007727",
                      "elections": "https://www.opensecrets.org/politicians/elections.php?cid=N00007727",
                      "industries": "https://www.opensecrets.org/politicians/industries.php?cid=N00007727",
                      "pacs": "https://www.opensecrets.org/politicians/pacs.php?cid=N00007727",
                      "donors": "https://www.opensecrets.org/politicians/contrib.php?cid=N00007727",
                      "geography": "https://www.opensecrets.org/politicians/geog.php?cid=N00007727",
                      "expenditures": "https://www.opensecrets.org/politicians/expend.php?cid=N00007727",
                      "legislation": "https://www.opensecrets.org/politicians/bills.php?cid=N00007727",
                      "news": "https://www.opensecrets.org/politicians/inthenews.php?cid=N00007727",
                      "other": "https://www.opensecrets.org/politicians/otherdata.php?cid=N00007727"
                    },
                    "party": "democrat",
                    "phone": "202-225-4811",
                    "photo_url": "https://cdn.civil.services/us-house/headshots/512x512/earl-blumenauer.jpg",
                    "photo_url_sizes": {
                      "64x64": "https://cdn.civil.services/us-house/headshots/64x64/earl-blumenauer.jpg",
                      "128x128": "https://cdn.civil.services/us-house/headshots/128x128/earl-blumenauer.jpg",
                      "256x256": "https://cdn.civil.services/us-house/headshots/256x256/earl-blumenauer.jpg",
                      "512x512": "https://cdn.civil.services/us-house/headshots/512x512/earl-blumenauer.jpg",
                      "1024x1024": "https://cdn.civil.services/us-house/headshots/1024x1024/earl-blumenauer.jpg"
                    },
                    "pronunciation": "EARL BLOO-meh-now-er",
                    "religion": "protestant",
                    "state_code": "OR",
                    "state_code_slug": "or",
                    "state_name": "Oregon",
                    "state_name_slug": "oregon",
                    "term_end": "2019-01-03T00:00:00.000Z",
                    "thomas": "99",
                    "title": "representative",
                    "twitter_handle": "repblumenauer",
                    "twitter_url": "https://twitter.com/repblumenauer",
                    "vacant": null,
                    "votesmart": "367",
                    "votesmart_url": "http://votesmart.org/candidate/367",
                    "votesmart_url_tabs": {
                      "summary": "http://votesmart.org/candidate/367",
                      "bio": "http://votesmart.org/candidate/biography/367",
                      "votes": "http://votesmart.org/candidate/key-votes/367",
                      "positions": "http://votesmart.org/candidate/political-courage-test/367",
                      "ratings": "http://votesmart.org/candidate/evaluations/367",
                      "speeches": "http://votesmart.org/candidate/public-statements/367",
                      "funding": "http://votesmart.org/candidate/campaign-finance/367"
                    },
                    "website": "https://blumenauerforms.house.gov",
                    "wikidata": "Q748066",
                    "wikidata_url": "https://www.wikidata.org/wiki/Q748066"
                  }
                ],
                "senate": [
                  {
                    "address_city": "Washington",
                    "address_complete": "313 Hart, Washington, DC 20510",
                    "address_number": null,
                    "address_prefix": null,
                    "address_sec_unit_num": null,
                    "address_sec_unit_type": null,
                    "address_state": "DC",
                    "address_street": "313 Hart",
                    "address_type": "Building",
                    "address_zipcode": "20510",
                    "age": 60,
                    "biography": "Jeff Merkley, a Senator from Oregon; born in Myrtle Creek, Ore., October 24, 1956; B.A., Stanford University, 1979; M.P.A., Princeton University, 1982; government analyst; nonprofit executive; Oregon State Representative, 1999-2008; speaker of the Oregon State House of Representative, 2007-2008; elected as a Democrat to the United States Senate in 2008; reelected in 2014 for the term ending January 3, 2021.",
                    "bioguide": "M001176",
                    "bioguide_url": "http://bioguide.congress.gov/scripts/biodisplay.pl?index=M001176",
                    "contact_page": "https://www.merkley.senate.gov/contact/",
                    "date_of_birth": "1956-10-24T00:00:00.000Z",
                    "entered_office": "2009-01-03T00:00:00.000Z",
                    "ethnicity": "white-american",
                    "facebook_url": "https://www.facebook.com/jeffmerkley",
                    "fax": "202-228-3997",
                    "fec": null,
                    "fec_url": null,
                    "first_name": "Jeff",
                    "gender": "male",
                    "goes_by": null,
                    "google_entity_id": null,
                    "govtrack": "412325",
                    "govtrack_url": "https://www.govtrack.us/congress/members/412325",
                    "last_name": "Merkley",
                    "latitude": 38.8928,
                    "longitude": -77.0044,
                    "maplight": null,
                    "maplight_url": null,
                    "middle_name": null,
                    "name": "Jeff Merkley",
                    "name_slug": "jeff-merkley",
                    "name_suffix": null,
                    "openly_lgbtq": "no",
                    "opensecrets": "N00029303",
                    "opensecrets_url": "https://www.opensecrets.org/politicians/summary.php?cid=N00029303",
                    "opensecrets_url_tabs": {
                      "summary": "https://www.opensecrets.org/politicians/summary.php?cid=N00029303",
                      "elections": "https://www.opensecrets.org/politicians/elections.php?cid=N00029303",
                      "industries": "https://www.opensecrets.org/politicians/industries.php?cid=N00029303",
                      "pacs": "https://www.opensecrets.org/politicians/pacs.php?cid=N00029303",
                      "donors": "https://www.opensecrets.org/politicians/contrib.php?cid=N00029303",
                      "geography": "https://www.opensecrets.org/politicians/geog.php?cid=N00029303",
                      "expenditures": "https://www.opensecrets.org/politicians/expend.php?cid=N00029303",
                      "legislation": "https://www.opensecrets.org/politicians/bills.php?cid=N00029303",
                      "news": "https://www.opensecrets.org/politicians/inthenews.php?cid=N00029303",
                      "other": "https://www.opensecrets.org/politicians/otherdata.php?cid=N00029303"
                    },
                    "party": "democrat",
                    "phone": "202-224-3753",
                    "photo_url": "https://cdn.civil.services/us-senate/headshots/512x512/jeff-merkley.jpg",
                    "photo_url_sizes": {
                      "64x64": "https://cdn.civil.services/us-senate/headshots/64x64/jeff-merkley.jpg",
                      "128x128": "https://cdn.civil.services/us-senate/headshots/128x128/jeff-merkley.jpg",
                      "256x256": "https://cdn.civil.services/us-senate/headshots/256x256/jeff-merkley.jpg",
                      "512x512": "https://cdn.civil.services/us-senate/headshots/512x512/jeff-merkley.jpg",
                      "1024x1024": "https://cdn.civil.services/us-senate/headshots/1024x1024/jeff-merkley.jpg"
                    },
                    "pronunciation": "JEFF MER-klee",
                    "religion": "lutheran",
                    "state_code": "OR",
                    "state_code_slug": "or",
                    "state_name": "Oregon",
                    "state_name_slug": "oregon",
                    "term_end": "2021-01-03T00:00:00.000Z",
                    "thomas": "1900",
                    "title": "senator",
                    "twitter_handle": "SenJeffMerkley",
                    "twitter_url": "https://twitter.com/SenJeffMerkley",
                    "votesmart": "23644",
                    "votesmart_url": "http://votesmart.org/candidate/23644",
                    "votesmart_url_tabs": {
                      "summary": "http://votesmart.org/candidate/23644",
                      "bio": "http://votesmart.org/candidate/biography/23644",
                      "votes": "http://votesmart.org/candidate/key-votes/23644",
                      "positions": "http://votesmart.org/candidate/political-courage-test/23644",
                      "ratings": "http://votesmart.org/candidate/evaluations/23644",
                      "speeches": "http://votesmart.org/candidate/public-statements/23644",
                      "funding": "http://votesmart.org/candidate/campaign-finance/23644"
                    },
                    "website": "http://www.merkley.senate.gov",
                    "wikidata": null,
                    "wikidata_url": null
                  },
                  {
                    "address_city": "Washington",
                    "address_complete": "221 Dirksen, Washington, DC 20510",
                    "address_number": null,
                    "address_prefix": null,
                    "address_sec_unit_num": null,
                    "address_sec_unit_type": null,
                    "address_state": "DC",
                    "address_street": "221 Dirksen",
                    "address_type": "Building",
                    "address_zipcode": "20510",
                    "age": 67,
                    "biography": "Ron Wyden, a Senator and a Representative from Oregon; born in Wichita, Sedgwick County, Kans., May 3, 1949; attended the public schools of Palo Alto, Calif.; A.B., Stanford University 1971; J.D., University of Oregon Law School in Eugene 1974; director, Oregon Legal Services for the Elderly 1977-1979; public member, Oregon State Board of Examiners of Nursing Home Administrators 1977-1979; elected as a Democrat to the Ninety-seventh and to the seven succeeding Congresses, and served from January 3, 1981, to February 5, 1996, when he resigned, having been elected to the Senate; elected to the Senate in a special election on January 30, 1996, to fill the unexpired portion of the term ending January 3, 1999, left vacant by the resignation of Robert W. Packwood, and began service on February 5, 1996; reelected in 1998, 2004 and again in 2010 for the term ending January 3, 2017; chair, Committee on Energy and Natural Resources (One Hundred Thirteenth Congress [January 3, 2013-February 12, 2014]), Committee on Finance (One Hundred Thirteenth Congress [February 12, 2014-January 3, 2015]).",
                    "bioguide": "W000779",
                    "bioguide_url": "http://bioguide.congress.gov/scripts/biodisplay.pl?index=W000779",
                    "contact_page": "https://www.wyden.senate.gov/contact/",
                    "date_of_birth": "1949-05-03T00:00:00.000Z",
                    "entered_office": "1996-02-06T00:00:00.000Z",
                    "ethnicity": "white-american",
                    "facebook_url": "https://www.facebook.com/wyden/",
                    "fax": "202-228-2717",
                    "fec": null,
                    "fec_url": null,
                    "first_name": "Ron",
                    "gender": "male",
                    "goes_by": null,
                    "google_entity_id": null,
                    "govtrack": "300100",
                    "govtrack_url": "https://www.govtrack.us/congress/members/300100",
                    "last_name": "Wyden",
                    "latitude": 38.8929,
                    "longitude": -77.0757,
                    "maplight": null,
                    "maplight_url": null,
                    "middle_name": null,
                    "name": "Ron Wyden",
                    "name_slug": "ron-wyden",
                    "name_suffix": null,
                    "openly_lgbtq": "no",
                    "opensecrets": "N00007724",
                    "opensecrets_url": "https://www.opensecrets.org/politicians/summary.php?cid=N00007724",
                    "opensecrets_url_tabs": {
                      "summary": "https://www.opensecrets.org/politicians/summary.php?cid=N00007724",
                      "elections": "https://www.opensecrets.org/politicians/elections.php?cid=N00007724",
                      "industries": "https://www.opensecrets.org/politicians/industries.php?cid=N00007724",
                      "pacs": "https://www.opensecrets.org/politicians/pacs.php?cid=N00007724",
                      "donors": "https://www.opensecrets.org/politicians/contrib.php?cid=N00007724",
                      "geography": "https://www.opensecrets.org/politicians/geog.php?cid=N00007724",
                      "expenditures": "https://www.opensecrets.org/politicians/expend.php?cid=N00007724",
                      "legislation": "https://www.opensecrets.org/politicians/bills.php?cid=N00007724",
                      "news": "https://www.opensecrets.org/politicians/inthenews.php?cid=N00007724",
                      "other": "https://www.opensecrets.org/politicians/otherdata.php?cid=N00007724"
                    },
                    "party": "democrat",
                    "phone": "202-224-5244",
                    "photo_url": "https://cdn.civil.services/us-senate/headshots/512x512/ron-wyden.jpg",
                    "photo_url_sizes": {
                      "64x64": "https://cdn.civil.services/us-senate/headshots/64x64/ron-wyden.jpg",
                      "128x128": "https://cdn.civil.services/us-senate/headshots/128x128/ron-wyden.jpg",
                      "256x256": "https://cdn.civil.services/us-senate/headshots/256x256/ron-wyden.jpg",
                      "512x512": "https://cdn.civil.services/us-senate/headshots/512x512/ron-wyden.jpg",
                      "1024x1024": "https://cdn.civil.services/us-senate/headshots/1024x1024/ron-wyden.jpg"
                    },
                    "pronunciation": "RAHN WAHY-dn",
                    "religion": "jewish",
                    "state_code": "OR",
                    "state_code_slug": "or",
                    "state_name": "Oregon",
                    "state_name_slug": "oregon",
                    "term_end": "2023-01-03T00:00:00.000Z",
                    "thomas": "1247",
                    "title": "senator",
                    "twitter_handle": "RonWyden",
                    "twitter_url": "https://twitter.com/RonWyden",
                    "votesmart": "27036",
                    "votesmart_url": "http://votesmart.org/candidate/27036",
                    "votesmart_url_tabs": {
                      "summary": "http://votesmart.org/candidate/27036",
                      "bio": "http://votesmart.org/candidate/biography/27036",
                      "votes": "http://votesmart.org/candidate/key-votes/27036",
                      "positions": "http://votesmart.org/candidate/political-courage-test/27036",
                      "ratings": "http://votesmart.org/candidate/evaluations/27036",
                      "speeches": "http://votesmart.org/candidate/public-statements/27036",
                      "funding": "http://votesmart.org/candidate/campaign-finance/27036"
                    },
                    "website": "http://www.wyden.senate.gov",
                    "wikidata": null,
                    "wikidata_url": null
                  }
                ]
              },
              "attribution": {
                "text": "Data Provided by Civil Services",
                "website": "https://civil.services",
                "link": "<a href=\"https://civil.services\">Data Provided by Civil Services</a>",
                "license": "https://raw.githubusercontent.com/CivilServiceUSA/api/master/LICENSE",
                "report_bug": "https://github.com/CivilServiceUSA/api/issues/new",
                "logo": "https://cdn.civil.services/common/logo.png",
                "icon": "https://cdn.civil.services/common/icon.png"
              }
            }