FORMAT: 1A
HOST: https://api.civil.services/v1

# API

![Civil Services Logo](https://cdn.civil.services/common/github-logo.png "Civil Services Logo")

Civil Services is a collection of tools that make it possible for citizens to be a part of what is happening in their Local, State & Federal Governments.

* _Maintained By:_ __[Peter Schmalfeldt](https://twitter.com/mrmidi)__
* _Last Modified:_ __March 28th, 2017__
* _Current API Version:_ __v1.0.2__

__IMPORTANT:__ Currently, our API is only open for select non-commercial use. You can __[Register for an API Key](https://api.civil.services)__ if you would like access to our API. We typically review applications within a business day.

[![API Documentation](https://raw.githubusercontent.com/CivilServiceUSA/api/master/docs/img/apiary.jpg)](http://docs.civilservices.apiary.io)

## Join us on Slack

__[Join us on Slack](https://slack.civil.services/bkx7n2)__ if you need help using our API, or you are interested in contributing.

[![Slack Team Invite](https://cdn.civil.services/common/slack-invite.png)](https://slack.civil.services/bkx7n2)


# Group API Basics

## API Overview

Our API has a default Rate Limit by IP Address to `2500` calls per day. We add the following headers so you can monitor your API Rate:

* __X-Rate-Limit-Limit__: The rate limit ceiling for that given request
* __X-Rate-Limit-Remaining__: The number of requests left for the 24 hour window
* __X-Rate-Limit-Reset__: The remaining window before the rate limit resets in UTC [epoch seconds](http://en.wikipedia.org/wiki/Unix_time)

If a specific IP Address exceeds this limit, the API will return a 429 HTTP JSON Response Error.  A sample of this is provided in the Artwork API endpoint.

## API Authentication

Our API requires an API Key to use.  We are not providing API Keys to the general public at this time.  You likely received an API Key before accessing this documentation, if not, please contact the individual who sent you here.

## You can set the API Key one of two ways

#### Request Header:

* __API-Key__ `243CEA2E-7E63-D2C4-3D2D-1A114288274B` _( this is not an actual API Key )_

#### GET Parameter:

* __?apikey=__ `243CEA2E-7E63-D2C4-3D2D-1A114288274B`

### HTTP Request Method Limits

### Common API Responses

The following parameters are available on every API endpoint and used for pagination
for if there are a lot of results.

+ `notices` (array, optional) - An array of API Notices.  These notices are for the API to let the Developer know something that might be helpful, but will not impact the API results.
+ `warnings` (array, optional) - An array of API Warnings.  These warnings explain why the API might have had issues returning results.
+ `errors` (array, optional) - An array of API Errors.  These errors explain why the API prevented returning results.
+ `field_errors` (object, optional) - If the error was in regards to data entry, any errors specific to an input field will return here with the input name and error message.
+ `meta` (object) - The META data object that contains the basic information about the API response.
+ `meta.total` (number) - Total number of all results.  Not just the number returned in the API call.
+ `meta.showing` (number) - Number of results returned in the current API call ( may be less than total results ).
+ `meta.pages` (number) - Number of pages of results.  This is based on the `total` results divided by the `pageSize`.
+ `meta.page` (number) - Current Page
+ `data` (object or array) - This is the the actual data returned for the API call.  For API calls that are expected to return a single result, the `data` will be an Object.  For API calls that are expecting multiple items returned, `data` will be returned as an array ( even if there is only one item returned, such as search results, etc ).

__Response 200:__ (application/json)

```
{
    "notices": [],
    "warnings": [],
    "errors": [],
    "field_errors": {},
    "meta": {
        "total": 97,
        "showing": 30,
        "pages": 4,
        "page": 1
    },
    "data": [
        ...
    ]
}
```

__Response 403:__ (application/json)

```
{
    "notices": [],
    "warnings": [],
    "errors": ["Missing API Key"],
    "field_errors": {},
    "meta": {
        "total": 0,
        "showing": 0,
        "pages": 1,
        "page": 1
    },
    "data": []
}
```

### Optional API Params

The following parameters are available on most API endpoint and used for pagination
for if there are a lot of results.

+ `apikey` (string) - Your Civil Services API Key
+ `fields` (string) - Comma Separated List of fields you want in the response.  By default all public fields will be returned, but if you only need specific fields you can greatly simplify your API response by specifying them.
+ `pageSize` (number, optional) - How many results to return in a single API call. Defaults to 30
+ `page` (number, optional) - If there is more than one page of results, you can set which page to load here
+ `sort` (optional, string, `population_rank`) - Comma Separated List of fields you want to sort by
+ `order` (optional, string, `asc`) - Comma Separated List of Order Methods
+ `pretty` (optional) - If you want to format the JSON response to be human readable, just add a `pretty` param in the API call ( it does not need a value )


# Group Geolocation Endpoints

The following endpoints are for specific data related to Zip Codes and Geolocation data.

## Zip Code [/geolocation/zipcode/{zipcode}{?apikey,page,pageSize,fields,sort,order}]

Fetch details for a Specific Zip Code

+ Parameters
    + apikey (string, optional, `YOUR-API-KEY`) - Your API Key
    + page (number, optional, `1`) - Which page to load here
    + pageSize (number, optional, `50`) - Maximum Number of Results to Show
    + fields (optional, string, `city,state,location`) - Comma Separated List of fields you want in the response
    + sort (optional, string, `city_number`) - Comma Separated List of fields you want to sort by
    + order (optional, string, `asc`) - Comma Separated List of Order Methods
    + zipcode (required, string, `97232`) - Unique Zip Code

### Example: Location Info for 97232 [GET]

This example fetches details for the zip code `97232`.

+ Request
    + Parameters
        + zipcode: 97232

+ Response 200 (application/json; charset=utf-8)
    + Attributes
        + zipcode: 97232
        
    + Body
    
            {
              "notices": [],
              "warnings": [],
              "errors": [],
              "field_errors": {},
              "meta": {
                "total": 1,
                "showing": 1,
                "pages": 1,
                "page": 1
              },
              "data": [
                {
                  "alternate_city_names": [],
                  "area_codes": [
                    "971",
                    "503"
                  ],
                  "city": "Portland",
                  "county": "Multnomah County",
                  "estimated_population": 10780,
                  "location": {
                    "lat": 45.52,
                    "lon": -122.64
                  },
                  "state": "OR",
                  "timezone": "America/Los_Angeles",
                  "zipcode": "97232"
                }
              ],
              "attribution": {
                "text": "Data Provided by Civil Services",
                "website": "https://civil.services",
                "link": "<a href=\"https://civil.services\">Data Provided by Civil Services</a>",
                "license": "https://raw.githubusercontent.com/CivilServiceUSA/api/master/LICENSE",
                "report_bug": "https://github.com/CivilServiceUSA/api/issues/new",
                "logo": "https://cdn.civil.services/common/logo.png",
                "icon": "https://cdn.civil.services/common/icon.png"
              }
            }

## IP Address [/geolocation/ip/{ipaddress}{?apikey,page,pageSize,fields,sort,order}]

Fetch details for a Specific IP Address

+ Parameters
    + apikey (string, optional, `YOUR-API-KEY`) - Your API Key
    + page (number, optional, `1`) - Which page to load here
    + pageSize (number, optional, `50`) - Maximum Number of Results to Show
    + fields (optional, string, `city,location`) - Comma Separated List of fields you want in the response
    + sort (optional, string, `city_continent`) - Comma Separated List of fields you want to sort by
    + order (optional, string, `asc`) - Comma Separated List of Order Methods
    + ipaddress (required, string, `97.96.74.114`) - IP Address to Lookup ( Defaults to Requester's IP Address )

### Example: Location Info for 97.96.74.114 [GET]

This example fetches details for the ip address `97.96.74.114`.

+ Request
    + Parameters
        + ipaddress: 97.96.74.114

+ Response 200 (application/json; charset=utf-8)
    + Attributes
        + ipaddress: 97.96.74.114
        
    + Body
    
            {
              "notices": [],
              "warnings": [],
              "errors": [],
              "field_errors": {},
              "meta": {
                "total": 1,
                "showing": 1,
                "pages": 1,
                "page": 1
              },
              "data": {
                "city": {
                  "geoname_id": 4171563,
                  "names": {
                    "en": "St. Petersburg"
                  }
                },
                "continent": {
                  "code": "NA",
                  "geoname_id": 6255149,
                  "names": {
                    "de": "Nordamerika",
                    "en": "North America",
                    "es": "Norteamérica",
                    "fr": "Amérique du Nord",
                    "ja": "北アメリカ",
                    "pt-BR": "América do Norte",
                    "ru": "Северная Америка",
                    "zh-CN": "北美洲"
                  }
                },
                "country": {
                  "geoname_id": 6252001,
                  "iso_code": "US",
                  "names": {
                    "de": "USA",
                    "en": "United States",
                    "es": "Estados Unidos",
                    "fr": "États-Unis",
                    "ja": "アメリカ合衆国",
                    "pt-BR": "Estados Unidos",
                    "ru": "США",
                    "zh-CN": "美国"
                  }
                },
                "location": {
                  "accuracy_radius": 1,
                  "latitude": 27.7723,
                  "longitude": -82.6341,
                  "metro_code": 539,
                  "time_zone": "America/New_York"
                },
                "postal": {
                  "code": "33701"
                },
                "registered_country": {
                  "geoname_id": 6252001,
                  "iso_code": "US",
                  "names": {
                    "de": "USA",
                    "en": "United States",
                    "es": "Estados Unidos",
                    "fr": "États-Unis",
                    "ja": "アメリカ合衆国",
                    "pt-BR": "Estados Unidos",
                    "ru": "США",
                    "zh-CN": "美国"
                  }
                },
                "subdivisions": [
                  {
                    "geoname_id": 4155751,
                    "iso_code": "FL",
                    "names": {
                      "en": "Florida",
                      "es": "Florida",
                      "fr": "Floride",
                      "ja": "フロリダ州",
                      "pt-BR": "Flórida",
                      "ru": "Флорида",
                      "zh-CN": "佛罗里达州"
                    }
                  }
                ]
              },
              "attribution": {
                "text": "Data Provided by Civil Services",
                "website": "https://civil.services",
                "link": "<a href=\"https://civil.services\">Data Provided by Civil Services</a>",
                "license": "https://raw.githubusercontent.com/CivilServiceUSA/api/master/LICENSE",
                "logo": "https://cdn.civil.services/common/logo.png",
                "icon": "https://cdn.civil.services/common/icon.png"
              }
            }

## Geolocation [/geolocation/{?apikey,page,pageSize,fields,sort,order,zipcode,city,county,state,areaCode,timezone,minPopulation,maxPopulation,latitude,longitude,distance}]

Get Location Specific Data using any combination of filters.

+ Parameters
    + apikey (string, optional, `YOUR-API-KEY`) - Your API Key
    + page (number, optional, `1`) - Which page to load here
    + pageSize (number, optional, `50`) - Maximum Number of Results to Show
    + fields (optional, string, `city,location`) - Comma Separated List of fields you want in the response
    + sort (optional, string, `city`) - Comma Separated List of fields you want to sort by
    + order (optional, string, `asc`) - Comma Separated List of Order Methods
    + zipcode (optional, string, `97232`) - Unique Zip Code
    + city (optional, string, `Portland`) - City to use as Filter
    + county (optional, string, `Multnomah`) - County to use as Filter
    + state (optional, string, `OR`) - State to use as Filter
    + areaCode (optional, number, `573`) - Area Code of Phone Number to use as Filter
    + timezone (optional, string, `America/New_York`) - Time Zone of Location
    + minPopulation (optional, number, `10000`) - Minimum Population of Location
    + maxPopulation (optional, number, `1000000`) - Maximum Population of Location
    + latitude (optional, number, `45.542094`) - Latitude to base Location on
    + longitude (optional, number, `-122.9346037`) - Longitude to base Location on
    + distance (optional, string, `25mi`) - Distance from Latitude & Longitude

### Example: Location Info for Saint Louis, MO [GET]

This example fetches details for the city of __Saint Louis, MO__ using the `state` and `city` parameters.

+ Request
    + Parameters
        + state: MO
        + city: Saint Louis

+ Response 200 (application/json; charset=utf-8)
    + Attributes
        + state: MO
        + city: Saint Louis
        
    + Body
    
            {
              "notices": [],
              "warnings": [],
              "errors": [],
              "field_errors": {},
              "meta": {
                "total": 3,
                "showing": 3,
                "pages": 1,
                "page": 1
              },
              "data": [
                {
                  "alternate_city_names": [
                    "Saint Peters",
                    "St Peters"
                  ],
                  "area_codes": [
                    "314",
                    "636"
                  ],
                  "city": "Saint Charles",
                  "county": "St Charles County",
                  "estimated_population": 43920,
                  "location": {
                    "lat": 38.79,
                    "lon": -90.51
                  },
                  "state": "MO",
                  "timezone": "America/Chicago",
                  "zipcode": "63303"
                },
                {
                  "alternate_city_names": [
                    "Cottleville",
                    "Saint Peters",
                    "St Peters",
                    "Weldon Spring"
                  ],
                  "area_codes": [
                    "314",
                    "636"
                  ],
                  "city": "Saint Charles",
                  "county": "St Charles County",
                  "estimated_population": 40840,
                  "location": {
                    "lat": 38.79,
                    "lon": -90.51
                  },
                  "state": "MO",
                  "timezone": "America/Chicago",
                  "zipcode": "63304"
                },
                {
                  "alternate_city_names": [
                    "Lake St Louis",
                    "O Fallon"
                  ],
                  "area_codes": [
                    "636"
                  ],
                  "city": "Lake Saint Louis",
                  "county": "St Charles County",
                  "estimated_population": 22230,
                  "location": {
                    "lat": 38.78,
                    "lon": -90.78
                  },
                  "state": "MO",
                  "timezone": "America/Chicago",
                  "zipcode": "63367"
                }
              ],
              "attribution": {
                "text": "Data Provided by Civil Services",
                "website": "https://civil.services",
                "link": "<a href=\"https://civil.services\">Data Provided by Civil Services</a>",
                "license": "https://raw.githubusercontent.com/CivilServiceUSA/api/master/LICENSE",
                "report_bug": "https://github.com/CivilServiceUSA/api/issues/new",
                "logo": "https://cdn.civil.services/common/logo.png",
                "icon": "https://cdn.civil.services/common/icon.png"
              }
            }

# Group Legislator Endpoints

The following endpoints convert location data into parameters that can fetch Legislators from Open States.

## Legislators [/legislators/{?apikey,page,pageSize,fields,zipcode,latitude,longitude}]

Search for Legislators in a Given Location.

+ Parameters
    + apikey (string, optional, `YOUR-API-KEY`) - Your API Key
    + page (number, optional, `1`) - Which page to load here
    + pageSize (number, optional, `50`) - Maximum Number of Results to Show
    + fields (optional, string, `results`) - Comma Separated List of fields you want in the response
    + zipcode (optional, string, `97232`) - Zip Code ( must be a valid US Zip Code )
    + latitude (optional, string, `45.542094`) - GPS Latitude ( required if also passing over `longitude` )
    + longitude (optional, string, `-122.9346037`) - GPS Longitude ( required if also passing over `latitude` )

### Example: Legislators in Zip Code 97232 [GET]

This example fetches details for the zip code __97232__ using the `zipcode` parameter.

+ Request
    + Parameters
        + zipcode: 97232

+ Response 200 (application/json; charset=utf-8)
    + Attributes
        + zipcode: 97232
        
    + Body
    
            {
              "notices": [],
              "warnings": [],
              "errors": [],
              "field_errors": {},
              "meta": {
                "total": 1,
                "showing": 1,
                "pages": 1,
                "page": 1
              },
              "data": {
                "request": {
                  "city": "Portland",
                  "state": "OR",
                  "latitude": 45.52,
                  "longitude": -122.64,
                  "zipcode": "97232"
                },
                "results": [
                  {
                    "last_name": "Nosse",
                    "updated_at": "2017-03-20 10:49:54",
                    "sources": [
                      {
                        "url": "http://www.oregonlegislature.gov/house/Pages/RepresentativesAll.aspx"
                      }
                    ],
                    "full_name": "Rob Nosse",
                    "old_roles": {
                      "2013-2014": [
                        {
                          "term": "2013-2014",
                          "end_date": null,
                          "district": "42",
                          "chamber": "lower",
                          "state": "or",
                          "party": "Democrat",
                          "type": "member",
                          "start_date": null
                        }
                      ],
                      "2015-2016": [
                        {
                          "term": "2015-2016",
                          "end_date": null,
                          "district": "42",
                          "chamber": "lower",
                          "state": "or",
                          "party": "Democrat",
                          "type": "member",
                          "start_date": null
                        },
                        {
                          "term": "2015-2016",
                          "committee_id": "ORC000013",
                          "chamber": "lower",
                          "state": "or",
                          "subcommittee": null,
                          "committee": "Business and Labor",
                          "position": "Member",
                          "type": "committee member"
                        },
                        {
                          "term": "2015-2016",
                          "committee_id": "ORC000017",
                          "chamber": "lower",
                          "state": "or",
                          "subcommittee": null,
                          "committee": "Revenue",
                          "position": "Member",
                          "type": "committee member"
                        },
                        {
                          "term": "2015-2016",
                          "committee_id": "ORC000007",
                          "chamber": "lower",
                          "state": "or",
                          "subcommittee": null,
                          "committee": "Health Care",
                          "position": "Vice-Chair",
                          "type": "committee member"
                        }
                      ]
                    },
                    "id": "ORL000259",
                    "first_name": "Rob",
                    "middle_name": "",
                    "district": "42",
                    "state": "or",
                    "boundary_id": "ocd-division/country:us/state:or/sldl:42",
                    "email": "Rep.RobNosse@state.or.us",
                    "all_ids": [
                      "ORL000259",
                      "ORL000340"
                    ],
                    "leg_id": "ORL000259",
                    "party": "Democrat",
                    "active": true,
                    "transparencydata_id": "",
                    "nickname": "",
                    "photo_url": "http://www.oregonlegislature.gov/house/MemberPhotos/nosse.jpg",
                    "roles": [
                      {
                        "term": "2017-2018",
                        "end_date": null,
                        "district": "42",
                        "chamber": "lower",
                        "state": "or",
                        "party": "Democrat",
                        "type": "member",
                        "start_date": null
                      },
                      {
                        "term": "2017-2018",
                        "committee_id": "ORC000178",
                        "chamber": "joint",
                        "state": "or",
                        "subcommittee": null,
                        "committee": "Tax Credits",
                        "position": "Member",
                        "type": "committee member"
                      },
                      {
                        "term": "2017-2018",
                        "committee_id": "ORC000027",
                        "chamber": "lower",
                        "state": "or",
                        "subcommittee": null,
                        "committee": "Rules",
                        "position": "Member",
                        "type": "committee member"
                      },
                      {
                        "term": "2017-2018",
                        "committee_id": "ORC000017",
                        "chamber": "lower",
                        "state": "or",
                        "subcommittee": null,
                        "committee": "Revenue",
                        "position": "Member",
                        "type": "committee member"
                      },
                      {
                        "term": "2017-2018",
                        "committee_id": "ORC000007",
                        "chamber": "lower",
                        "state": "or",
                        "subcommittee": null,
                        "committee": "Health Care",
                        "position": "Vice-Chair",
                        "type": "committee member"
                      }
                    ],
                    "url": "http://www.oregonlegislature.gov/nosse",
                    "created_at": "2014-07-07 23:28:46",
                    "chamber": "lower",
                    "offices": [
                      {
                        "fax": null,
                        "name": "Capitol Office",
                        "phone": "503-986-1442",
                        "address": "900 Court St NE, H-472, Salem, OR 97301",
                        "type": "capitol",
                        "email": "Rep.RobNosse@oregonlegislature.gov"
                      }
                    ],
                    "suffixes": ""
                  },
                  {
                    "last_name": "Taylor",
                    "updated_at": "2017-03-20 10:49:54",
                    "sources": [
                      {
                        "url": "http://www.oregonlegislature.gov/senate/Pages/SenatorsAll.aspx"
                      }
                    ],
                    "full_name": "Kathleen Taylor",
                    "id": "ORL000384",
                    "first_name": "Kathleen",
                    "middle_name": "",
                    "district": "21",
                    "state": "or",
                    "boundary_id": "ocd-division/country:us/state:or/sldu:21",
                    "all_ids": [
                      "ORL000384"
                    ],
                    "leg_id": "ORL000384",
                    "party": "Democrat",
                    "active": true,
                    "photo_url": "http://www.oregonlegislature.gov/senate/MemberPhotos/taylor.jpg",
                    "roles": [
                      {
                        "term": "2017-2018",
                        "end_date": null,
                        "district": "21",
                        "chamber": "upper",
                        "state": "or",
                        "party": "Democrat",
                        "type": "member",
                        "start_date": null
                      },
                      {
                        "term": "2017-2018",
                        "committee_id": "ORC000207",
                        "chamber": "joint",
                        "state": "or",
                        "subcommittee": null,
                        "committee": "Transportation Preservation and Modernization",
                        "position": "Member",
                        "type": "committee member"
                      },
                      {
                        "term": "2017-2018",
                        "committee_id": "ORC000178",
                        "chamber": "joint",
                        "state": "or",
                        "subcommittee": null,
                        "committee": "Tax Credits",
                        "position": "Member",
                        "type": "committee member"
                      },
                      {
                        "term": "2017-2018",
                        "committee_id": "ORC000131",
                        "chamber": "joint",
                        "state": "or",
                        "subcommittee": null,
                        "committee": "Natural Resources",
                        "position": "Member",
                        "type": "committee member"
                      },
                      {
                        "term": "2017-2018",
                        "committee_id": "ORC000057",
                        "chamber": "upper",
                        "state": "or",
                        "subcommittee": null,
                        "committee": "Finance and Revenue",
                        "position": "Member",
                        "type": "committee member"
                      },
                      {
                        "term": "2017-2018",
                        "committee_id": "ORC000177",
                        "chamber": "upper",
                        "state": "or",
                        "subcommittee": null,
                        "committee": "Workforce",
                        "position": "Chair",
                        "type": "committee member"
                      }
                    ],
                    "url": "http://www.oregonlegislature.gov/taylor",
                    "created_at": "2017-01-10 09:26:27",
                    "chamber": "upper",
                    "offices": [
                      {
                        "fax": null,
                        "name": "Capitol Office",
                        "phone": "503-986-1721",
                        "address": "900 Court St NE, S-423, Salem, OR 97301",
                        "type": "capitol",
                        "email": "Sen.KathleenTaylor@oregonlegislature.gov"
                      }
                    ],
                    "suffixes": ""
                  }
                ]
              },
              "attribution": {
                "text": "Data Provided by Civil Services",
                "website": "https://civil.services",
                "link": "<a href=\"https://civil.services\">Data Provided by Civil Services</a>",
                "license": "https://raw.githubusercontent.com/CivilServiceUSA/api/master/LICENSE",
                "report_bug": "https://github.com/CivilServiceUSA/api/issues/new",
                "logo": "https://cdn.civil.services/common/logo.png",
                "icon": "https://cdn.civil.services/common/icon.png"
              }
            }


# Group Senate Endpoints

View Contact Information for United States Senators, including: Phone Number, Mailing Address, Official Website, Twitter & Facebook Accounts.

## Senate [/senate/{?apikey,page,pageSize,fields,sort,order,zipcode,latitude,longitude,state,class,bioguide,thomas,govtrack,opensecrets,votesmart,fec,maplight,wikidata,googleEntityId,title,party,name,gender,ethnicity,religion,openlyLGBTQ,age,minAge,maxAge,termEnds,termEndsBefore,termEndsAfter,enteredOffice,enteredOfficeBefore,enteredOfficeAfter}]

Search for Senator using any combination of search parameters.

+ Parameters
    + apikey (string, optional, `YOUR-API-KEY`) - Your API Key
    + page (number, optional, `1`) - Which page to load here
    + pageSize (number, optional, `50`) - Maximum Number of Results to Show
    + fields (optional, string, `name,party,photo_url`) - Comma Separated List of fields you want in the response
    + sort (optional, string, `state_code,name`) - Comma Separated List of fields you want to sort by
    + order (optional, string, `asc,asc`) - Comma Separated List of Order Methods
    + zipcode (optional, string, `97232`) - United Steps Zip Code
    + latitude (optional, float, `45.542094`) - GPS Latitude ( `longitude` required if used )
    + longitude (optional, float, `-122.9346037`) - GPS Longitude ( `latitude` required if used )
    + state (optional, string, `OR`) - State ( Full State Name or Two Letter Abbreviation )
    + class (optional, enum, `III`)

        Senate to be divided into three classes for purposes of elections. Using a comma to filter with multiple options, e.g. `?class=I,III`

        + Values
            + `I`
            + `II`
            + `III`
    + bioguide (optional, string, `S001198`) - The alphanumeric ID for this Senator on bioguide.congress.gov
    + thomas (optional, string, `2290`) - The numeric ID for this Senator ( not really used anymore )
    + govtrack (optional, string, `412665`) - The numeric ID for this Senator on GovTrack.us
    + opensecrets (optional, string, `N00035774`) - The alphanumeric ID for this Senator on OpenSecrets.org
    + votesmart (optional, string, `114964`) - The numeric ID for this Senator on VoteSmart.org
    + fec (optional, string, `H6AK00045`) - Federal Election Commission ID
    + maplight (optional, string, `525`) - The numeric ID for this Senator on MapLight.org
    + wikidata (optional, string, `Q1239590`) - The numeric ID for this Senator on wikidata.org
    + googleEntityId (optional, string, `kg:/m/024p1k`) - Google Integration
    + title (optional, enum, `senate-majority-leader`)

        Title of Senator. Using a comma to filter with multiple options, e.g. `?title=senate-majority-leader,senate-minority-leader`

        + Values
            + `senator`
            + `senate-majority-leader`
            + `senate_majority-whip`
            + `senate-minority-leader`
            + `senate-minority-whip`
    + party (optional, enum, `democrat`) -

        Political Party of Senator. Using a comma to filter with multiple options, e.g. `?party=democrat,republican`

        + Values
            + `constitution`
            + `democrat`
            + `green`
            + `independent`
            + `libertarian`
            + `nonpartisan`
            + `republican`
    + name (optional, string, `Elizabeth Warren`) - Full Name of Senator
    + gender (optional, enum, `female`)

        Gender of Senator. Using a comma to filter with multiple options, e.g. `?gender=female,male`

        + Values
            + `female`
            + `male`
            + `unspecified`
    + ethnicity (optional, enum, `african-american`)

        Ethnicity of Senator. Using a comma to filter with multiple options, e.g. `?ethnicity=african-american,asian-american`

        + Values
            + `african-american`
            + `asian-american`
            + `hispanic-american`
            + `middle-eastern-american`
            + `multi-racial-american`
            + `native-american`
            + `pacific-islander`
            + `white-american`
            + `unspecified`
    + religion (optional, enum, `protestant`)

        Religion of Senator. Using a comma to filter with multiple options, e.g. `?religion=muslim,jewish`

        + Values
            + `african-methodist`
            + `anglican`
            + `baptist`
            + `buddhism`
            + `christian`
            + `christian-reformed`
            + `christian-scientist`
            + `church-of-christ`
            + `church-of-god`
            + `congregationalist`
            + `deist`
            + `eastern-orthodox`
            + `episcopalian`
            + `evangelical`
            + `evangelical-lutheran`
            + `hindu`
            + `jewish`
            + `jodo-shinshu-buddhist`
            + `lutheran`
            + `methodist`
            + `mormon`
            + `muslim`
            + `nazarene-christian`
            + `pentecostal`
            + `presbyterian`
            + `protestant`
            + `roman-catholic`
            + `seventh-day-adventist-church`
            + `soka-gakkai-buddhist`
            + `southern-baptist`
            + `united-church-of-christ`
            + `united-methodist`
            + `unitarian-universalist`
            + `unspecified`
    + openlyLGBTQ (optional, enum, `gay`)

        Senator is Openly LGBTQ. Using a comma to filter with multiple options, e.g. `?openlyLGBTQ=lesbian,gay`

        + Values
            + `no`
            + `lesbian`
            + `gay`
            + `bisexual`
            + `transgender`
            + `queer`
    + age (optional, number, `65`) - Age of Senator
    + minAge (optional, number, `40`) - Minimum Age of Senator
    + maxAge (optional, number, `80`) - Maximum Age of Senator
    + termEnds (optional, number, `2019`) - Year Term Ends ( formatted `YYYY` )
    + termEndsBefore (optional, number, `2023`) - Term Ends Before this Year ( formatted `YYYY` )
    + termEndsAfter (optional, number, `2016`) - Term Ends After this Year ( formatted `YYYY` )
    + enteredOffice (optional, number, `2017`) - Year Entered Office ( formatted `YYYY` )
    + enteredOfficeBefore (optional, number, `2008`) - Entered Office Before this Year ( formatted `YYYY` )
    + enteredOfficeAfter (optional, number, `2017`) - Entered Office After this Year ( formatted `YYYY` )

### Example: Female Senator's of Color [GET]

This Example fetches all Women of Color in the United States Senate using the `gender` and `ethnicity` parameters.

+ Request
    + Parameters
        + gender: female
        + ethnicity: african-american,asian-american,hispanic-american,middle-eastern-american,native-american,pacific-islander

+ Response 200 (application/json; charset=utf-8)
    + Attributes
        + gender: female
        + ethnicity: african-american,asian-american,hispanic-american,middle-eastern-american,native-american,pacific-islander
        
    + Body
    
            {
              "notices": [],
              "warnings": [],
              "errors": [],
              "field_errors": {},
              "meta": {
                "total": 4,
                "showing": 4,
                "pages": 1,
                "page": 1
              },
              "data": [
                {
                  "address_city": "Washington",
                  "address_complete": "524 Hart, Washington, DC 20510",
                  "address_number": null,
                  "address_prefix": null,
                  "address_sec_unit_num": null,
                  "address_sec_unit_type": null,
                  "address_state": "DC",
                  "address_street": "524 Hart",
                  "address_type": "Building",
                  "address_zipcode": "20510",
                  "age": 49,
                  "aliases": [
                    "Democrat Tammy Duckworth",
                    "Democrat Duckworth",
                    "Senator Tammy Duckworth",
                    "Senator Duckworth",
                    "Sen. Tammy Duckworth",
                    "Sen. Duckworth",
                    "Tammy Duckworth [D]",
                    "Tammy Duckworth (D)"
                  ],
                  "biography": "Tammy Duckworth, a Senator and a Representative from Illinois; born in Bangkok, Thailand, March 12, 1968; graduated from President William McKinley High School, Honolulu, Hawaii, 1985; B.A., University of Hawaii, Manoa, Hawaii, 1989; M.A., The George Washington University, Washington, D.C., 1992; attended Northern Illinois University, DeKalb, Ill.; Illinois Army National Guard, 1996-present; unsuccessful candidate for election to the United States House of Representatives in 2006; director, Ill. department of veterans' affairs, 2006-2009; assistant secretary, United States Department of Veterans' Affairs, 2009-2011; delegate to the Democratic National Convention, 2012; elected as a Democrat to the One Hundred Thirteenth Congress and to the succeeding Congress (January 3, 2013-January 3, 2017); was not a candidate for reelection to the House of Representatives but was elected as a Democrat to the United States Senate in 2016 for the term ending January 3, 2023.",
                  "bioguide": "D000622",
                  "bioguide_url": "http://bioguide.congress.gov/scripts/biodisplay.pl?index=D000622",
                  "contact_page": "https://www.duckworth.senate.gov/content/contact-senator",
                  "date_of_birth": "1968-03-12T00:00:00.000Z",
                  "entered_office": "2017-01-03T00:00:00.000Z",
                  "ethnicity": "asian-american",
                  "facebook_url": "https://www.facebook.com/CongresswomanTammyDuckworth/",
                  "fax": "202-228-0618",
                  "fec": null,
                  "fec_url": null,
                  "first_name": "Tammy",
                  "gender": "female",
                  "goes_by": null,
                  "google_entity_id": null,
                  "govtrack": "412533",
                  "govtrack_url": "https://www.govtrack.us/congress/members/412533",
                  "last_name": "Duckworth",
                  "latitude": 38.8928,
                  "longitude": -77.0044,
                  "maplight": null,
                  "maplight_url": null,
                  "middle_name": null,
                  "name": "Tammy Duckworth",
                  "name_slug": "tammy-duckworth",
                  "name_suffix": null,
                  "openly_lgbtq": "no",
                  "opensecrets": "N00027860",
                  "opensecrets_url": "https://www.opensecrets.org/politicians/summary.php?cid=N00027860",
                  "opensecrets_url_tabs": {
                    "summary": "https://www.opensecrets.org/politicians/summary.php?cid=N00027860",
                    "elections": "https://www.opensecrets.org/politicians/elections.php?cid=N00027860",
                    "industries": "https://www.opensecrets.org/politicians/industries.php?cid=N00027860",
                    "pacs": "https://www.opensecrets.org/politicians/pacs.php?cid=N00027860",
                    "donors": "https://www.opensecrets.org/politicians/contrib.php?cid=N00027860",
                    "geography": "https://www.opensecrets.org/politicians/geog.php?cid=N00027860",
                    "expenditures": "https://www.opensecrets.org/politicians/expend.php?cid=N00027860",
                    "legislation": "https://www.opensecrets.org/politicians/bills.php?cid=N00027860",
                    "news": "https://www.opensecrets.org/politicians/inthenews.php?cid=N00027860",
                    "other": "https://www.opensecrets.org/politicians/otherdata.php?cid=N00027860"
                  },
                  "party": "democrat",
                  "phone": "202-224-2854",
                  "photo_url": "https://cdn.civil.services/us-senate/headshots/512x512/tammy-duckworth.jpg",
                  "photo_url_sizes": {
                    "64x64": "https://cdn.civil.services/us-senate/headshots/64x64/tammy-duckworth.jpg",
                    "128x128": "https://cdn.civil.services/us-senate/headshots/128x128/tammy-duckworth.jpg",
                    "256x256": "https://cdn.civil.services/us-senate/headshots/256x256/tammy-duckworth.jpg",
                    "512x512": "https://cdn.civil.services/us-senate/headshots/512x512/tammy-duckworth.jpg",
                    "1024x1024": "https://cdn.civil.services/us-senate/headshots/1024x1024/tammy-duckworth.jpg"
                  },
                  "pronunciation": "TAM-ee DUCK-werth",
                  "religion": "deist",
                  "state_code": "IL",
                  "state_code_slug": "il",
                  "state_name": "Illinois",
                  "state_name_slug": "illinois",
                  "term_end": "2023-01-03T00:00:00.000Z",
                  "thomas": "2123",
                  "title": "senator",
                  "twitter_handle": "RepDuckworth",
                  "twitter_url": "https://twitter.com/RepDuckworth",
                  "votesmart": "57442",
                  "votesmart_url": "http://votesmart.org/candidate/57442",
                  "votesmart_url_tabs": {
                    "summary": "http://votesmart.org/candidate/57442",
                    "bio": "http://votesmart.org/candidate/biography/57442",
                    "votes": "http://votesmart.org/candidate/key-votes/57442",
                    "positions": "http://votesmart.org/candidate/political-courage-test/57442",
                    "ratings": "http://votesmart.org/candidate/evaluations/57442",
                    "speeches": "http://votesmart.org/candidate/public-statements/57442",
                    "funding": "http://votesmart.org/candidate/campaign-finance/57442"
                  },
                  "website": "http://www.duckworth.senate.gov",
                  "wikidata": null,
                  "wikidata_url": null
                },
                {
                  "address_city": "Washington",
                  "address_complete": "B40A Dirksen, Washington, DC 20510",
                  "address_number": null,
                  "address_prefix": null,
                  "address_sec_unit_num": null,
                  "address_sec_unit_type": null,
                  "address_state": "DC",
                  "address_street": "B40A Dirksen",
                  "address_type": "Building",
                  "address_zipcode": "20510",
                  "age": 52,
                  "aliases": [
                    "Democrat Catherine Masto",
                    "Democrat Masto",
                    "Senator Catherine Masto",
                    "Senator Masto",
                    "Sen. Catherine Masto",
                    "Sen. Masto",
                    "Catherine Masto [D]",
                    "Catherine Masto (D)"
                  ],
                  "biography": "Catherine Cortez Masto, a Senator from Nevada; born in Las Vegas, Nev., March 29, 1964; B.A., University of Nevada, 1986; J.D., Gonzaga University School of Law, 1990; admitted to the Nevada bar in 1990; assistant county manager, Clark County, Nev.; chief of staff to Nevada Governor Bob Miller; federal prosecutor; attorney general of Nevada 2007-2015; executive vice chancellor for the Nevada System of Higher Education; elected as a Democrat to the United States Senate in 2016 for the term ending January 3, 2023.",
                  "bioguide": "C001113",
                  "bioguide_url": "http://bioguide.congress.gov/scripts/biodisplay.pl?index=C001113",
                  "contact_page": "https://www.cortezmasto.senate.gov/content/contact-senator",
                  "date_of_birth": "1964-03-29T00:00:00.000Z",
                  "entered_office": "2017-01-03T00:00:00.000Z",
                  "ethnicity": "hispanic-american",
                  "facebook_url": "https://www.facebook.com/catherinecortezmasto/",
                  "fax": "202--228-6753",
                  "fec": null,
                  "fec_url": null,
                  "first_name": "Catherine",
                  "gender": "female",
                  "goes_by": null,
                  "google_entity_id": null,
                  "govtrack": "412681",
                  "govtrack_url": "https://www.govtrack.us/congress/members/412681",
                  "last_name": "Masto",
                  "latitude": 38.8928,
                  "longitude": -77.0044,
                  "maplight": null,
                  "maplight_url": null,
                  "middle_name": "Cortez",
                  "name": "Catherine Masto",
                  "name_slug": "catherine-masto",
                  "name_suffix": null,
                  "openly_lgbtq": "no",
                  "opensecrets": "N00037161",
                  "opensecrets_url": "https://www.opensecrets.org/politicians/summary.php?cid=N00037161",
                  "opensecrets_url_tabs": {
                    "summary": "https://www.opensecrets.org/politicians/summary.php?cid=N00037161",
                    "elections": "https://www.opensecrets.org/politicians/elections.php?cid=N00037161",
                    "industries": "https://www.opensecrets.org/politicians/industries.php?cid=N00037161",
                    "pacs": "https://www.opensecrets.org/politicians/pacs.php?cid=N00037161",
                    "donors": "https://www.opensecrets.org/politicians/contrib.php?cid=N00037161",
                    "geography": "https://www.opensecrets.org/politicians/geog.php?cid=N00037161",
                    "expenditures": "https://www.opensecrets.org/politicians/expend.php?cid=N00037161",
                    "legislation": "https://www.opensecrets.org/politicians/bills.php?cid=N00037161",
                    "news": "https://www.opensecrets.org/politicians/inthenews.php?cid=N00037161",
                    "other": "https://www.opensecrets.org/politicians/otherdata.php?cid=N00037161"
                  },
                  "party": "democrat",
                  "phone": "202-224-3542",
                  "photo_url": "https://cdn.civil.services/us-senate/headshots/512x512/catherine-masto.jpg",
                  "photo_url_sizes": {
                    "64x64": "https://cdn.civil.services/us-senate/headshots/64x64/catherine-masto.jpg",
                    "128x128": "https://cdn.civil.services/us-senate/headshots/128x128/catherine-masto.jpg",
                    "256x256": "https://cdn.civil.services/us-senate/headshots/256x256/catherine-masto.jpg",
                    "512x512": "https://cdn.civil.services/us-senate/headshots/512x512/catherine-masto.jpg",
                    "1024x1024": "https://cdn.civil.services/us-senate/headshots/1024x1024/catherine-masto.jpg"
                  },
                  "pronunciation": "KATH-rin KOR-tez MASS-toh",
                  "religion": "roman-catholic",
                  "state_code": "NV",
                  "state_code_slug": "nv",
                  "state_name": "Nevada",
                  "state_name_slug": "nevada",
                  "term_end": "2023-01-03T00:00:00.000Z",
                  "thomas": null,
                  "title": "senator",
                  "twitter_handle": "CatherineForNV",
                  "twitter_url": "https://twitter.com/CatherineForNV",
                  "votesmart": "69579",
                  "votesmart_url": "http://votesmart.org/candidate/69579",
                  "votesmart_url_tabs": {
                    "summary": "http://votesmart.org/candidate/69579",
                    "bio": "http://votesmart.org/candidate/biography/69579",
                    "votes": "http://votesmart.org/candidate/key-votes/69579",
                    "positions": "http://votesmart.org/candidate/political-courage-test/69579",
                    "ratings": "http://votesmart.org/candidate/evaluations/69579",
                    "speeches": "http://votesmart.org/candidate/public-statements/69579",
                    "funding": "http://votesmart.org/candidate/campaign-finance/69579"
                  },
                  "website": "http://www.masto.senate.gov",
                  "wikidata": null,
                  "wikidata_url": null
                },
                {
                  "address_city": "Washington",
                  "address_complete": "112 Hart, Washington, DC 20510",
                  "address_number": null,
                  "address_prefix": null,
                  "address_sec_unit_num": null,
                  "address_sec_unit_type": null,
                  "address_state": "DC",
                  "address_street": "112 Hart",
                  "address_type": "Building",
                  "address_zipcode": "20510",
                  "age": 52,
                  "aliases": [
                    "Democrat Kamala Harris",
                    "Democrat Harris",
                    "Senator Kamala Harris",
                    "Senator Harris",
                    "Sen. Kamala Harris",
                    "Sen. Harris",
                    "Kamala Harris [D]",
                    "Kamala Harris (D)"
                  ],
                  "biography": "Kamala Harris, a Senator from California; born in Oakland, Calif., October 20, 1964; B.A., Howard University, 1986; J.D., University of California, Hastings College of the Law, 1989; admitted to the California bar in 1990; deputy district attorney, Alameda County, Calif., 1990-1998; managing attorney, San Francisco District Attorney's Office; chief of the San Francisco City Attorney's Division on Children and Families; district attorney of San Francisco 2004-2011; attorney general of California 2011-2016; elected as a Democrat to the United States Senate in 2016 for the term ending January 3, 2023.",
                  "bioguide": "H001075",
                  "bioguide_url": "http://bioguide.congress.gov/scripts/biodisplay.pl?index=H001075",
                  "contact_page": "https://www.harris.senate.gov/content/contact-senator",
                  "date_of_birth": "1964-10-20T00:00:00.000Z",
                  "entered_office": "2017-01-03T00:00:00.000Z",
                  "ethnicity": "asian-american",
                  "facebook_url": "https://www.facebook.com/KamalaHarris",
                  "fax": "202-224-2200",
                  "fec": null,
                  "fec_url": null,
                  "first_name": "Kamala",
                  "gender": "female",
                  "goes_by": null,
                  "google_entity_id": null,
                  "govtrack": "412678",
                  "govtrack_url": "https://www.govtrack.us/congress/members/412678",
                  "last_name": "Harris",
                  "latitude": 38.8928,
                  "longitude": -77.0044,
                  "maplight": null,
                  "maplight_url": null,
                  "middle_name": null,
                  "name": "Kamala Harris",
                  "name_slug": "kamala-harris",
                  "name_suffix": null,
                  "openly_lgbtq": "no",
                  "opensecrets": "N00036915",
                  "opensecrets_url": "https://www.opensecrets.org/politicians/summary.php?cid=N00036915",
                  "opensecrets_url_tabs": {
                    "summary": "https://www.opensecrets.org/politicians/summary.php?cid=N00036915",
                    "elections": "https://www.opensecrets.org/politicians/elections.php?cid=N00036915",
                    "industries": "https://www.opensecrets.org/politicians/industries.php?cid=N00036915",
                    "pacs": "https://www.opensecrets.org/politicians/pacs.php?cid=N00036915",
                    "donors": "https://www.opensecrets.org/politicians/contrib.php?cid=N00036915",
                    "geography": "https://www.opensecrets.org/politicians/geog.php?cid=N00036915",
                    "expenditures": "https://www.opensecrets.org/politicians/expend.php?cid=N00036915",
                    "legislation": "https://www.opensecrets.org/politicians/bills.php?cid=N00036915",
                    "news": "https://www.opensecrets.org/politicians/inthenews.php?cid=N00036915",
                    "other": "https://www.opensecrets.org/politicians/otherdata.php?cid=N00036915"
                  },
                  "party": "democrat",
                  "phone": "202-224-3553",
                  "photo_url": "https://cdn.civil.services/us-senate/headshots/512x512/kamala-harris.jpg",
                  "photo_url_sizes": {
                    "64x64": "https://cdn.civil.services/us-senate/headshots/64x64/kamala-harris.jpg",
                    "128x128": "https://cdn.civil.services/us-senate/headshots/128x128/kamala-harris.jpg",
                    "256x256": "https://cdn.civil.services/us-senate/headshots/256x256/kamala-harris.jpg",
                    "512x512": "https://cdn.civil.services/us-senate/headshots/512x512/kamala-harris.jpg",
                    "1024x1024": "https://cdn.civil.services/us-senate/headshots/1024x1024/kamala-harris.jpg"
                  },
                  "pronunciation": "KAH-muh-luh HAIR-iss",
                  "religion": "baptist",
                  "state_code": "CA",
                  "state_code_slug": "ca",
                  "state_name": "California",
                  "state_name_slug": "california",
                  "term_end": "2023-01-03T00:00:00.000Z",
                  "thomas": null,
                  "title": "senator",
                  "twitter_handle": "KamalaHarris",
                  "twitter_url": "https://twitter.com/KamalaHarris",
                  "votesmart": "120012",
                  "votesmart_url": "http://votesmart.org/candidate/120012",
                  "votesmart_url_tabs": {
                    "summary": "http://votesmart.org/candidate/120012",
                    "bio": "http://votesmart.org/candidate/biography/120012",
                    "votes": "http://votesmart.org/candidate/key-votes/120012",
                    "positions": "http://votesmart.org/candidate/political-courage-test/120012",
                    "ratings": "http://votesmart.org/candidate/evaluations/120012",
                    "speeches": "http://votesmart.org/candidate/public-statements/120012",
                    "funding": "http://votesmart.org/candidate/campaign-finance/120012"
                  },
                  "website": "http://www.harris.senate.gov",
                  "wikidata": null,
                  "wikidata_url": null
                },
                {
                  "address_city": "Washington",
                  "address_complete": "330 Hart, Washington, DC 20510",
                  "address_number": null,
                  "address_prefix": null,
                  "address_sec_unit_num": null,
                  "address_sec_unit_type": null,
                  "address_state": "DC",
                  "address_street": "330 Hart",
                  "address_type": "Building",
                  "address_zipcode": "20510",
                  "age": 69,
                  "aliases": [
                    "Democrat Mazie Hirono",
                    "Democrat Hirono",
                    "Senator Mazie Hirono",
                    "Senator Hirono",
                    "Sen. Mazie Hirono",
                    "Sen. Hirono",
                    "Mazie Hirono [D]",
                    "Mazie Hirono (D)"
                  ],
                  "biography": "Mazie Hirono, a Senator and a Representative from Hawaii; born in Fukushima, Japan, November 3, 1947; graduated from Kaimuki High School, Honolulu, Hawaii; B.A., University of Hawaii, Manoa, Hawaii, 1970; J.D., Georgetown University, Washington, D.C., 1978; lawyer, private practice; member of the Hawaii state house of representatives, 1981-1994; Hawaii lieutenant governor, 1994-2002; elected as a Democrat to the One Hundred Tenth and to the two succeeding Congresses (January 3, 2007-January 3, 2013); was not a candidate for reelection to the House of Representatives but was elected as a Democrat to the United States Senate in 2012 for the term ending January 3, 2019.",
                  "bioguide": "H001042",
                  "bioguide_url": "http://bioguide.congress.gov/scripts/biodisplay.pl?index=H001042",
                  "contact_page": "https://www.hirono.senate.gov/contact",
                  "date_of_birth": "1947-11-03T00:00:00.000Z",
                  "entered_office": "2013-01-03T00:00:00.000Z",
                  "ethnicity": "asian-american",
                  "facebook_url": "https://www.facebook.com/senatorhirono/",
                  "fax": "202-224-2126",
                  "fec": null,
                  "fec_url": null,
                  "first_name": "Mazie",
                  "gender": "female",
                  "goes_by": null,
                  "google_entity_id": null,
                  "govtrack": "412200",
                  "govtrack_url": "https://www.govtrack.us/congress/members/412200",
                  "last_name": "Hirono",
                  "latitude": 38.8928,
                  "longitude": -77.0044,
                  "maplight": null,
                  "maplight_url": null,
                  "middle_name": "K.",
                  "name": "Mazie Hirono",
                  "name_slug": "mazie-hirono",
                  "name_suffix": null,
                  "openly_lgbtq": "no",
                  "opensecrets": "N00028139",
                  "opensecrets_url": "https://www.opensecrets.org/politicians/summary.php?cid=N00028139",
                  "opensecrets_url_tabs": {
                    "summary": "https://www.opensecrets.org/politicians/summary.php?cid=N00028139",
                    "elections": "https://www.opensecrets.org/politicians/elections.php?cid=N00028139",
                    "industries": "https://www.opensecrets.org/politicians/industries.php?cid=N00028139",
                    "pacs": "https://www.opensecrets.org/politicians/pacs.php?cid=N00028139",
                    "donors": "https://www.opensecrets.org/politicians/contrib.php?cid=N00028139",
                    "geography": "https://www.opensecrets.org/politicians/geog.php?cid=N00028139",
                    "expenditures": "https://www.opensecrets.org/politicians/expend.php?cid=N00028139",
                    "legislation": "https://www.opensecrets.org/politicians/bills.php?cid=N00028139",
                    "news": "https://www.opensecrets.org/politicians/inthenews.php?cid=N00028139",
                    "other": "https://www.opensecrets.org/politicians/otherdata.php?cid=N00028139"
                  },
                  "party": "democrat",
                  "phone": "202-224-6361",
                  "photo_url": "https://cdn.civil.services/us-senate/headshots/512x512/mazie-hirono.jpg",
                  "photo_url_sizes": {
                    "64x64": "https://cdn.civil.services/us-senate/headshots/64x64/mazie-hirono.jpg",
                    "128x128": "https://cdn.civil.services/us-senate/headshots/128x128/mazie-hirono.jpg",
                    "256x256": "https://cdn.civil.services/us-senate/headshots/256x256/mazie-hirono.jpg",
                    "512x512": "https://cdn.civil.services/us-senate/headshots/512x512/mazie-hirono.jpg",
                    "1024x1024": "https://cdn.civil.services/us-senate/headshots/1024x1024/mazie-hirono.jpg"
                  },
                  "pronunciation": "MAY-zee hear-OH-noh [O's unrounded]",
                  "religion": "buddhism",
                  "state_code": "HI",
                  "state_code_slug": "hi",
                  "state_name": "Hawaii",
                  "state_name_slug": "hawaii",
                  "term_end": "2019-01-03T00:00:00.000Z",
                  "thomas": "1844",
                  "title": "senator",
                  "twitter_handle": "maziehirono",
                  "twitter_url": "https://twitter.com/maziehirono",
                  "votesmart": "1677",
                  "votesmart_url": "http://votesmart.org/candidate/1677",
                  "votesmart_url_tabs": {
                    "summary": "http://votesmart.org/candidate/1677",
                    "bio": "http://votesmart.org/candidate/biography/1677",
                    "votes": "http://votesmart.org/candidate/key-votes/1677",
                    "positions": "http://votesmart.org/candidate/political-courage-test/1677",
                    "ratings": "http://votesmart.org/candidate/evaluations/1677",
                    "speeches": "http://votesmart.org/candidate/public-statements/1677",
                    "funding": "http://votesmart.org/candidate/campaign-finance/1677"
                  },
                  "website": "http://www.hirono.senate.gov",
                  "wikidata": null,
                  "wikidata_url": null
                }
              ],
              "attribution": {
                "text": "Data Provided by Civil Services",
                "website": "https://civil.services",
                "link": "<a href=\"https://civil.services\">Data Provided by Civil Services</a>",
                "license": "https://raw.githubusercontent.com/CivilServiceUSA/api/master/LICENSE",
                "report_bug": "https://github.com/CivilServiceUSA/api/issues/new",
                "logo": "https://cdn.civil.services/common/logo.png",
                "icon": "https://cdn.civil.services/common/icon.png"
              }
            }

# Group House Endpoints

View Contact Information for United States House Representatives, including: Phone Number, Mailing Address, Official Website, Twitter & Facebook Accounts.

## House [/house/{?apikey,page,pageSize,fields,sort,order,zipcode,latitude,longitude,state,district,atLarge,vacant,bioguide,thomas,govtrack,opensecrets,votesmart,fec,maplight,wikidata,googleEntityId,title,party,name,gender,ethnicity,religion,openlyLGBTQ,age,minAge,maxAge,termEnds,termEndsBefore,termEndsAfter,enteredOffice,enteredOfficeBefore,enteredOfficeAfter}]

Search for House Representative using any combination of search parameters.

+ Parameters
    + apikey (string, optional, `YOUR-API-KEY`) - Your API Key
    + page (number, optional, `1`) - Which page to load here
    + pageSize (number, optional, `50`) - Maximum Number of Results to Show
    + fields (optional, string, `name,party,photo_url`) - Comma Separated List of fields you want in the response
    + sort (optional, string, `state_code,district`) - Comma Separated List of fields you want to sort by
    + order (optional, string, `asc,asc`) - Comma Separated List of Order Methods
    + zipcode (optional, string, `97232`) - United Steps Zip Code
    + latitude (optional, float, `45.542094`) - GPS Latitude ( `longitude` required if used )
    + longitude (optional, float, `-122.9346037`) - GPS Longitude ( `latitude` required if used )
    + state (optional, string, `OR`) - State ( Full State Name or Two Letter Abbreviation )
    + district (optional, number, `3`) - District of Representative ( not always available )
    + atLarge (optional, boolean, `true`) - Representative is considered At-Large
    + vacant (optional, boolean, `true`) - Representative Seat is Vacant
    + bioguide (optional, string, `Y000033`) - The alphanumeric ID for this Senator on bioguide.congress.gov
    + thomas (optional, string, `1256`) - The numeric ID for this Senator ( not really used anymore )
    + govtrack (optional, string, `400440`) - The numeric ID for this Senator on GovTrack.us
    + opensecrets (optional, string, `N00007999`) - The alphanumeric ID for this Senator on OpenSecrets.org
    + votesmart (optional, string, `26717`) - The numeric ID for this Senator on VoteSmart.org
    + fec (optional, string, `H6AK00045`) - Federal Election Commission ID
    + maplight (optional, string, `525`) - The numeric ID for this Senator on MapLight.org
    + wikidata (optional, string, `Q1239590`) - The numeric ID for this Senator on wikidata.org
    + googleEntityId (optional, string, `kg:/m/024p1k`) - Google Integration
    + title (optional, enum, `house-majority-leader`)

        Title of Senator. Using a comma to filter with multiple options, e.g. `?title=house-majority-leader,house-minority-leader`

        + Values
            + `representative`
            + `house-speaker`
            + `house-majority-leader`
            + `house-majority-whip`
            + `house-minority-leader`
            + `house-minority-whip`
            + `republican-conference-chairman`
            + `republican-policy-committee-chairman`
            + `assistant-democratic-leader`
            + `democratic-caucus-chairman`
    + party (optional, enum, `independent`) -

        Political Party of Senator. Using a comma to filter with multiple options, e.g. `?party=democrat,republican`

        + Values
            + `constitution`
            + `democrat`
            + `green`
            + `independent`
            + `libertarian`
            + `nonpartisan`
            + `republican`
    + name (optional, string, `Nancy Pelosi`) - Full Name of Senator
    + gender (optional, enum, `female`)

        Gender of Senator. Using a comma to filter with multiple options, e.g. `?gender=female,male`

        + Values
            + `female`
            + `male`
            + `unspecified`
    + ethnicity (optional, enum, `asian-american`)

        Ethnicity of Senator. Using a comma to filter with multiple options, e.g. `?ethnicity=african-american,asian-american`

        + Values
            + `african-american`
            + `asian-american`
            + `hispanic-american`
            + `middle-eastern-american`
            + `multi-racial-american`
            + `native-american`
            + `pacific-islander`
            + `white-american`
            + `unspecified`
    + religion (optional, enum, `hindu`)

        Religion of Senator. Using a comma to filter with multiple options, e.g. `?religion=muslim,jewish`

        + Values
            + `african-methodist`
            + `anglican`
            + `baptist`
            + `buddhism`
            + `christian`
            + `christian-reformed`
            + `christian-scientist`
            + `church-of-christ`
            + `church-of-god`
            + `congregationalist`
            + `deist`
            + `eastern-orthodox`
            + `episcopalian`
            + `evangelical`
            + `evangelical-lutheran`
            + `hindu`
            + `jewish`
            + `jodo-shinshu-buddhist`
            + `lutheran`
            + `methodist`
            + `mormon`
            + `muslim`
            + `nazarene-christian`
            + `pentecostal`
            + `presbyterian`
            + `protestant`
            + `roman-catholic`
            + `seventh-day-adventist-church`
            + `soka-gakkai-buddhist`
            + `southern-baptist`
            + `united-church-of-christ`
            + `united-methodist`
            + `unitarian-universalist`
            + `unspecified`
    + openlyLGBTQ (optional, enum, `transgender`)

        Senator is Openly LGBTQ. Using a comma to filter with multiple options, e.g. `?openlyLGBTQ=lesbian,gay`

        + Values
            + `no`
            + `lesbian`
            + `gay`
            + `bisexual`
            + `transgender`
            + `queer`
    + age (optional, number, `65`) - Age of Senator
    + minAge (optional, number, `40`) - Minimum Age of Senator
    + maxAge (optional, number, `80`) - Maximum Age of Senator
    + termEnds (optional, number, `2019`) - Year Term Ends ( formatted `YYYY` )
    + termEndsBefore (optional, number, `2023`) - Term Ends Before this Year ( formatted `YYYY` )
    + termEndsAfter (optional, number, `2016`) - Term Ends After this Year ( formatted `YYYY` )
    + enteredOffice (optional, number, `2017`) - Year Entered Office ( formatted `YYYY` )
    + enteredOfficeBefore (optional, number, `2008`) - Entered Office Before this Year ( formatted `YYYY` )
    + enteredOfficeAfter (optional, number, `2017`) - Entered Office After this Year ( formatted `YYYY` )

### Example: District Rep at 45.542094, -122.9346037 [GET]

In this example we will get all House Representatives for `latitude` `45.542094` and `longitude` `-122.9346037`.

+ Request
    + Parameters
        + latitude: 45.542094
        + longitude: `-122.9346037`

+ Response 200 (application/json; charset=utf-8)
    + Attributes
        + latitude: 45.542094
        + longitude: `-122.9346037`
        
    + Body
    
            {
              "notices": [],
              "warnings": [],
              "errors": [],
              "field_errors": {},
              "meta": {
                "total": 1,
                "showing": 1,
                "pages": 1,
                "page": 1
              },
              "data": [
                {
                  "address_city": "Washington",
                  "address_complete": "2436 Rayburn Hob, Washington, DC 20515",
                  "address_number": "2436",
                  "address_prefix": null,
                  "address_sec_unit_num": null,
                  "address_sec_unit_type": null,
                  "address_state": "DC",
                  "address_street": "Rayburn Hob",
                  "address_type": null,
                  "address_zipcode": "20515",
                  "age": 62,
                  "aliases": [
                    "Democrat Suzanne Bonamici",
                    "Democrat Bonamici",
                    "Representative Suzanne Bonamici",
                    "Representative Bonamici",
                    "Rep. Suzanne Bonamici",
                    "Rep. Bonamici",
                    "Suzanne Bonamici [D]",
                    "Suzanne Bonamici (D)"
                  ],
                  "at_large": null,
                  "biography": "Suzanne Bonamici, a Representative from Oregon; born in Detroit, Wayne County, Mich., October 14, 1954; A.A., Lane Community College, Eugene, Oreg. 1978; B.A., University of Oregon, Eugene, Oreg., 1980; J.D., University of Oregon, Eugene, Oreg., 1983; lawyer, Federal Trade Commission, Washington, D.C.; lawyer, private practice; staff, Oregon state house of representatives, 2001-2006; member of Oregon state house of representatives 2007-2008; member of Oregon state senate, 2008-2011; elected as a Democrat to the One Hundred Twelfth Congress, by special election, to fill the vacancy caused by the resignation of United States Representative David Wu, and reelected to the three succeeding Congresses (January 31, 2012-present).",
                  "bioguide": "B001278",
                  "bioguide_url": "http://bioguide.congress.gov/scripts/biodisplay.pl?index=B001278",
                  "contact_page": "https://bonamici.house.gov/contact-me/email-me",
                  "date_of_birth": "1954-10-14T00:00:00.000Z",
                  "district": 1,
                  "entered_office": "2012-02-07T00:00:00.000Z",
                  "ethnicity": "white-american",
                  "facebook_url": "https://www.facebook.com/CongresswomanBonamici",
                  "fax": "202-225-9497",
                  "fec": "H2OR01133",
                  "fec_url": "http://www.fec.gov/fecviewer/CandidateCommitteeDetail.do?candidateCommitteeId=H2OR01133",
                  "first_name": "Suzanne",
                  "gender": "female",
                  "goes_by": null,
                  "google_entity_id": "kg:/m/02q453x",
                  "govtrack": "412501",
                  "govtrack_url": "https://www.govtrack.us/congress/members/412501",
                  "last_name": "Bonamici",
                  "latitude": 38.8863,
                  "longitude": -77.0114,
                  "maplight": "1682",
                  "maplight_url": "http://maplight.org/us-congress/legislator/1682",
                  "middle_name": null,
                  "name": "Suzanne Bonamici",
                  "name_slug": "suzanne-bonamici",
                  "name_suffix": null,
                  "openly_lgbtq": "no",
                  "opensecrets": "N00033474",
                  "opensecrets_url": "https://www.opensecrets.org/politicians/summary.php?cid=N00033474",
                  "opensecrets_url_tabs": {
                    "summary": "https://www.opensecrets.org/politicians/summary.php?cid=N00033474",
                    "elections": "https://www.opensecrets.org/politicians/elections.php?cid=N00033474",
                    "industries": "https://www.opensecrets.org/politicians/industries.php?cid=N00033474",
                    "pacs": "https://www.opensecrets.org/politicians/pacs.php?cid=N00033474",
                    "donors": "https://www.opensecrets.org/politicians/contrib.php?cid=N00033474",
                    "geography": "https://www.opensecrets.org/politicians/geog.php?cid=N00033474",
                    "expenditures": "https://www.opensecrets.org/politicians/expend.php?cid=N00033474",
                    "legislation": "https://www.opensecrets.org/politicians/bills.php?cid=N00033474",
                    "news": "https://www.opensecrets.org/politicians/inthenews.php?cid=N00033474",
                    "other": "https://www.opensecrets.org/politicians/otherdata.php?cid=N00033474"
                  },
                  "party": "democrat",
                  "phone": "202-225-0855",
                  "photo_url": "https://cdn.civil.services/us-house/headshots/512x512/suzanne-bonamici.jpg",
                  "photo_url_sizes": {
                    "64x64": "https://cdn.civil.services/us-house/headshots/64x64/suzanne-bonamici.jpg",
                    "128x128": "https://cdn.civil.services/us-house/headshots/128x128/suzanne-bonamici.jpg",
                    "256x256": "https://cdn.civil.services/us-house/headshots/256x256/suzanne-bonamici.jpg",
                    "512x512": "https://cdn.civil.services/us-house/headshots/512x512/suzanne-bonamici.jpg",
                    "1024x1024": "https://cdn.civil.services/us-house/headshots/1024x1024/suzanne-bonamici.jpg"
                  },
                  "pronunciation": "soo-ZANN bahn-uh-MEE-chee",
                  "religion": "jewish",
                  "state_code": "OR",
                  "state_code_slug": "or",
                  "state_name": "Oregon",
                  "state_name_slug": "oregon",
                  "term_end": "2019-01-03T00:00:00.000Z",
                  "thomas": "2092",
                  "title": "representative",
                  "twitter_handle": "RepBonamici",
                  "twitter_url": "https://twitter.com/RepBonamici",
                  "vacant": null,
                  "votesmart": "59641",
                  "votesmart_url": "http://votesmart.org/candidate/59641",
                  "votesmart_url_tabs": {
                    "summary": "http://votesmart.org/candidate/59641",
                    "bio": "http://votesmart.org/candidate/biography/59641",
                    "votes": "http://votesmart.org/candidate/key-votes/59641",
                    "positions": "http://votesmart.org/candidate/political-courage-test/59641",
                    "ratings": "http://votesmart.org/candidate/evaluations/59641",
                    "speeches": "http://votesmart.org/candidate/public-statements/59641",
                    "funding": "http://votesmart.org/candidate/campaign-finance/59641"
                  },
                  "website": "https://bonamici.house.gov",
                  "wikidata": "Q45946",
                  "wikidata_url": "https://www.wikidata.org/wiki/Q45946"
                }
              ],
              "attribution": {
                "text": "Data Provided by Civil Services",
                "website": "https://civil.services",
                "link": "<a href=\"https://civil.services\">Data Provided by Civil Services</a>",
                "license": "https://raw.githubusercontent.com/CivilServiceUSA/api/master/LICENSE",
                "report_bug": "https://github.com/CivilServiceUSA/api/issues/new",
                "logo": "https://cdn.civil.services/common/logo.png",
                "icon": "https://cdn.civil.services/common/icon.png"
              }
            }

# Group Government Endpoints

This returns data for both the `/senate` & `/house` endpoints with one call.

## Government [/government/{?apikey,page,pageSize,fields,zipcode,latitude,longitude,state}]

Search for House Representative using any combination of search parameters.  You can also add any of the search parameters from either of the `/senate` & `/house` endpoints. 

+ Parameters
    + apikey (string, optional, `YOUR-API-KEY`) - Your API Key
    + page (number, optional, `1`) - Which page to load here
    + pageSize (number, optional, `50`) - Maximum Number of Results to Show
    + fields (optional, string, `house,senate`) - Comma Separated List of fields you want in the response
    + zipcode (optional, string, `97232`) - United Steps Zip Code
    + latitude (optional, float, `45.542094`) - GPS Latitude ( `longitude` required if used )
    + longitude (optional, float, `-122.9346037`) - GPS Longitude ( `latitude` required if used )
    + state (optional, string, `OR`) - State ( Full State Name or Two Letter Abbreviation )

### Example: House & Senate in Zip Code 97232 [GET]

+ Request
    + Parameters
        + latitude: `40.75368539999999`
        + longitude: `-73.9991637`

+ Response 200 (application/json; charset=utf-8)
    + Attributes
        + latitude: `40.75368539999999`
        + longitude: `-73.9991637`
        
    + Body
    
            {
              "notices": [],
              "warnings": [],
              "errors": [],
              "field_errors": {},
              "meta": {
                "total": 1,
                "showing": 1,
                "pages": 1,
                "page": 1
              },
              "data": {
                "city_council": [
                  {
                    "address_city": "New York",
                    "address_complete": "250 Broadway Suite 1823 New York, NY 10007",
                    "address_number": "250",
                    "address_prefix": null,
                    "address_sec_unit_num": "1823",
                    "address_sec_unit_type": "Suite",
                    "address_state": "NY",
                    "address_street": "Broadway",
                    "address_type": null,
                    "address_zipcode": "10007",
                    "age": 34,
                    "aliases": [
                      "Democrat Corey Johnson",
                      "Democrat Johnson",
                      "Councilor Corey Johnson",
                      "Councilor Johnson",
                      "Corey Johnson [D]",
                      "Corey Johnson (D)"
                    ],
                    "at_large": false,
                    "background_url": "https://cdn.civil.services/city-council/ny/new-york/backgrounds/1280x720/city.jpg",
                    "city_council_calendar_url": null,
                    "city_council_committees_url": "http://legistar.council.nyc.gov/Departments.aspx",
                    "city_council_legislation_url": "http://legistar.council.nyc.gov/Legislation.aspx",
                    "city_council_url": "http://council.nyc.gov/districts/",
                    "city_government_url": "http://www.nycgo.com",
                    "city_name": "New York",
                    "city_name_slug": "new-york",
                    "date_of_birth": "1982-04-28T00:00:00.000Z",
                    "district": 3,
                    "email": "district3@council.nyc.gov",
                    "entered_office": "2014-01-01T00:00:00.000Z",
                    "ethnicity": "white-american",
                    "facebook_url": "https://www.facebook.com/corey.d.johnson",
                    "first_name": "Corey",
                    "gender": "male",
                    "goes_by": null,
                    "last_name": "Johnson",
                    "latitude": 40.6643,
                    "longitude": -73.9385,
                    "middle_name": "Corey",
                    "name": "Corey Johnson",
                    "name_slug": "corey-johnson",
                    "name_suffix": null,
                    "party": "democrat",
                    "phone": "212-564-7757",
                    "photo_url": "https://cdn.civil.services/city-council/ny/new-york/headshots/512x512/corey-johnson.jpg",
                    "population": 8550405,
                    "pronunciation": null,
                    "state_code": "NY",
                    "state_code_slug": "ny",
                    "state_name": "New York",
                    "state_name_slug": "new-york",
                    "term_end": "2017-12-31T00:00:00.000Z",
                    "title": "councilor",
                    "twitter_handle": "CoreyinNYC",
                    "twitter_url": "https://twitter.com/CoreyinNYC",
                    "vacant": false
                  },
                  {
                    "address_city": "New York",
                    "address_complete": "250 Broadway Suite 1823 New York, NY 10007",
                    "address_number": "250",
                    "address_prefix": null,
                    "address_sec_unit_num": "1823",
                    "address_sec_unit_type": "Suite",
                    "address_state": "NY",
                    "address_street": "Broadway",
                    "address_type": null,
                    "address_zipcode": "10007",
                    "age": 55,
                    "aliases": [
                      "Democrat Bill De Blasio",
                      "Democrat De Blasio",
                      "Mayor Bill De Blasio",
                      "Mayor De Blasio",
                      "Bill De Blasio [D]",
                      "Bill De Blasio (D)"
                    ],
                    "at_large": false,
                    "background_url": "https://cdn.civil.services/city-council/ny/new-york/backgrounds/1280x720/city.jpg",
                    "city_council_calendar_url": null,
                    "city_council_committees_url": "http://legistar.council.nyc.gov/Departments.aspx",
                    "city_council_legislation_url": "http://legistar.council.nyc.gov/Legislation.aspx",
                    "city_council_url": "http://council.nyc.gov/districts/",
                    "city_government_url": "http://www.nycgo.com",
                    "city_name": "New York",
                    "city_name_slug": "new-york",
                    "date_of_birth": "1961-05-08T00:00:00.000Z",
                    "district": null,
                    "email": null,
                    "entered_office": "2014-01-01T00:00:00.000Z",
                    "ethnicity": "white-american",
                    "facebook_url": "https://www.facebook.com/bill.deblasio/",
                    "first_name": "Bill",
                    "gender": "male",
                    "goes_by": null,
                    "last_name": "De Blasio",
                    "latitude": 40.6643,
                    "longitude": -73.9385,
                    "middle_name": "Bill",
                    "name": "Bill De Blasio",
                    "name_slug": "bill-de-blasio",
                    "name_suffix": null,
                    "party": "democrat",
                    "phone": "212-788-3000",
                    "photo_url": "https://cdn.civil.services/city-council/ny/new-york/headshots/512x512/bill-de-blasio.jpg",
                    "population": 8550405,
                    "pronunciation": null,
                    "state_code": "NY",
                    "state_code_slug": "ny",
                    "state_name": "New York",
                    "state_name_slug": "new-york",
                    "term_end": "2017-12-31T00:00:00.000Z",
                    "title": "mayor",
                    "twitter_handle": "BilldeBlasio",
                    "twitter_url": "https://twitter.com/BilldeBlasio",
                    "vacant": false
                  },
                  {
                    "address_city": "New York",
                    "address_complete": "250 Broadway Suite 1823 New York, NY 10007",
                    "address_number": "250",
                    "address_prefix": null,
                    "address_sec_unit_num": "1823",
                    "address_sec_unit_type": "Suite",
                    "address_state": "NY",
                    "address_street": "Broadway",
                    "address_type": null,
                    "address_zipcode": "10007",
                    "age": 62,
                    "aliases": [
                      "Independent Cyrus Vance",
                      "Independent Vance",
                      "District Attorney Cyrus Vance",
                      "District Attorney Vance",
                      "Cyrus Vance [I]",
                      "Cyrus Vance (I)"
                    ],
                    "at_large": false,
                    "background_url": "https://cdn.civil.services/city-council/ny/new-york/backgrounds/1280x720/city.jpg",
                    "city_council_calendar_url": null,
                    "city_council_committees_url": "http://legistar.council.nyc.gov/Departments.aspx",
                    "city_council_legislation_url": "http://legistar.council.nyc.gov/Legislation.aspx",
                    "city_council_url": "http://council.nyc.gov/districts/",
                    "city_government_url": "http://www.nycgo.com",
                    "city_name": "New York",
                    "city_name_slug": "new-york",
                    "date_of_birth": "1954-06-14T00:00:00.000Z",
                    "district": null,
                    "email": null,
                    "entered_office": "2010-01-01T00:00:00.000Z",
                    "ethnicity": "white-american",
                    "facebook_url": "https://www.facebook.com/ManhattanDistrictAttorney",
                    "first_name": "Cyrus",
                    "gender": "male",
                    "goes_by": null,
                    "last_name": "Vance",
                    "latitude": 40.6643,
                    "longitude": -73.9385,
                    "middle_name": "Cyrus",
                    "name": "Cyrus Vance",
                    "name_slug": "cyrus-vance",
                    "name_suffix": null,
                    "party": "independent",
                    "phone": "212-335-9000",
                    "photo_url": "https://cdn.civil.services/city-council/ny/new-york/headshots/512x512/cyrus-vance.jpg",
                    "population": 8550405,
                    "pronunciation": null,
                    "state_code": "NY",
                    "state_code_slug": "ny",
                    "state_name": "New York",
                    "state_name_slug": "new-york",
                    "term_end": "2017-12-31T00:00:00.000Z",
                    "title": "district-attorney",
                    "twitter_handle": "ManhattanDA",
                    "twitter_url": "https://twitter.com/ManhattanDA",
                    "vacant": false
                  }
                ]
              },
              "attribution": {
                "text": "Data Provided by Civil Services",
                "website": "https://civil.services",
                "link": "<a href=\"https://civil.services\">Data Provided by Civil Services</a>",
                "license": "https://raw.githubusercontent.com/CivilServiceUSA/api/master/LICENSE",
                "report_bug": "https://github.com/CivilServiceUSA/api/issues/new",
                "logo": "https://cdn.civil.services/common/logo.png",
                "icon": "https://cdn.civil.services/common/icon.png"
              }
            }
            
# Group State Endpoints

The following endpoints are for specific data related to Stated within the United States

## State [/state/{state}{?apikey,page,pageSize,fields,sort,order}]

Fetch details for Specific State.

+ Parameters
    + apikey (string, optional, `YOUR-API-KEY`) - Your API Key
    + page (number, optional, `1`) - Which page to load here
    + pageSize (number, optional, `50`) - Maximum Number of Results to Show
    + fields (optional, string, `nickname,population,website`) - Comma Separated List of fields you want in the response
    + sort (optional, string, `population_rank`) - Comma Separated List of fields you want to sort by
    + order (optional, string, `asc`) - Comma Separated List of Order Methods
    + state (string, `ny`) - State you want, can be either the states abbreviation, name or slug

### Example: Information about New York [GET]

In this example, we will fetch information about the State of New York.

+ Request
    + Parameters
        + state: NY

+ Response 200 (application/json; charset=utf-8)
    + Attributes
        + state: NY
        
    + Body
    
            {
              "notices": [],
              "warnings": [],
              "errors": [],
              "field_errors": {},
              "meta": {
                "total": 1,
                "showing": 1,
                "pages": 1,
                "page": 1
              },
              "data": {
                "admission_date": "1788-07-26T00:00:00.000Z",
                "admission_number": 11,
                "capital_city": "Albany",
                "capital_url": "http://www.albanyny.org",
                "constitution_url": "https://www.dos.ny.gov/info/constitution.htm",
                "facebook_url": null,
                "landscape": {
                  "size_640x360": "https://cdn.civil.services/us-states/backgrounds/640x360/landscape/new-york.jpg",
                  "size_960x540": "https://cdn.civil.services/us-states/backgrounds/960x540/landscape/new-york.jpg",
                  "size_1280x720": "https://cdn.civil.services/us-states/backgrounds/1280x720/landscape/new-york.jpg",
                  "size_1920x1080": "https://cdn.civil.services/us-states/backgrounds/1920x1080/landscape/new-york.jpg"
                },
                "map": {
                  "large": "https://cdn.civil.services/us-states/maps/new-york-large.png",
                  "small": "https://cdn.civil.services/us-states/maps/new-york-small.png"
                },
                "nickname": "Empire State",
                "population": 19651127,
                "population_rank": 3,
                "skyline": {
                  "size_640x360": "https://cdn.civil.services/us-states/backgrounds/640x360/skyline/new-york.jpg",
                  "size_960x540": "https://cdn.civil.services/us-states/backgrounds/960x540/skyline/new-york.jpg",
                  "size_1280x720": "https://cdn.civil.services/us-states/backgrounds/1280x720/skyline/new-york.jpg",
                  "size_1920x1080": "https://cdn.civil.services/us-states/backgrounds/1920x1080/skyline/new-york.jpg"
                },
                "state_code": "NY",
                "state_code_slug": "ny",
                "state_flag": {
                  "large": "https://cdn.civil.services/us-states/flags/new-york-large.png",
                  "small": "https://cdn.civil.services/us-states/flags/new-york-small.png"
                },
                "state_name": "New York",
                "state_name_slug": "new-york",
                "state_seal": {
                  "large": "https://cdn.civil.services/us-states/seals/new-york-large.png",
                  "small": "https://cdn.civil.services/us-states/seals/new-york-small.png"
                },
                "twitter_handle": "nygov",
                "twitter_url": "https://twitter.com/nygov",
                "website": "http://www.ny.gov"
              },
              "attribution": {
                "text": "Data Provided by Civil Services",
                "website": "https://civil.services",
                "link": "<a href=\"https://civil.services\">Data Provided by Civil Services</a>",
                "license": "https://raw.githubusercontent.com/CivilServiceUSA/api/master/LICENSE",
                "report_bug": "https://github.com/CivilServiceUSA/api/issues/new",
                "logo": "https://cdn.civil.services/common/logo.png",
                "icon": "https://cdn.civil.services/common/icon.png"
              }
            }

         
## Search [/state/{?apikey,page,pageSize,fields,sort,order,name,slug,code,nickname,minPopulation,maxPopulation,admittedBefore,admittedAfter,latitude,longitude}]

Fetch details for Specific State.

+ Parameters
    + apikey (string, optional, `YOUR-API-KEY`) - Your API Key
    + page (number, optional, `1`) - Which page to load here
    + pageSize (number, optional, `50`) - Maximum Number of Results to Show
    + fields (optional, string, `nickname,population,website`) - Comma Separated List of fields you want in the response
    + sort (optional, string, `admission_number`) - Comma Separated List of fields you want to sort by
    + order (optional, string, `asc`) - Comma Separated List of Order Methods
    + name (string, optional, `New York`) - Name of State
    + slug (string, optional, `new-york`) - Name of State converted to lowercase letters and spaces replaced with dashes
    + code (string, optional, `NY`) - Two Letter State Abbreviation
    + nickname (string, optional, `Empire State`) - Official State Nickname
    + minPopulation (number, optional, `100000`) - Minimum Population of State
    + maxPopulation (number, optional, `1000000`) - Maximum Population of State
    + admittedBefore (date, optional, `1800`) - Admitted Before Date
    + admittedAfter (date, optional, `1700`) - Admitted After Date
    + latitude (optional, float, `45.542094`) - GPS Latitude ( `longitude` required if used )
    + longitude (optional, float, `-122.9346037`) - GPS Longitude ( `latitude` required if used )

### Example: Find State w/ Nickname "Empire State" [GET]

In this example, we will fetch information for a State with the Nickname "Empire State".

+ Request
    + Parameters
        + nickname: Empire State

+ Response 200 (application/json; charset=utf-8)
    + Attributes
        + nickname: Empire State
        
    + Body
    
            {
              "notices": [],
              "warnings": [],
              "errors": [],
              "field_errors": {},
              "meta": {
                "total": 1,
                "showing": 1,
                "pages": 1,
                "page": 1
              },
              "data": [
                {
                  "state_name": "New York",
                  "state_name_slug": "new-york",
                  "state_code": "NY",
                  "state_code_slug": "ny",
                  "nickname": "Empire State",
                  "website": "http://www.ny.gov",
                  "admission_date": "1788-07-26T00:00:00.000Z",
                  "admission_number": 11,
                  "capital_city": "Albany",
                  "capital_url": "http://www.albanyny.org",
                  "population": 19651127,
                  "population_rank": 3,
                  "constitution_url": "https://www.dos.ny.gov/info/constitution.htm",
                  "state_flag_url": "https://cdn.civil.services/us-states/flags/new-york-large.png",
                  "state_seal_url": "https://cdn.civil.services/us-states/seals/new-york-large.png",
                  "map_image_url": "https://cdn.civil.services/us-states/maps/new-york-large.png",
                  "landscape_background_url": "https://cdn.civil.services/us-states/backgrounds/1280x720/landscape/new-york.jpg",
                  "skyline_background_url": "https://cdn.civil.services/us-states/backgrounds/1280x720/skyline/new-york.jpg",
                  "twitter_handle": "nygov",
                  "twitter_url": "https://twitter.com/nygov",
                  "facebook_url": null
                }
              ],
              "attribution": {
                "text": "Data Provided by Civil Services",
                "website": "https://civil.services",
                "link": "<a href=\"https://civil.services\">Data Provided by Civil Services</a>",
                "license": "https://raw.githubusercontent.com/CivilServiceUSA/api/master/LICENSE",
                "report_bug": "https://github.com/CivilServiceUSA/api/issues/new",
                "logo": "https://cdn.civil.services/common/logo.png",
                "icon": "https://cdn.civil.services/common/icon.png"
              }
            }